# Step 2: Explore and Assess the Data
As described in the write up, during this step the raw data should be explored, assessed and cleaned, so that it can be used in the ETL pipeline later on. 

Main focus of this step lies on unifying the student exchange data for different years in different structures into one CSV file.

Also, the JSON file containing the institutions will be assessed and cleaned.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)

## Student exchange data
### CSV file for 2008-09
Read data for 2008-09 and assess columns.

In [2]:
students_2008 = pd.read_csv('raw_data/student_data_2008.csv', sep=';')
students_2008.info()
# we can see that the loaded dataframe for 2008 has 32 columns

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198523 entries, 0 to 198522
Data columns (total 32 columns):
HOMEINSTITUTION              198523 non-null object
COUNTRYOFHOMEINSTITUTION     198523 non-null object
AGE                          198523 non-null int64
SEX                          198523 non-null object
NATIONALITY                  198523 non-null object
SUBJECTAREA                  198523 non-null int64
LEVELSTUDY                   198523 non-null object
YEARSPRIOR                   198523 non-null int64
MOBILITYTYPE                 198523 non-null object
HOSTINSTITUTION              168193 non-null object
COUNTRYOFHOSTINSTITUTION     168193 non-null object
WORKPLACEMENT                30336 non-null object
COUNTRYOFWORKPLACEMENT       30375 non-null object
ENTERPRISESIZE               30375 non-null object
TYPEWORKSECTOR               30375 non-null object
LENGTHSTUDYPERIOD            198523 non-null float64
LENGTHWORKPLACEMENT          198523 non-null float64
SHORTDURATION                1869 non-null object
STUDYSTARTDATE               168205 non-null object
PLACEMENTSTARTDATE           30518 non-null object
CONSORTIUMAGREEMENTNUMBER    4874 non-null object
ECTSCREDITSSTUDY             198523 non-null int64
ECTSCREDITSWORK              198523 non-null int64
TOTALECTSCREDITS             198523 non-null int64
SEVSUPPLEMENT                198523 non-null float64
TAUGHTHOSTLANG               198523 non-null object
LANGUAGETAUGHT               198523 non-null object
LINGPREPARATION              198523 non-null object
STUDYGRANT                   198523 non-null float64
PLACEMENTGRANT               198523 non-null float64
PREVIOUSPARTICIPATION        198523 non-null object
QUALIFICATIONATHOST          198523 non-null object
dtypes: float64(5), int64(6), object(21)
memory usage: 48.5+ MB

In [3]:
# This will give us an idea of the content of the different columns
students_2008.head(10)

,HOMEINSTITUTION,COUNTRYOFHOMEINSTITUTION,AGE,SEX,NATIONALITY,SUBJECTAREA,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,COUNTRYOFHOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,ENTERPRISESIZE,TYPEWORKSECTOR,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,CONSORTIUMAGREEMENTNUMBER,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,TAUGHTHOSTLANG,LANGUAGETAUGHT,LINGPREPARATION,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION,QUALIFICATIONATHOST
0,D KONSTAN01,DE,25,M,DE,310,1,2,S,UK BATH01,UK,NaN,NaN,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,NaN,27,0,27,0.0,Y,EN,NN,720.0,0.00,N,N
1,D KONSTAN01,DE,24,M,DE,461,2,4,S,F PARIS007,FR,NaN,NaN,NaN,NaN,8.0,0.0,NaN,09-2008,NaN,NaN,63,0,63,0.0,Y,FR,NN,1440.0,0.00,N,N
2,D KONSTAN01,DE,23,M,DE,314,1,2,S,F MARSEIL16,FR,NaN,NaN,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,NaN,15,0,15,0.0,Y,FR,NN,720.0,0.00,N,N
3,D KONSTAN01,DE,24,F,DE,222,1,3,S,E CORDOBA01,ES,NaN,NaN,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,NaN,30,0,30,0.0,Y,ES,HS,720.0,0.00,N,N
4,EE TALLINN04,EE,22,M,EE,34,1,2,S,SF LAHTI11,FI,NaN,NaN,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,NaN,45,0,45,0.0,N,EN,NN,1727.2,0.00,N,N
5,D LEIPZIG01,DE,24,F,DE,220,2,3,S,UK CARDIFF01,UK,NaN,NaN,NaN,NaN,5.0,0.0,NaN,09-2008,NaN,NaN,20,0,20,0.0,Y,EN,NN,1185.0,0.00,N,N
6,EE TALLINN01,EE,25,F,EE,211,2,4,P,NaN,NaN,KULTURWERK BBK BERLIN,DE,M,R,0.0,5.0,NaN,NaN,01-2009,NaN,0,6,6,0.0,N,EN,NN,0.0,2031.84,N,N
7,D LEIPZIG01,DE,24,M,DE,222,2,4,S,F STRASBO01,FR,NaN,NaN,NaN,NaN,9.0,0.0,NaN,09-2008,NaN,NaN,60,0,60,0.0,Y,FR,NN,2133.0,0.00,N,N
8,D LEIPZIG01,DE,23,M,DE,222,1,2,S,B BRUXEL87,BE,NaN,NaN,NaN,NaN,5.0,0.0,NaN,09-2008,NaN,NaN,24,0,24,0.0,Y,FR,NN,1185.0,0.00,N,N
9,EE TARTU02,EE,21,F,EE,345,1,1,P,NaN,NaN,"KREEKA, JOB TRUST",GR,M,I,0.0,3.0,NaN,NaN,06-2009,NaN,0,6,6,0.0,N,EN,NN,0.0,1473.00,N,N

#### Short explanation of the different columns we see in this dataset:
* Home institution: From which instituions do students come from
* Country of home instituion: redundant information
* Age, Sex, Nationality: Some demographic information of the student
* Subject area: Could be used to find out more about the subject field, out of scope for this project
* Level study, Years prior: Details of the students prior education and study level
* Mobility type: Indicates type of mobility 
* Host institution: To which institutions to students go
* Country of host institution: redundant information
* Work placement, Country of work placement: Name and country of company in case of placement
* Enterprise size, Type of work sector: More details about the work placement company
* Length study period, Length work placement: Duration of study/work placement in months
* Short duration: Reason for program durations < 3 months, only for study types
* Study start date, Placement start date: Start month of study/placement
* Consortium agreement number: filled if placement is administered through consortium, irrelevant for this analysis
* ECTS credits study/work, total ECTS credits: number of anticipated ECTS credits per study/work and in total
* SEV Supplement: Grant awarded in Euro for special needs
* Taught host language, language taught, ling preparation: information about language of training, out of scope for this project
* Study/Placement grant: Grant awared in Euro, not including grants for special needs
* Previous participation: indicates whether the student had received an ERASMUS grant prior to this one
* Qualification at host: information on whether the student will get a double, joint degree or any other qualification at the host institution

#### Columns that will utililze the required analytics questions
This dataset would provide a lot of opportunity to analyze Erasmus student exchanges and work placements. 
Though all these would enable interesting analyses, a subset of the above explored columns will be used further on to utilize the analytical questions stated in the project scope description:
* Home institution
* Age
* Sex
* Nationality
* Level study
* Years prior
* Mobility type
* Host institution
* Work placement
* Country of work placement
* Length study/work placement
* Short duration
* Study/Placement start date
* ECTS credits study/work/total
* Study/Placement grant
* SEV supplement
* Previous participation

These columns will be further explored and assessed.

In [4]:
students_2008 = students_2008[[
    'HOMEINSTITUTION',
    'AGE',
    'SEX',
    'NATIONALITY',
    'LEVELSTUDY',
    'YEARSPRIOR',
    'MOBILITYTYPE',
    'HOSTINSTITUTION',
    'WORKPLACEMENT',
    'COUNTRYOFWORKPLACEMENT',
    'LENGTHSTUDYPERIOD',
    'LENGTHWORKPLACEMENT',
    'SHORTDURATION',
    'STUDYSTARTDATE',
    'PLACEMENTSTARTDATE',
    'ECTSCREDITSSTUDY',
    'ECTSCREDITSWORK',
    'TOTALECTSCREDITS',
    'SEVSUPPLEMENT',
    'STUDYGRANT',
    'PLACEMENTGRANT',
    'PREVIOUSPARTICIPATION'
]]

In [5]:
# checking distributions of numerical columns
students_2008.describe()

,AGE,YEARSPRIOR,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT
count,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000,198523.000000
mean,23.488679,2.770581,5.458781,0.665937,26.910630,2.262907,29.173537,3.696198,1380.027413,288.010219
std,2.535529,1.305220,3.272119,1.783168,21.415811,8.343544,20.169371,246.725630,1003.603021,783.931153
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,2.000000,4.000000,0.000000,0.000000,0.000000,15.000000,0.000000,800.000000,0.000000
50%,23.000000,3.000000,5.000000,0.000000,30.000000,0.000000,30.000000,0.000000,1271.600000,0.000000
75%,24.000000,4.000000,9.000000,0.000000,36.000000,0.000000,38.000000,0.000000,1914.000000,0.000000
max,90.000000,20.000000,12.000000,12.000000,90.000000,90.000000,90.000000,63609.980000,10382.000000,12150.000000

The distributions we see here make all sense. One interesting thing to notice though, is the maximum age of students.
Let's dig a bit deeper into students older than 50 years.

In [6]:
students_2008[students_2008.AGE > 50]

,HOMEINSTITUTION,AGE,SEX,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
622,A GRAZ23,58,F,AT,2,8,S,D GREIFS01,NaN,NaN,7.00,0.0,NaN,11-2008,NaN,35,0,35,0.0,1827.00,0.00,N
897,A WIEN01,53,M,AT,2,5,S,D TUBINGE01,NaN,NaN,4.00,0.0,NaN,10-2008,NaN,20,0,20,0.0,800.00,0.00,N
1999,A LINZ02,56,F,AT,1,2,S,I PALERMO03,NaN,NaN,4.00,0.0,NaN,02-2009,NaN,20,0,20,0.0,800.00,0.00,N
2063,A WIEN09,53,M,AT,2,2,S,IRLLETTERK01,NaN,NaN,4.00,0.0,NaN,01-2009,NaN,35,0,35,0.0,800.00,0.00,N
2082,A WIEN09,51,F,AT,2,2,S,IRLLETTERK01,NaN,NaN,4.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,800.00,0.00,N
4800,B ANTWERP59,62,M,BE,1,4,S,E VALENCI02,NaN,NaN,3.00,0.0,NaN,09-2008,NaN,0,0,0,0.0,690.00,0.00,N
8403,B GEEL07,53,M,BE,1,2,S,TR ANTALYA01,NaN,NaN,3.00,0.0,NaN,02-2009,NaN,20,0,20,0.0,780.00,0.00,N
13405,B LOUVAIN01,59,F,BE,2,3,S,IRLDUBLIN02,NaN,NaN,3.75,0.0,NaN,02-2009,NaN,30,0,30,0.0,2625.00,0.00,N
15879,D BERLIN01,56,F,DE,2,2,S,F PARIS052,NaN,NaN,4.00,0.0,NaN,09-2008,NaN,35,0,35,0.0,1120.00,0.00,N
20584,D BERLIN06,90,M,DE,1,1,S,UK CHELMSF01,NaN,NaN,9.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,1741.95,0.00,N
21001,D BOCHUM01,70,M,DE,1,5,S,I CASSINO01,NaN,NaN,10.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,2100.00,0.00,N
23731,D FREIBUR01,55,F,DE,2,3,S,F PARIS004,NaN,NaN,6.00,0.0,NaN,09-2008,NaN,14,0,14,0.0,1191.42,0.00,N
27958,DK SORO02,51,F,DK,1,2,P,NaN,TANA KOMMUNE,NO,0.00,6.0,NaN,NaN,02/2009,0,0,0,0.0,0.00,1500.00,N
29269,DK KOBENHA01,58,M,DK,1,3,S,UK GUILDFO01,NaN,NaN,12.00,0.0,NaN,08-2008,NaN,60,0,60,0.0,2400.00,0.00,N
29756,DK KOBENHA01,59,F,DK,1,3,S,B BRUXEL04,NaN,NaN,5.00,0.0,NaN,01-2009,NaN,22,0,22,0.0,1000.00,0.00,N
30667,D FRANKFU01,59,F,AT,2,4,S,A GRAZ01,NaN,NaN,5.00,0.0,NaN,03-2009,NaN,30,0,30,0.0,947.00,0.00,N
35428,DK ARHUS01,81,F,DK,1,1,S,UK LONDON110,NaN,NaN,5.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,1000.00,0.00,N
39471,D MARBURG01,59,F,DE,1,6,S,S UPPSALA01,NaN,NaN,5.00,0.0,NaN,08-2008,NaN,30,0,30,0.0,1085.94,0.00,N
44545,E BARCELO01,59,F,ES,1,2,S,I ROMA01,NaN,NaN,3.00,0.0,NaN,01-2009,NaN,30,0,30,0.0,556.54,0.00,N
47180,D STUTTGA01,71,M,DE,1,5,S,UK CRANFIE01,NaN,NaN,7.00,0.0,NaN,10-2008,NaN,30,0,30,0.0,1545.00,0.00,N
49004,D TRIER01,63,F,DE,1,8,S,LUXLUX-VIL01,NaN,NaN,7.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,1376.00,0.00,N
50302,E LA-CORU01,55,M,ES,1,15,S,P LISBOA52,NaN,NaN,9.00,0.0,NaN,10-2008,NaN,9,0,9,0.0,1674.90,0.00,N
51371,E CORDOBA01,63,F,ES,1,3,S,F MAISONS01,NaN,NaN,9.00,0.0,NaN,09-2008,NaN,90,0,90,0.0,1700.37,0.00,N
57826,E LAS-PAL01,53,F,ES,1,7,S,NL UTRECHT24,NaN,NaN,3.00,0.0,NaN,02-2009,NaN,24,0,24,0.0,531.24,0.00,N
58471,D KEHL01,54,M,DE,2,2,P,NaN,CARREFOUR DES PAYS LORRAINS,FR,0.00,4.5,NaN,NaN,06-2008,0,15,15,0.0,0.00,1800.00,N
59618,E MADRID03,59,F,ES,1,5,S,I VENEZIA01,NaN,NaN,9.00,0.0,NaN,10-2008,NaN,65,0,65,0.0,1747.17,0.00,N
65940,E MURCIA07,52,F,ES,S,1,P,NaN,NOVOTEL METZ HAUCONCOURT,FR,0.00,4.0,NaN,NaN,01-2009,0,0,0,0.0,0.00,2046.68,N
67024,E MURCIA01,54,F,ES,2,1,S,LUXLUX-VIL01,NaN,NaN,3.00,0.0,NaN,02-2009,NaN,30,0,30,1200.0,564.27,0.00,N
69504,SF HELSINK41,53,M,FI,1,3,S,P LISBOA05,NaN,NaN,4.00,0.0,NaN,10-2008,NaN,24,0,24,0.0,879.00,0.00,N
72920,SF JYVASKY01,56,F,FI,1,1,S,B LIEGE01,NaN,NaN,10.00,0.0,NaN,09-2008,NaN,50,0,50,0.0,1000.00,0.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174296,RO TIMISOA01,51,F,RO,1,5,S,D ESSEN04,NaN,NaN,5.00,0.0,NaN,10-2008,NaN,30,0,30,0.0,1950.00,0.00,N
174702,S STOCKHO01,57,F,SE,2,2,S,PL WARSZAW01,NaN,NaN,1.00,0.0,X,10-2008,NaN,6,0,6,0.0,279.70,0.00,N
174749,SK BANSKA01,51,F,SK,2,4,S,TR ANTALYA01,NaN,NaN,4.75,0.0,NaN,01-2009,NaN,23,0,23,0.0,992.75,0.00,N
176887,S VAXJO01,54,F,SE,1,1,P,NaN,CENTRO DI ACCOGLIENZA MINORI: CAM 'NICOLA PET...,IT,0.00,4.0,NaN,NaN,10-2008,0,25,25,0.0,0.00,2640.00,N
177323,RO IASI02,53,M,RO,3,7,S,E VIGO01,NaN,NaN,5.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,2250.00,0.00,N
179201,UK BELFAST01,61,F,UK,1,2,P,NaN,IES ORTEGA Y GASSET,ES,0.00,8.0,NaN,NaN,06-2008,0,0,0,0.0,0.00,3120.00,N
181308,RO IASI02,54,F,RO,2,5,P,NaN,AIDE SOCIALE A L'ENFANCE,FR,0.00,3.0,NaN,NaN,06-2009,0,10,10,0.0,0.00,2100.00,N
183673,UK BRISTOL02,52,F,UK,2,3,S,F PARIS098,NaN,NaN,3.00,0.0,NaN,09-2008,NaN,0,0,0,0.0,1155.00,0.00,N
185175,UK BIRMING03,65,F,UK,1,2,S,RO CLUJNAP06,NaN,NaN,3.00,0.0,NaN,01-2009,NaN,0,0,0,0.0,1155.00,0.00,N
185303,UK BIRMING01,64,M,UK,1,2,S,F ANGERS04,NaN,NaN,4.00,0.0,NaN,01-2009,NaN,30,0,30,0.0,1540.00,0.00,N
186575,UK BRISTOL02,53,M,UK,1,1,P,NaN,MOOG SARL,FR,0.00,10.0,NaN,NaN,09-2008,0,0,0,0.0,0.00,3900.00,N
187444,UK DEESIDE01,52,M,UK,1,2,S,BG SOFIA08,NaN,NaN,4.00,0.0,NaN,10-2008,NaN,30,0,30,0.0,980.00,0.00,N
187553,UK HULL01,54,M,UK,1,2,S,E CORDOBA01,NaN,NaN,9.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,3465.00,0.00,N
188142,UK HATFIEL01,52,F,UK,1,1,S,P LISBOA01,NaN,NaN,3.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,1155.00,0.00,N
188300,UK HULL01,62,M,UK,1,2,S,D FRANKFU08,NaN,NaN,11.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,4235.00,0.00,N
191341,UK LONDON128,61,F,UK,1,1,S,F MARSEIL51,NaN,NaN,4.00,0.0,NaN,09-2008,NaN,0,0,0,0.0,1540.00,0.00,N
191830,UK LONDON064,56,F,IT,1,1,S,I MILANO08,NaN,NaN,9.50,0.0,NaN,10-2008,NaN,62,0,62,0.0,3657.50,0.00,N
192202,UK MAIDSTO02,52,F,UK,1,1,S,A WIEN06,NaN,NaN,4.50,0.0,NaN,03-2009,NaN,30,0,30,0.0,1732.50,0.00,N
192624,UK LONDON093,53,F,NL,2,4,S,NL EINDHOV03,NaN,NaN,9.50,0.0,NaN,09-2008,NaN,90,0,90,0.0,3657.50,0.00,M
193316,UK LEICEST01,56,M,UK,1,2,P,NaN,TNT FASHION GROUP BV,FR,0.00,12.0,NaN,NaN,08-2008,0,60,60,0.0,0.00,4680.00,N
193509,UK LONDON027,63,M,UK,3,1,S,E BARCELO29,NaN,NaN,4.50,0.0,NaN,09-2008,NaN,34,0,34,0.0,1732.50,0.00,N
195300,UK KINGSTO01,60,M,UK,2,3,S,I SIENA01,NaN,NaN,4.00,0.0,NaN,02-2009,NaN,30,0,30,0.0,1540.00,0.00,N
195651,UK GLASGOW02,53,F,UK,2,5,P,NaN,COMMUNITY EDUCATION PLACEMENT,ES,0.00,4.0,NaN,NaN,02-2009,0,30,30,0.0,0.00,1560.00,N
196241,UK WOLVERH01,62,F,UK,1,2,S,F VERSAIL11,NaN,NaN,5.00,0.0,NaN,09-2008,NaN,30,0,30,0.0,1925.00,0.00,N
196258,UK SWANSEA01,65,M,UK,1,2,S,I BOLOGNA01,NaN,NaN,11.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,4235.00,0.00,N
197141,UK SALFORD01,51,F,UK,1,1,S,SF TAMPERE03,NaN,NaN,5.00,0.0,NaN,09-2008,NaN,30,0,30,0.0,1925.00,0.00,N
197502,UK LONDON029,76,F,SE,1,2,S,S UPPSALA01,NaN,NaN,4.50,0.0,NaN,09-2008,NaN,30,0,30,377.0,1732.50,0.00,N
198196,UK SWANSEA01,59,F,UK,1,2,S,I SIENA01,NaN,NaN,10.50,0.0,NaN,10-2008,NaN,60,0,60,0.0,4042.50,0.00,N
198298,UK SHEFFIE01,57,F,UK,1,2,S,CZ PLZEN01,NaN,NaN,3.00,0.0,NaN,06-2009,NaN,15,0,15,0.0,1155.00,0.00,N
198381,UK SHEFFIE01,51,F,IS,1,1,S,DK KOBENHA01,NaN,NaN,11.00,0.0,NaN,09-2008,NaN,60,0,60,0.0,4235.00,0.00,N

Although not that common, we can see students older than 50. The oldest student is even 90 years old. As we don't have the original student data (e.g. date of birth), we cannot double-check if this is really true. So we have to assume that it is.

Now we also want to check the non-numerical columns which are
* Home institution
* Sex
* Nationality
* Level study
* Mobility type
* Host institution
* Work placement
* Country of work placement
* Short duration
* Study/Placement start date
* Previous participation

for missing values and unique values to check for inconsistencies.

In [7]:
def print_unique_values(df, colname):
    values = df[colname].dropna().unique()
    print(sorted(values))

In [8]:
print_unique_values(students_2008, 'HOMEINSTITUTION')
students_2008[students_2008.HOMEINSTITUTION.isnull()]

['A  DORNBIR01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU21', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KREMS02', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ17', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON08', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL51', 'B  BRUXEL56', 'B  BRUXEL76', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  CHARLER08', 'B  DIEPENB01', 'B  EUPEN04', 'B  GEEL07', 'B  GEMBLOU01', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HAINEP02', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE07', 'B  LIEGE30', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  LOVERVA02', 'B  MECHELE14', 'B  MONS01', 'B  MONS02', 'B  MONS03', 'B  MONS11', 'B  MONS20', 'B  MORLANW03', 'B  NAMUR01', 'B  NAMUR10', 'B  NAMUR11', 'B  TOURNAI01', 'B  TOURNAI10', 'B  TOURNAI12', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOURGAS01', 'BG GABROVO01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA20', 'BG SOFIA21', 'BG SOFIA22', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA31', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VELIKO01', 'CY LARNACA01', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA23', 'CY NICOSIA24', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO10', 'CZ CESKE01', 'CZ CESKE03', 'CZ CESKE04', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KLADNO01', 'CZ KOLIN01', 'CZ LIBEREC01', 'CZ MLADA01', 'CZ NEJDEK01', 'CZ OLOMOUC01', 'CZ OLOMUC01', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ VALASSK01', 'CZ ZLIN01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN09', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN17', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BOCHUM05', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUCHSA01', 'D  BRUHL01', 'D  BUXTEHU02', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA01', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GREIFS01', 'D  GUESTRO01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG12', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISNY01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN03', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  PADERBO01', 'D  PADERBO04', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIESA01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G01', 'D  SCHWA-G02', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL-H01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  ZITTAU01', 'D  ZITTAU02', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ALBORG09', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS08', 'DK ARHUS10', 'DK ARHUS17', 'DK ARHUS26', 'DK ARHUS28', 'DK ESBJERG17', 'DK HADERSL02', 'DK HELLERU01', 'DK HERNING08', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA09', 'DK KOBENHA10', 'DK KOBENHA14', 'DK KOBENHA26', 'DK KOBENHA30', 'DK KOBENHA32', 'DK KOBENHA37', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOLDING07', 'DK KOLDING08', 'DK LYNGBY01', 'DK LYNGBY04', 'DK NYKOBIN01', 'DK ODENSE01', 'DK ODENSE02', 'DK ODENSE09', 'DK ODENSE10', 'DK ODENSE20', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK VEJLE06', 'DK VIBORG03', 'E  ALBACET01', 'E  ALBACET02', 'E  ALBACET03', 'E  ALBACET05', 'E  ALBACET06', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT02', 'E  ALICANT04', 'E  ALICANT05', 'E  ALICANT06', 'E  ALMERIA01', 'E  ALMERIA03', 'E  ALMERIA06', 'E  ALMERIA07', 'E  AVILA01', 'E  AVILA04', 'E  AVILES01', 'E  BADAJOZ01', 'E  BADAJOZ02', 'E  BADAJOZ03', 'E  BADAJOZ05', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO11', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO38', 'E  BARCELO40', 'E  BARCELO43', 'E  BARCELO47', 'E  BARCELO52', 'E  BARCELO53', 'E  BARCELO58', 'E  BARCELO62', 'E  BARCELO65', 'E  BARCELO66', 'E  BARCELO71', 'E  BARCELO75', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO14', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO34', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO45', 'E  BILBAO46', 'E  BILBAO47', 'E  BILBAO48', 'E  BILBAO49', 'E  BILBAO50', 'E  BILBAO52', 'E  BURGOS01', 'E  BURGOS02', 'E  BURGOS03', 'E  BURGOS04', 'E  BURGOS06', 'E  BURGOS10', 'E  BURGOS14', 'E  BURGOS15', 'E  BURGOS16', 'E  BURGOS17', 'E  BURGOS18', 'E  CACERES03', 'E  CADIZ01', 'E  CADIZ02', 'E  CADIZ03', 'E  CADIZ07', 'E  CADIZ09', 'E  CADIZ13', 'E  CADIZ16', 'E  CASTELL01', 'E  CASTELL03', 'E  CASTELL08', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R03', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA07', 'E  CORDOBA09', 'E  CORDOBA12', 'E  CUENCA01', 'E  CUENCA02', 'E  CUENCA06', 'E  ELCHE01', 'E  ESTELLA01', 'E  GIJON02', 'E  GIJON03', 'E  GIRONA02', 'E  GIRONA04', 'E  GIRONA05', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA07', 'E  GRANADA08', 'E  GRANADA09', 'E  GRANADA10', 'E  GRANADA11', 'E  GRANADA13', 'E  GUADALA02', 'E  GUADALA05', 'E  HUELVA01', 'E  HUELVA03', 'E  HUELVA04', 'E  HUELVA06', 'E  HUESCA01', 'E  HUESCA04', 'E  IBIZA01', 'E  IBIZA03', 'E  JAEN01', 'E  JAEN03', 'E  LA-CORU01', 'E  LA-CORU02', 'E  LA-CORU06', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL06', 'E  LEON01', 'E  LEON03', 'E  LEON04', 'E  LEON05', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LLEIDA03', 'E  LLEIDA07', 'E  LLEIDA09', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID12', 'E  MADRID14', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID29', 'E  MADRID30', 'E  MADRID31', 'E  MADRID33', 'E  MADRID35', 'E  MADRID36', 'E  MADRID37', 'E  MADRID38', 'E  MADRID39', 'E  MADRID40', 'E  MADRID41', 'E  MADRID42', 'E  MADRID43', 'E  MADRID44', 'E  MADRID50', 'E  MADRID51', 'E  MADRID53', 'E  MADRID54', 'E  MADRID55', 'E  MADRID57', 'E  MADRID58', 'E  MADRID62', 'E  MADRID64', 'E  MADRID66', 'E  MADRID67', 'E  MADRID69', 'E  MADRID73', 'E  MADRID76', 'E  MADRID78', 'E  MADRID81', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MALAGA05', 'E  MALAGA06', 'E  MALAGA07', 'E  MALAGA09', 'E  MALAGA10', 'E  MALAGA12', 'E  MALAGA13', 'E  MALAGA15', 'E  MALAGA18', 'E  MALAGA19', 'E  MALAGA20', 'E  MALAGA21', 'E  MATARO01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA07', 'E  MURCIA08', 'E  MURCIA09', 'E  MURCIA10', 'E  MURCIA12', 'E  MURCIA13', 'E  MURCIA16', 'E  OVIEDO01', 'E  OVIEDO03', 'E  OVIEDO06', 'E  OVIEDO07', 'E  OVIEDO08', 'E  OVIEDO09', 'E  PALENCI01', 'E  PALENCI03', 'E  PALMA01', 'E  PALMA04', 'E  PALMA07', 'E  PALMA09', 'E  PALMA12', 'E  PALMA15', 'E  PALMA16', 'E  PALMA18', 'E  PALMA20', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON03', 'E  PAMPLON05', 'E  PAMPLON06', 'E  PAMPLON07', 'E  PAMPLON08', 'E  PAMPLON09', 'E  PAMPLON10', 'E  PAMPLON11', 'E  PAMPLON12', 'E  PAMPLON13', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SALAMAN08', 'E  SALAMAN10', 'E  SALAMAN13', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB04', 'E  SAN-SEB06', 'E  SAN-SEB07', 'E  SAN-SEB08', 'E  SAN-SEB09', 'E  SAN-SEB11', 'E  SAN-SEB12', 'E  SAN-SEB13', 'E  SAN-SEB14', 'E  SAN-SEB15', 'E  SAN-SEB16', 'E  SAN-SEB19', 'E  SAN-SEB20', 'E  SAN-SEB21', 'E  SAN-SEB22', 'E  SAN-SEB23', 'E  SAN-SEB25', 'E  SAN-SEB26', 'E  SAN-SEB27', 'E  SAN-SEB29', 'E  SAN-SEB30', 'E  SAN-SEB31', 'E  SAN-SEB32', 'E  SAN-SEB33', 'E  SAN-SEB34', 'E  SAN-SEB36', 'E  SAN-SEB38', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND05', 'E  SANTAND06', 'E  SANTAND07', 'E  SANTAND08', 'E  SANTAND09', 'E  SANTAND10', 'E  SANTAND12', 'E  SANTAND18', 'E  SANTAND24', 'E  SANTAND26', 'E  SANTIAG01', 'E  SEGOVIA01', 'E  SEGOVIA03', 'E  SEGOVIA04', 'E  SEGOVIA08', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA06', 'E  SEVILLA08', 'E  SEVILLA09', 'E  SEVILLA13', 'E  SEVILLA14', 'E  SEVILLA18', 'E  SEVILLA20', 'E  SEVILLA21', 'E  SEVILLA23', 'E  SEVILLA27', 'E  SEVILLA31', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TARRAGO03', 'E  TARRAGO04', 'E  TARRAGO06', 'E  TARRAGO11', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF03', 'E  TENERIF04', 'E  TENERIF06', 'E  TERUEL02', 'E  TERUEL03', 'E  TOLEDO01', 'E  TOLEDO02', 'E  TOLEDO03', 'E  TOLEDO05', 'E  TORRELA01', 'E  TUDELA01', 'E  VALDES01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI12', 'E  VALENCI13', 'E  VALENCI15', 'E  VALENCI16', 'E  VALENCI25', 'E  VALENCI30', 'E  VALENCI31', 'E  VALENCI34', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO04', 'E  VALLADO06', 'E  VALLADO09', 'E  VALLADO10', 'E  VALLADO11', 'E  VALLADO15', 'E  VALLADO17', 'E  VALLADO19', 'E  VALLADO21', 'E  VALLADO23', 'E  VALLADO24', 'E  VIC01', 'E  VIGO01', 'E  VIGO02', 'E  VIGO03', 'E  VITORIA04', 'E  VITORIA05', 'E  VITORIA06', 'E  VITORIA07', 'E  VITORIA09', 'E  VITORIA10', 'E  VITORIA11', 'E  VITORIA12', 'E  VITORIA13', 'E  VITORIA15', 'E  VITORIA16', 'E  ZAMORA05', 'E  ZAMORA08', 'E  ZARAGOZ01', 'E  ZARAGOZ06', 'E  ZARAGOZ07', 'E  ZARAGOZ09', 'E  ZARAGOZ14', 'E  ZARAGOZ16', 'E  ZARAGOZ17', 'E  ZARAGOZ20', 'E  ZARAGOZ22', 'EE HARJUMA01', 'EE LAANE-V02', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLINN06', 'EE TALLINN10', 'EE TALLINN11', 'EE TALLINN12', 'EE TALLINN13', 'EE TALLINN14', 'EE TALLINN15', 'EE TALLINN16', 'EE TALLINN17', 'EE TALLINN18', 'EE TALLINN19', 'EE TARTU01', 'EE TARTU02', 'EE TARTU03', 'EE TARTU05', 'EE TARTU06', 'EE VORU01', 'EURFIESOLE01', 'F  AGEN06', 'F  ALBI04', 'F  ALBI05', 'F  ALENCON01', 'F  ALES02', 'F  AMIENS01', 'F  AMIENS05', 'F  AMIENS15', 'F  AMIENS18', 'F  ANGERS01', 'F  ANGERS04', 'F  ANGERS08', 'F  ANGERS10', 'F  ANGERS17', 'F  ANGERS23', 'F  ANGLET01', 'F  ANGOULE05', 'F  ANGOULE13', 'F  ANJOU02', 'F  ANNECY04', 'F  ANTIBES06', 'F  ARGENTE01', 'F  ARLES03', 'F  ARRAS12', 'F  AUBENAS04', 'F  AUBIERE03', 'F  AV-FONT01', 'F  AV-FONT02', 'F  AVIGNON01', 'F  AVIGNON14', 'F  AVIZE02', 'F  BASTIA06', 'F  BAYONNE07', 'F  BEAUVAI02', 'F  BELFORT06', 'F  BELFORT07', 'F  BESANCO01', 'F  BESANCO06', 'F  BESANCO14', 'F  BESANCO21', 'F  BICETRE02', 'F  BLANQUE02', 'F  BLOIS02', 'F  BLOIS05', 'F  BLOIS10', 'F  BLOIS11', 'F  BORDEAU01', 'F  BORDEAU02', 'F  BORDEAU03', 'F  BORDEAU06', 'F  BORDEAU10', 'F  BORDEAU11', 'F  BORDEAU12', 'F  BORDEAU16', 'F  BORDEAU27', 'F  BORDEAU28', 'F  BORDEAU31', 'F  BORDEAU34', 'F  BORDEAU36', 'F  BORDEAU37', 'F  BORDEAU40', 'F  BORDEAU41', 'F  BORDEAU45', 'F  BORDEAU48', 'F  BORDEAU49', 'F  BORDEAU50', 'F  BOULOGN02', 'F  BOURGES04', 'F  BOURGES09', 'F  BREST01', 'F  BREST07', 'F  BREST08', 'F  BREST09', 'F  BREST10', 'F  BREST22', 'F  BREST23', 'F  BRIVE02', 'F  BRUZ02', 'F  BRUZ04', 'F  CACHAN01', 'F  CACHAN03', 'F  CACHAN04', 'F  CAEN01', 'F  CAEN05', 'F  CALUIRE01', 'F  CANNES03', 'F  CANNES06', 'F  CASTRES03', 'F  CERGY-P01', 'F  CERGY-P06', 'F  CERGY01', 'F  CERGY03', 'F  CERGY05', 'F  CERGY07', 'F  CERGY08', 'F  CHALO-C02', 'F  CHALO-S01', 'F  CHAMBER01', 'F  CHAMBER06', 'F  CHAMBER07', 'F  CHAMBER09', 'F  CHARL-M07', 'F  CHATEAU04', 'F  CHATEAU05', 'F  CHATENA02', 'F  CHATLIN02', 'F  CHELLES02', 'F  CHENOVE01', 'F  CLERMON01', 'F  CLERMON02', 'F  CLERMON09', 'F  CLERMON10', 'F  CLERMON22', 'F  CLERMON25', 'F  CLERMON38', 'F  CLICHY01', 'F  COLMAR05', 'F  COMPIEG01', 'F  CORTE01', 'F  COURBEV04', 'F  DARDILL02', 'F  DIJON01', 'F  DIJON08', 'F  DIJON11', 'F  DIJON13', 'F  DIJON30', 'F  DOLE04', 'F  DOUAI02', 'F  DOUAI10', 'F  DUNKERQ09', 'F  EMBRUN02', 'F  EPERON01', 'F  EVRY01', 'F  EVRY04', 'F  EVRY05', 'F  FIGEAC02', 'F  FIRMINY02', 'F  FONTENA01', 'F  FORT-FR04', 'F  FORT-FR08', 'F  FORT-FR09', 'F  GIF-YVE02', 'F  GOUESNO01', 'F  GRENOBL01', 'F  GRENOBL02', 'F  GRENOBL03', 'F  GRENOBL16', 'F  GRENOBL21', 'F  GRENOBL22', 'F  GRENOBL23', 'F  GRENOBL37', 'F  GRENOBL38', 'F  GRENOBL39', 'F  GRENOBL40', 'F  GRENOBL41', 'F  GRENOBL42', 'F  GUINGAM04', 'F  GUYANCO02', 'F  ISSY-MO02', 'F  IVRY-SE01', 'F  JOUY-JO02', 'F  LA-FERR01', 'F  LA-MOTT03', 'F  LA-RO-Y09', 'F  LA-ROCH07', 'F  LA-ROCH08', 'F  LA-ROCH09', 'F  LA-ROCH10', 'F  LAROCHE01', 'F  LAVAL03', 'F  LAVAL09', 'F  LE-HAVR04', 'F  LE-HAVR10', 'F  LE-HAVR11', 'F  LE-MANS01', 'F  LE-MANS10', 'F  LE-MANS11', 'F  LE-MANS13', 'F  LE-MANS15', 'F  LEMPDES03', 'F  LENS04', 'F  LEVALLO01', 'F  LILLE01', 'F  LILLE02', 'F  LILLE03', 'F  LILLE11', 'F  LILLE13', 'F  LILLE14', 'F  LILLE15', 'F  LILLE16', 'F  LILLE24', 'F  LILLE25', 'F  LILLE45', 'F  LILLE51', 'F  LILLE75', 'F  LIMOGES01', 'F  LIMOGES05', 'F  LIMOGES20', 'F  LONGUEN02', 'F  LONGUEN03', 'F  LORIENT05', 'F  LORIENT06', 'F  LYON01', 'F  LYON02', 'F  LYON03', 'F  LYON10', 'F  LYON11', 'F  LYON12', 'F  LYON13', 'F  LYON15', 'F  LYON17', 'F  LYON18', 'F  LYON22', 'F  LYON23', 'F  LYON24', 'F  LYON25', 'F  LYON33', 'F  LYON43', 'F  LYON48', 'F  LYON57', 'F  LYON58', 'F  LYON61', 'F  LYON62', 'F  LYON66', 'F  LYON71', 'F  LYON76', 'F  LYON77', 'F  LYON78', 'F  LYON80', 'F  LYON82', 'F  LYON84', 'F  LYON86', 'F  LYON87', 'F  LYON88', 'F  LYON90', 'F  LYON91', 'F  LYON94', 'F  MAISONS01', 'F  MARSEIL01', 'F  MARSEIL02', 'F  MARSEIL03', 'F  MARSEIL06', 'F  MARSEIL11', 'F  MARSEIL16', 'F  MARSEIL17', 'F  MARSEIL51', 'F  MARSEIL55', 'F  MARSEIL56', 'F  MARSEIL77', 'F  MARSEIL82', 'F  MARSEIL83', 'F  MARSEIL86', 'F  MARVEJO02', 'F  MENTON01', 'F  MESNIER01', 'F  METZ01', 'F  METZ05', 'F  METZ18', 'F  METZ26', 'F  MONTARG04', 'F  MONTAUB06', 'F  MONTAUB07', 'F  MONTELI03', 'F  MONTPEL01', 'F  MONTPEL02', 'F  MONTPEL03', 'F  MONTPEL06', 'F  MONTPEL08', 'F  MONTPEL10', 'F  MONTPEL13', 'F  MONTPEL14', 'F  MONTPEL36', 'F  MONTPEL44', 'F  MONTPEL45', 'F  MONTPEL48', 'F  MONTPEL49', 'F  MULHOUS01', 'F  MULHOUS08', 'F  MULHOUS15', 'F  NANCY01', 'F  NANCY02', 'F  NANCY12', 'F  NANCY21', 'F  NANCY22', 'F  NANCY37', 'F  NANCY38', 'F  NANTES01', 'F  NANTES07', 'F  NANTES08', 'F  NANTES11', 'F  NANTES12', 'F  NANTES13', 'F  NANTES24', 'F  NANTES34', 'F  NANTES37', 'F  NANTES39', 'F  NANTES43', 'F  NANTES48', 'F  NANTES49', 'F  NANTES50', 'F  NANTES51', 'F  NANTES53', 'F  NANTES54', 'F  NARBONN03', 'F  NEUILLY04', 'F  NEVERS08', 'F  NICE01', 'F  NICE09', 'F  NICE33', 'F  NIMES10', 'F  NIMES11', 'F  NIMES18', 'F  NIMES19', 'F  NIORT07', 'F  NOISY02', 'F  NOISY04', 'F  NOUMEA03', 'F  ORLEANS01', 'F  ORLEANS11', 'F  ORLEANS13', 'F  ORLEANS14', 'F  ORSAY02', 'F  OYONNAX04', 'F  PALAISE01', 'F  PAMIERS03', 'F  PARIS001', 'F  PARIS002', 'F  PARIS003', 'F  PARIS004', 'F  PARIS0

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [9]:
print_unique_values(students_2008, 'SEX')
students_2008[students_2008.SEX.isnull()]

['F', 'M']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [10]:
print_unique_values(students_2008, 'NATIONALITY')
students_2008[students_2008.NATIONALITY.isnull()]

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'XX']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [11]:
print_unique_values(students_2008, 'LEVELSTUDY')
students_2008[students_2008.LEVELSTUDY.isnull()]

['1', '2', '3', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [12]:
print_unique_values(students_2008, 'MOBILITYTYPE')
students_2008[students_2008.MOBILITYTYPE.isnull()]

['C', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [13]:
print_unique_values(students_2008, 'HOSTINSTITUTION')
students_2008[students_2008.HOSTINSTITUTION.isnull()].head()

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU20', 'A  INNSBRU21', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KREMS02', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ11', 'A  LINZ17', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON08', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL01', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL51', 'B  BRUXEL56', 'B  BRUXEL76', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  GEEL07', 'B  GEMBLOU01', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HAINEP02', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE07', 'B  LIEGE30', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE43', 'B  LOUVAIN01', 'B  LOVERVA02', 'B  MECHELE14', 'B  MONS01', 'B  MONS02', 'B  MONS03', 'B  MONS20', 'B  NAMUR01', 'B  NAMUR10', 'B  TOURNAI01', 'B  TOURNAI10', 'B  TOURNAI12', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOURGAS01', 'BG GABROVO01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV07', 'BG ROUSSE01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA26', 'BG SOFIA30', 'BG STARA-Z01', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VELIKO01', 'CY LARNACA01', 'CY NICOSIA01', 'CY NICOSIA02', 'CY NICOSIA06', 'CY NICOSIA08', 'CY NICOSIA10', 'CY NICOSIA11', 'CY NICOSIA13', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ CESKE01', 'CZ CESKE03', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ LIBEREC01', 'CZ MLADA01', 'CZ OLOMOUC01', 'CZ OLOMUC01', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ ZLIN01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN09', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN17', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMERH01', 'D  BRUCHSA01', 'D  BRUHL01', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA01', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN01', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FRANKFU09', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  GELSENK01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GOTTING01', 'D  GOTTING02', 'D  GREIFS01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG12', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN03', 'D  KOLN04', 'D  KOLN07', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURTING01', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  PADERBO01', 'D  PADERBO04', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G01', 'D  SCHWA-G02', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL-H01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  ZITTAU01', 'D  ZITTAU02', 'D  ZWICKAU01', 'DK  SORO02', 'DK ALBORG01', 'DK ALBORG02', 'DK ALBORG03', 'DK ALBORG09', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS08', 'DK ARHUS10', 'DK ARHUS27', 'DK ESBJERG02', 'DK ESBJERG10', 'DK ESBJERG17', 'DK HADERSL02', 'DK HELLERU01', 'DK HERNING08', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA09', 'DK KOBENHA10', 'DK KOBENHA14', 'DK KOBENHA26', 'DK KOBENHA30', 'DK KOBENHA32', 'DK KOBENHA37', 'DK KOBENHA38', 'DK KOBENHA52', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOLDING07', 'DK KOLDING08', 'DK LYNGBY01', 'DK LYNGBY04', 'DK NAESTVE05', 'DK ODENSE01', 'DK ODENSE02', 'DK ODENSE09', 'DK ODENSE10', 'DK ODENSE16', 'DK ODENSE20', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK ROSKILD04', 'DK SLAGELS01', 'DK SONDERB06', 'DK SORO02', 'DK VEJLE06', 'DK VIBORG03', 'DK XX', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT02', 'E  ALMERIA01', 'E  AVILA01', 'E  BADAJOZ01', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO11', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO33', 'E  BARCELO59', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO19', 'E  BILBAO35', 'E  BURGOS01', 'E  CADIZ01', 'E  CADIZ02', 'E  CASTELL01', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CORDOBA01', 'E  CORDOBA04', 'E  ELCHE01', 'E  GIJON02', 'E  GIRONA02', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA10', 'E  HUELVA01', 'E  IBIZA01', 'E  JAEN01', 'E  LA-CORU01', 'E  LA-CORU02', 'E  LAS-PAL01', 'E  LEON01', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LOGRONO01', 'E  LOGRONO03', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID09', 'E  MADRID12', 'E  MADRID14', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID33', 'E  MADRID43', 'E  MADRID57', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MATARO01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  OVIEDO01', 'E  OVIEDO03', 'E  PALMA01', 'E  PALMA04', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON04', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SAN-SEB01', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND26', 'E  SANTIAG01', 'E  SANTIAG02', 'E  SANTIAG03', 'E  SEGOVIA01', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TENERIF01', 'E  VALDES01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI13', 'E  VALENCI16', 'E  VALENCI26', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO04', 'E  VALLADO09', 'E  VIC01', 'E  VIGO01', 'E  ZARAGOZ01', 'E  ZARAGOZ07', 'EE HARJUMA01', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLINN06', 'EE TALLINN10', 'EE TALLINN11', 'EE TALLINN12', 'EE TALLINN14', 'EE TALLINN16', 'EE TARTU01', 'EE TARTU02', 'EE TARTU03', 'EE TARTU05', 'EURFIESOLE01', 'F  AIX-PRO11', 'F  AIX-PRO19', 'F  ALBI05', 'F  ALES02', 'F  AMIENS01', 'F  AMIENS05', 'F  AMIENS15', 'F  AMIENS18', 'F  ANGERS01', 'F  ANGERS04', 'F  ANGERS08', 'F  ANGERS10', 'F  ANGERS15', 'F  ANGERS21', 'F  ANGERS23', 'F  ANGOULE05', 'F  ANJOU02', 'F  ANNECY04', 'F  ANTONY03', 'F  ARLES03', 'F  ARRAS12', 'F  AUBIERE03', 'F  AV-FONT01', 'F  AV-FONT02', 'F  AVIGNON01', 'F  BEAUVAI02', 'F  BELFORT06', 'F  BESANCO01', 'F  BESANCO06', 'F  BESANCO14', 'F  BESANCO20', 'F  BESANCO21', 'F  BICETRE02', 'F  BLOIS05', 'F  BLOIS11', 'F  BONNEUI01', 'F  BORDEAU01', 'F  BORDEAU02', 'F  BORDEAU03', 'F  BORDEAU10', 'F  BORDEAU11', 'F  BORDEAU12', 'F  BORDEAU16', 'F  BORDEAU27', 'F  BORDEAU28', 'F  BORDEAU36', 'F  BORDEAU37', 'F  BORDEAU40', 'F  BORDEAU41', 'F  BORDEAU45', 'F  BORDEAU48', 'F  BOULOGN02', 'F  BOURGES04', 'F  BREST01', 'F  BREST08', 'F  BREST09', 'F  BREST10', 'F  BRUZ01', 'F  CACHAN03', 'F  CACHAN04', 'F  CAEN01', 'F  CAEN05', 'F  CAEN06', 'F  CAEN11', 'F  CALUIRE01', 'F  CASTRES03', 'F  CERGY-P01', 'F  CERGY-P06', 'F  CERGY01', 'F  CERGY03', 'F  CERGY05', 'F  CERGY07', 'F  CERGY08', 'F  CHALO-C01', 'F  CHAMBER01', 'F  CHAMBER07', 'F  CHATENA02', 'F  CLERMON01', 'F  CLERMON02', 'F  CLERMON06', 'F  CLERMON09', 'F  CLERMON10', 'F  CLERMON22', 'F  CLERMON25', 'F  COMPIEG01', 'F  CORTE01', 'F  COURBEV04', 'F  DIJON01', 'F  DIJON08', 'F  DIJON11', 'F  DIJON13', 'F  DIJON30', 'F  DOUAI02', 'F  DOUAI10', 'F  DUNKERQ09', 'F  EPERON01', 'F  EVRY01', 'F  EVRY04', 'F  FONTENA01', 'F  GIF-YVE02', 'F  GRENOBL01', 'F  GRENOBL02', 'F  GRENOBL03', 'F  GRENOBL16', 'F  GRENOBL21', 'F  GRENOBL22', 'F  GRENOBL23', 'F  GRENOBL37', 'F  GRENOBL38', 'F  ISSY-MO02', 'F  JOUY-JO02', 'F  LA-RO-Y06', 'F  LA-ROCH07', 'F  LA-ROCH08', 'F  LA-ROCH09', 'F  LAROCHE01', 'F  LE-HAVR04', 'F  LE-HAVR10', 'F  LE-HAVR11', 'F  LE-MANS01', 'F  LE-MANS09', 'F  LEMPDES03', 'F  LEVALLO01', 'F  LILLE01', 'F  LILLE02', 'F  LILLE03', 'F  LILLE11', 'F  LILLE13', 'F  LILLE14', 'F  LILLE15', 'F  LILLE16', 'F  LILLE19', 'F  LILLE24', 'F  LILLE25', 'F  LILLE45', 'F  LILLE51', 'F  LIMOGES01', 'F  LIMOGES05', 'F  LIMOGES06', 'F  LIMOGES08', 'F  LIMOGES20', 'F  LONGUEN03', 'F  LOOS02', 'F  LORIENT05', 'F  LYON01', 'F  LYON02', 'F  LYON03', 'F  LYON10', 'F  LYON11', 'F  LYON12', 'F  LYON15', 'F  LYON17', 'F  LYON18', 'F  LYON22', 'F  LYON23', 'F  LYON24', 'F  LYON25', 'F  LYON33', 'F  LYON43', 'F  LYON58', 'F  LYON60', 'F  LYON61', 'F  LYON62', 'F  LYON71', 'F  MAISONS01', 'F  MARSEIL01', 'F  MARSEIL02', 'F  MARSEIL03', 'F  MARSEIL11', 'F  MARSEIL16', 'F  MARSEIL17', 'F  MARSEIL51', 'F  MARSEIL55', 'F  MARSEIL56', 'F  MARSEIL57', 'F  MARSEIL59', 'F  MARSEIL77', 'F  MENDE03', 'F  METZ01', 'F  METZ05', 'F  METZ18', 'F  MONTELI03', 'F  MONTPEL01', 'F  MONTPEL02', 'F  MONTPEL03', 'F  MONTPEL08', 'F  MONTPEL10', 'F  MONTPEL12', 'F  MONTPEL13', 'F  MONTPEL14', 'F  MONTPEL36', 'F  MONTPEL44', 'F  MONTPEL48', 'F  MULHOUS01', 'F  NANCY01', 'F  NANCY02', 'F  NANCY12', 'F  NANCY21', 'F  NANCY22', 'F  NANCY37', 'F  NANCY38', 'F  NANTES01', 'F  NANTES07', 'F  NANTES08', 'F  NANTES09', 'F  NANTES11', 'F  NANTES12', 'F  NANTES13', 'F  NANTES34', 'F  NANTES37', 'F  NANTES39', 'F  NANTES43', 'F  NICE01', 'F  NICE09', 'F  NIMES10', 'F  NIMES17', 'F  NOISY02', 'F  NOUMEA03', 'F  ORLEANS01', 'F  ORLEANS07', 'F  ORLEANS13', 'F  PALAISE01', 'F  PARIS001', 'F  PARIS002', 'F  PARIS003', 'F  PARIS004', 'F  PARIS005', 'F  PARIS006', 'F  PARIS007', 'F  PARIS008', 'F  PARIS009', 'F  PARIS010', 'F  PARIS011', 'F  PARIS012', 'F  PARIS013', 'F  PARIS014', 'F  PARIS026', 'F  PARIS035', 'F  PARIS037', 'F  PARIS047', 'F  PARIS052', 'F  PARIS054', 'F  PARIS056', 'F  PARIS057', 'F  PARIS062', 'F  PARIS063', 'F  PARIS064', 'F  PARIS066', 'F  PARIS068', 'F  PARIS077', 'F  PARIS080', 'F  PARIS081', 'F  PARIS083', 'F  PARIS085', 'F  PARIS086', 'F  PARIS087', 'F  PARIS089', 'F  PARIS092', 'F  PARIS098', 'F  PARIS100', 'F  PARIS104', 'F  PARIS105', 'F  PARIS110', 'F  PARIS113', 'F  PARIS116', 'F  PARIS117', 'F  PARIS119', 'F  PARIS126', 'F  PARIS129', 'F  PARIS160', 'F  PARIS174', 'F  PARIS178', 'F  PARIS190', 'F  PARIS213', 'F  PARIS215', 'F  PARIS222', 'F  PARIS225', 'F  PARIS226', 'F  PARIS236', 'F  PARIS244', 'F  PARIS247', 'F  PARIS256', 'F  PARIS258', 'F  PARIS270', 'F  PARIS294', 'F  PARIS317', 'F  PARIS318', 'F  PARIS319', 'F  PARIS321', 'F  PARIS322', 'F  PARIS323', 'F  PARIS325', 'F  PARIS326', 'F  PARIS327', 'F  PARIS329', 'F  PARIS332', 'F  PARIS342', 'F  PAU01', 'F  PAU12', 'F  PERPIGN01', 'F  PERPIGN12', 'F  POINT-P05', 'F  POITIER01', 'F  POITIER05', 'F  POITIER06', 'F  POITIER07', 'F  QUIMPER09', 'F  REIMS01', 'F  REIMS06', 'F  REIMS09', 'F  REIMS23', 'F  RENNES01', 'F  RENNES02', 'F  RENNES09', 'F  RENNES10', 'F  RENNES14', 'F  RENNES15', 'F  RENNES16', 'F  RENNES22', 'F  RENNES26', 'F  RENNES27', 'F  RENNES28', 'F  RENNES32', 'F  RENNES39', 'F  RENNES43', 'F  RENNES46', 'F  RENNES47', 'F  RETHEL01', 'F  ROUBAIX03', 'F  ROUBAIX09', 'F  ROUEN01', 'F  ROUEN06', 'F  ROUEN07', 'F  ROUEN09', 'F  ROUEN10', 'F  ROUEN19', 'F  SCEAUX01', 'F  ST-DENI01', 'F  ST-ETIE01', 'F  ST-ETIE05', 'F  ST-ETIE06', 'F  ST-ETIE08', 'F  ST-ETIE16', 'F  ST-ETIE17', 'F  ST-ETIE18', 'F  ST-OUEN02', 'F  STRASBO01', 'F  STRASBO02', 'F  STRASBO03', 'F  STRASBO12', 'F  STRASBO16', 'F  STRASBO25', 'F  STRASBO30', 'F  STRASBO31', 'F  STRASBO41', 'F  TARBES03', 'F  TOULON01', 'F  TOULON03', 'F  TOULON09', 'F  TOULOUS01', 'F  TOULOUS02', 'F  TOULOUS03', 'F  TOULOUS08', 'F  TOULOUS114', 'F  TOULOUS14', 'F  TOULOUS15', 'F  TOULOUS16', 'F  TOULOUS17', 'F  TOULOUS18', 'F  TOULOUS19', 'F  TOULOUS22', 'F  TOULOUS23', 'F  TOULOUS24', 'F  TOULOUS28', 'F  TOULOUS35', 'F  TOULOUS41', 'F  TOULOUS42', 'F  TOULOUS48', 'F  TOULOUS50', 'F  TOULOUS61', 'F  TOURCOI06', 'F  TOURS01', 'F  TROYES07', 'F  TROYES08', 'F  TROYES11', 'F  VALBONN01', 'F  VALENCI01', 'F  VANNES04', 'F  VAULX-V02', 'F  VERSAIL03', 'F  VERSAIL05', 'F  VERSAIL11', 'F  XX', 'G  ARTA01', 'G  ATHINE01', 'G  ATHINE02', 'G  ATHINE03', 'G  ATHINE04', 'G  ATHINE06', 'G  ATHINE34', 'G  ATHINE41', 'G  ATHINE42', 'G  ATHINE52', 'G  CHANIA01', 'G  EGALEO01', 'G  IOANNIN01', 'G  KALAMAT01', 'G  KALLITH01', 'G  KALLITH02', 'G  KAVALA01', 'G  KOMOTIN01', 'G  KOZANI01', 'G  KOZANI02', 'G  KRITI09', 'G  KRITIS01', 'G  KRITIS04', 'G  LAMIA02', 'G  LARISSA02', 'G  MESOLO01', 'G  PATRA01', 'G  PATRA04', 'G  PIREAS01', 'G  SERRES01', 'G  THESSAL01', 'G  THESSAL02', 'G  THESSAL12', 'G  TRIPOLI03', 'G  VOLOS01', 'G  ZAKYNTH01', 'HU BAJA01', 'HU BEKESCS01', 'HU BUDAPES01', 'HU BUDAPES02', 'HU BUDAPES03', 'HU BUDAPES08', 'HU BUDAPES10', 'HU BUDAPES12', 'HU BUDAPES16', 'HU BUDAPES20', 'HU BUDAPES25', 'HU BUDAPES26', 'HU BUDAPES27', 'HU BUDAPES28', 'HU BUDAPES29', 'HU BUDAPES30', 'HU BUDAPES37', 'HU BUDAPES41', 'HU BUDAPES44', 'HU BUDAPES45', 'HU BUDAPES46', 'HU BUDAPES47', 'HU DEBRECE01', 'HU DEBRECE04', 'HU DEBRECE05', 'HU EGER01', 'HU GODOLLO01', 'HU GYONGY01', 'HU GYOR01', 'HU KAPOSVA01', 'HU KECSKEM02', 'HU KECSKEM03', 'HU MISKOLC01', 'HU NYIREGY04', 'HU PECS01', 'HU SOPRON01', 'HU SZEGED01', 'HU SZFVAR01', 'HU SZOLNOK01', 'HU VESZPRE01', 'HU XX', 'I  ALESSAN01', 'I  ANCONA01', 'I  AOSTA01', 'I  AOSTA02', 'I  BARI01', 'I  BARI02', 'I  BARI05', 'I  BENEVEN02', 'I  BERGAMO01', 'I  BOLOGNA01', 'I  BOLOGNA03', 'I  BOLOGNA04', 'I  BOLZANO01', 'I  BRESCIA01', 'I  BRESCIA04', 'I  BRESCIA05', 'I  CAGLIAR01', 'I  CALTANI01', 'I  CAMERIN01', 'I  CAMPOBA01', 'I  CAMPOBA03', 'I  CARRARA01', 'I  CASAMAS01', 'I  CASSINO01', 'I  CASTELF01', 'I  CASTELL01', 'I  CATANIA01', 'I  CATANIA03', 'I  CATANZA02', 'I  CESENA01', 'I  CHIETI01', 'I  COMO04', 'I  COSENZA01', 'I  COSENZA03', 'I  ENNA01', 'I  FAENZA01', 'I  FERMO01', 'I  FERRARA01', 'I  FIRENZE01', 'I  FIRENZE03', 'I  FIRENZE04', 'I  FIRENZE05', 'I  FOGGIA01', 'I  FOGGIA03', 'I  FORLI01', 'I  FROSINO01', 'I  GENOVA01', 'I  GENOVA02', 'I  GENOVA03', 'I  L-AQUIL01', 'I  L-AQUIL03', 'I  L-AQUIL04', 'I  LECCE01', 'I  LECCE02', 'I  MACERAT01', 'I  MACERAT02', 'I  MANTOVA01', 'I  MESSINA01', 'I  MILANO01', 'I  MILANO02', 'I  MILANO03', 'I  MILANO04', 'I  MILANO05', 'I  MILANO08', 'I  MILANO09', 'I  MILANO11', 'I  MILANO12', 'I  MILANO14', 'I  MILANO15', 'I  MILANO16', 'I  MODENA01', 'I  NAPOLI01', 'I  NAPOLI02', 'I  NAPOLI03', 'I  NAPOLI04', 'I  NAPOLI06', 'I  NAPOLI09', 'I  PADOVA01', 'I  PALERMO01', 'I  PALERMO03', 'I  PALERMO05', 'I  PARMA01', 'I  PARMA02', 'I  PAVIA01', 'I  PERUGIA01', 'I  PERUGIA03', 'I  PERUGIA04', 'I  PERUGIA06', 'I  PIACENZ01', 'I  PISA01', 'I  PISA02', 'I  POTENZA01', 'I  RAVENNA01', 'I  REGGIO01', 'I  REGGIO03', 'I  ROMA01', 'I  ROMA02', 'I  ROMA03', 'I  ROMA04', 'I  ROMA05', 'I  ROMA06', 'I  ROMA09', 'I  ROMA12', 'I  ROMA14', 'I  ROMA16', 'I  ROMA17', 'I  ROMA18', 'I  ROMA19', 'I  ROMA20', 'I  ROMA23', 'I  ROVIGO01', 'I  SALERNO01', 'I  SASSARI01', 'I  SIENA01', 'I  SIENA02', 'I  TERAMO01', 'I  TERNI01', 'I  TORINO01', 'I  TORINO02', 'I  TORINO04', 'I  TORINO05', 'I  TRENTO01', 'I  TRENTO02', 'I  TRIESTE01', 'I  TRIESTE02', 'I  TRIESTE03', 'I  UDINE01', 'I  URBINO01', 'I  URBINO03', 'I  URBINO05', 'I  VARESE02', 'I  VENEZIA01', 'I  VENEZIA02', 'I  VENEZIA03', 'I  VENEZIA04', 'I  VERCELL01', 'I  VERONA01', 'I  VERONA02', 'I  VICENZA02', 'I  VITERBO01', 'IRLATHLONE01', 'IRLBLACKRO03', 'IRLCARLOW01', 'IRLCORK01', 'IRLCORK04', 'IRLDUBLIN01', 'IRLDUBLIN02', 'IRLDUBLIN03', 'IRLDUBLIN04', 'IRLDUBLIN07', 'IRLDUBLIN10', 'IRLDUBLIN14', 'IRLDUBLIN15', 'IRLDUBLIN17', 'IRLDUBLIN22', 'IRLDUBLIN27', 'IRLDUBLIN33', 'IRLDUBLIN34', 'IRLDUBLIN35', 'IRLDUNDALK01', 'IRLGALWAY01', 'IRLGALWAY02', 'IRLKILDARE01', 'IRLLETTERK01', 'IRLLIMERIC01', 'IRLLIMERIC02', 'IRLLIMERIC04', 'IRLMAYNOOT01', 'IRLSHANNON01', 'IRLSLIGO01', 'IRLSLIGO02', 'IRLTALLAGH02', 'IRLTHURLES02', 'IRLTRALEE01', 'IRLWATER

,HOMEINSTITUTION,AGE,SEX,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
6,EE TALLINN01,25,F,EE,2,4,P,NaN,KULTURWERK BBK BERLIN,DE,0.0,5.0,NaN,NaN,01-2009,0,6,6,0.0,0.0,2031.84,N
9,EE TARTU02,21,F,EE,1,1,P,NaN,"KREEKA, JOB TRUST",GR,0.0,3.0,NaN,NaN,06-2009,0,6,6,0.0,0.0,1473.00,N
11,EE TALLINN04,20,F,EE,1,2,P,NaN,"CLAUSTHAL UT, LABORATORY OF NON-METALLIC MATER...",DE,0.0,3.0,NaN,NaN,06-2009,0,5,5,0.0,0.0,1336.30,N
13,EE TARTU02,24,F,EE,1,2,P,NaN,ESCOLA SUPERIOR DE TECNOLOGIA DA SALUDE DE LISBOA,PT,0.0,3.0,NaN,NaN,02-2009,0,18,18,0.0,0.0,1570.00,N
15,EE TALLINN12,23,F,EE,1,4,P,NaN,LISBOA HOSPITAL,PT,0.0,3.0,NaN,NaN,02-2009,0,18,18,0.0,0.0,1531.75,N

In [14]:
# host institution should be available for mobility types S & C, check if this is the case
print_unique_values(students_2008[students_2008.HOSTINSTITUTION.isnull()], 'MOBILITYTYPE')

['P']

In [15]:
# check if every P mobility type student has a work placement set
students_2008[(students_2008.MOBILITYTYPE == 'P') & 
              (students_2008.WORKPLACEMENT.isnull())].head()

,HOMEINSTITUTION,AGE,SEX,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
4634,B LEUVEN18,21,M,BE,1,2,P,NaN,NaN,FR,0.0,3.0,NaN,NaN,02-2009,0,0,0,0.0,0.0,1646.43,N
4636,B LEUVEN18,24,F,BE,1,2,P,NaN,NaN,IE,0.0,3.0,NaN,NaN,02-2009,0,0,0,0.0,0.0,1993.51,N
4638,B GENT39,22,F,BE,1,2,P,NaN,NaN,DE,0.0,3.0,NaN,NaN,03-2009,0,0,0,0.0,0.0,1313.46,N
4648,B GENT39,21,F,BE,1,2,P,NaN,NaN,IE,0.0,3.0,NaN,NaN,03-2009,0,0,0,0.0,0.0,1601.23,N
4823,B GENT39,21,F,BE,1,2,P,NaN,NaN,NL,0.0,3.0,NaN,NaN,03-2009,0,0,0,0.0,0.0,1444.92,N

In [16]:
print_unique_values(students_2008, 'COUNTRYOFWORKPLACEMENT')

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [17]:
# check if every P mobility type student has a country of work placement set
students_2008[(students_2008.MOBILITYTYPE == 'P') & 
              (students_2008.COUNTRYOFWORKPLACEMENT.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [18]:
print_unique_values(students_2008, 'SHORTDURATION')

['T', 'X']

In [19]:
# check if all mobility students with a duration less than 3 months have a short duration type set
students_2008[(students_2008.MOBILITYTYPE != 'P') & 
              (students_2008.LENGTHSTUDYPERIOD < 3) & 
              (students_2008.SHORTDURATION.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [20]:
print_unique_values(students_2008, 'STUDYSTARTDATE')

['01-2008', '01-2009', '01/2008', '01/2009', '02-1009', '02-2007', '02-2008', '02-2009', '02-2209', '02/2008', '02/2009', '03-1009', '03-2008', '03-2009', '03-3009', '03/2008', '03/2009', '04-2008', '04-2009', '04/2008', '04/2009', '05-2008', '05-2009', '05/2009', '06-2008', '06-2009', '06/2008', '06/2009', '07-2008', '07-2009', '07/2008', '07/2009', '08-2008', '08-2009', '08/2007', '08/2008', '09-1008', '09-2008', '09-2009', '09-2208', '09/2007', '09/2008', '09/2009', '10-2008', '10-2208', '10/2007', '10/2008', '11-2008', '11/2008', '12-2008', '12/2008']

In [21]:
# all mobility student types (S & C) should have a study start date set
students_2008[(students_2008.MOBILITYTYPE != 'P') & 
              (students_2008.STUDYSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [22]:
# check invalid dates
students_2008[(students_2008.STUDYSTARTDATE == '09-2208')].head()

,HOMEINSTITUTION,AGE,SEX,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
154735,PL BIALYST05,22,M,PL,1,1,S,LT VILNIUS06,NaN,NaN,10.0,0.0,NaN,09-2208,NaN,63,0,63,0.0,2300.0,0.0,N

In [23]:
print_unique_values(students_2008, 'PLACEMENTSTARTDATE')

['01-2009', '01/2009', '02-2009', '02/2009', '03-2009', '03/2009', '04-2009', '04/2009', '05-2009', '05/2009', '06-2008', '06-2009', '06/2008', '06/2009', '07-2008', '07-2009', '07/2008', '07/2009', '08-2008', '08-2009', '08/2008', '08/2009', '09-2008', '09-2009', '09/2008', '09/2009', '10-2008', '10-2009', '10/2008', '11-2008', '11/2008', '12-2008', '12/2008']

In [24]:
# all placement students (P) should have a placement start date set
students_2008[(students_2008.MOBILITYTYPE == 'P') & 
              (students_2008.PLACEMENTSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [25]:
print_unique_values(students_2008, 'PREVIOUSPARTICIPATION')
students_2008[students_2008.PREVIOUSPARTICIPATION.isnull()]

['M', 'N', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, SEX, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

#### Outcome of data quality assessment for 2008 data

* Nationality: XX is not a valid country code and will be replaced with NULL
* Work placement / Country of work placement: Work placement itself might be NULL, Country of work placement is always set
* Study start date: inconsistencies in format found: mm/yyyy and mm-yyyy; also inavlid dates found (e.g. 10-2208) where from a logical perspective only dates from 2008 and 2009 make sense and the invalid dates might origin from typos
* Placement start date: inconsistencies in format found: mm/yyyy and mm-yyyy

Next step is to clean the 2008 data:

In [26]:
students_2008_cleaned = students_2008
students_2008_cleaned.NATIONALITY = students_2008_cleaned.NATIONALITY.replace({'XX': None})
students_2008_cleaned.STUDYSTARTDATE = students_2008_cleaned.STUDYSTARTDATE.str.replace('/', '-')
students_2008_cleaned.PLACEMENTSTARTDATE = students_2008_cleaned.PLACEMENTSTARTDATE.str.replace('/', '-')
# how many rows did we have in the beginning?
students_2008_cleaned.shape[0]

198523

In [27]:
# filtering rows with invalid study start dates
students_2008_cleaned = students_2008_cleaned[
    (students_2008_cleaned.STUDYSTARTDATE.str.slice(3,7).isin(['2008', '2009'])) |
    (students_2008_cleaned.STUDYSTARTDATE.isnull())]
students_2008_cleaned.shape[0]

198486

In [28]:
# filtering rows with invalid placement start dates
students_2008_cleaned = students_2008_cleaned[
    (students_2008_cleaned.PLACEMENTSTARTDATE.str.slice(3,7).isin(['2008', '2009'])) |
    (students_2008_cleaned.PLACEMENTSTARTDATE.isnull())]
students_2008_cleaned.shape[0]

198486

### CSV file for 2009-10
Read data for 2009-10 and assess columns.

In [29]:
students_2009 = pd.read_csv('raw_data/student_data_2009.csv', sep=';')
students_2009.info()
# we can see that the loaded dataframe for 2009 has 32 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213266 entries, 0 to 213265
Data columns (total 32 columns):
HOMEINSTITUTION              213266 non-null object
COUNTRYOFHOMEINSTITUTION     213266 non-null object
AGE                          213266 non-null int64
GENDER                       213266 non-null object
NATIONALITY                  213266 non-null object
SUBJECTAREA                  213266 non-null int64
LEVELSTUDY                   213266 non-null object
YEARSPRIOR                   213266 non-null int64
MOBILITYTYPE                 213266 non-null object
HOSTINSTITUTION              177705 non-null object
COUNTRYOFHOSTINSTITUTION     177705 non-null object
WORKPLACEMENT                35562 non-null object
COUNTRYOFWORKPLACEMENT       35563 non-null object
ENTERPRISESIZE               35563 non-null object
TYPEWORKSECTOR               35563 non-null object
LENGTHSTUDYPERIOD            213266 non-null float64
LENGTHWORKPLACEMENT          213266 non-null float64
SHORTDURATION                2205 non-null object
STUDYSTARTDATE               177746 non-null object
PLACEMENTSTARTDATE           35610 non-null object
CONSORTIUMAGREEMENTNUMBER    5508 non-null object
ECTSCREDITSSTUDY             213266 non-null int64
ECTSCREDITSWORK              213266 non-null int64
TOTALECTSCREDITS             213266 non-null int64
SEVSUPPLEMENT                213266 non-null float64
TAUGHTHOSTLANG               213266 non-null object
LANGUAGETAUGHT               213266 non-null object
LINGPREPARATION              213266 non-null object
STUDYGRANT                   213266 non-null int64
PLACEMENTGRANT               213266 non-null int64
PREVIOUSPARTICIPATION        213266 non-null object
QUALIFICATIONATHOST          213266 non-null object
dtypes: float64(3), int64(8), object(21)
memory usage: 52.1+ MB

In [30]:
students_2009.head(10)

,HOMEINSTITUTION,COUNTRYOFHOMEINSTITUTION,AGE,GENDER,NATIONALITY,SUBJECTAREA,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,COUNTRYOFHOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,ENTERPRISESIZE,TYPEWORKSECTOR,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,CONSORTIUMAGREEMENTNUMBER,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,TAUGHTHOSTLANG,LANGUAGETAUGHT,LINGPREPARATION,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION,QUALIFICATIONATHOST
0,B LEUVEN01,BE,20,F,BE,34,1,2,S,F POITIER01,FR,NaN,NaN,NaN,NaN,3.5,0.0,NaN,09-2009,NaN,NaN,30,0,30,0.0,Y,FR,NN,630,0,N,N
1,F TOULOUS23,FR,23,M,FR,22,2,3,S,DK ARHUS03,DK,NaN,NaN,NaN,NaN,5.0,0.0,NaN,01-2010,NaN,NaN,30,0,30,0.0,N,EN,NN,912,0,N,N
2,F TOULOUS23,FR,22,F,FR,22,1,1,S,NL GRONING03,NL,NaN,NaN,NaN,NaN,10.0,0.0,NaN,09-2009,NaN,NaN,60,0,60,0.0,N,EN,NN,1823,0,N,N
3,F TOULOUS23,FR,22,M,FR,22,2,3,S,D OESTRIC01,DE,NaN,NaN,NaN,NaN,4.5,0.0,NaN,01-2010,NaN,NaN,30,0,30,0.0,Y,DE,NN,821,0,N,N
4,F TOULOUS23,FR,22,M,FR,22,2,3,S,SI LJUBLJA01,SI,NaN,NaN,NaN,NaN,4.0,0.0,NaN,02-2010,NaN,NaN,30,0,30,0.0,N,EN,NN,729,0,N,N
5,F TOULOUS23,FR,21,M,FR,22,2,3,S,I CASTELL01,IT,NaN,NaN,NaN,NaN,4.0,0.0,NaN,02-2010,NaN,NaN,30,0,30,0.0,N,EN,NN,729,0,N,N
6,F TOULOUS23,FR,23,F,FR,22,2,3,S,SF HELSINK02,FI,NaN,NaN,NaN,NaN,4.5,0.0,NaN,01-2010,NaN,NaN,30,0,30,0.0,N,EN,NN,821,0,N,N
7,F TOULOUS23,FR,21,F,FR,22,2,3,S,D KOBLENZ03,DE,NaN,NaN,NaN,NaN,4.0,0.0,NaN,01-2010,NaN,NaN,30,0,30,0.0,Y,DE,NN,729,0,N,N
8,F TOULOUS23,FR,19,F,FR,22,1,1,S,UK UXBRIDG01,UK,NaN,NaN,NaN,NaN,10.0,0.0,NaN,09-2009,NaN,NaN,60,0,60,0.0,Y,EN,NN,1823,0,N,N
9,F STRASBO25,FR,22,F,FR,22,2,3,P,NaN,NaN,INTERSECTION MAGAZINE,UK,S,J,0.0,8.0,NaN,NaN,10-2009,NaN,0,60,60,0.0,N,EN,NN,0,2800,N,N

The 2009 data has the same columns as the 2008 data. Let's have a look on the data quality of the selected columns we will use for analytics.

In [31]:
students_2009 = students_2009[[
    'HOMEINSTITUTION',
    'AGE',
    'GENDER',
    'NATIONALITY',
    'LEVELSTUDY',
    'YEARSPRIOR',
    'MOBILITYTYPE',
    'HOSTINSTITUTION',
    'WORKPLACEMENT',
    'COUNTRYOFWORKPLACEMENT',
    'LENGTHSTUDYPERIOD',
    'LENGTHWORKPLACEMENT',
    'SHORTDURATION',
    'STUDYSTARTDATE',
    'PLACEMENTSTARTDATE',
    'ECTSCREDITSSTUDY',
    'ECTSCREDITSWORK',
    'TOTALECTSCREDITS',
    'SEVSUPPLEMENT',
    'STUDYGRANT',
    'PLACEMENTGRANT',
    'PREVIOUSPARTICIPATION'
]]
students_2009.describe()

,AGE,YEARSPRIOR,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT
count,213266.000000,213266.000000,213266.000000,213266.000000,213266.000000,213266.00000,213266.000000,213266.000000,213266.000000,213266.000000
mean,22.646845,2.762541,5.328737,0.707532,28.498138,2.31237,30.810509,2.726244,1259.128164,273.194902
std,2.596557,1.320145,3.288474,1.807475,20.879139,8.30807,19.317489,118.213993,985.916508,716.278802
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,2.000000,4.000000,0.000000,15.000000,0.00000,19.000000,0.000000,690.000000,0.000000
50%,22.000000,3.000000,5.000000,0.000000,30.000000,0.00000,30.000000,0.000000,1214.000000,0.000000
75%,24.000000,4.000000,9.000000,0.000000,39.000000,0.00000,40.000000,0.000000,1732.000000,0.000000
max,75.000000,20.000000,12.000000,12.000000,90.000000,90.00000,90.000000,16912.500000,10860.000000,13032.000000

In [32]:
print_unique_values(students_2009, 'HOMEINSTITUTION')
students_2009[students_2009.HOMEINSTITUTION.isnull()]

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST02', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU21', 'A  INNSBRU23', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ11', 'A  LINZ17', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN66', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON08', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL51', 'B  BRUXEL56', 'B  BRUXEL76', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  CHARLER08', 'B  DIEPENB01', 'B  DIEPENB07', 'B  EUPEN04', 'B  GEEL07', 'B  GEMBLOU01', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HAINEP02', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE07', 'B  LIEGE30', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  LOVERVA02', 'B  MECHELE14', 'B  MONS01', 'B  MONS02', 'B  MONS03', 'B  MONS11', 'B  MONS20', 'B  MORLANW03', 'B  NAMUR01', 'B  NAMUR10', 'B  NAMUR11', 'B  TOURNAI01', 'B  TOURNAI10', 'B  TOURNAI12', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOURGAS01', 'BG BOURGAS02', 'BG GABROVO01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG PLOVDIV09', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA22', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA30', 'BG SOFIA31', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VARNA05', 'BG VELIKO01', 'BG VELIKO02', 'CY LARNACA01', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA13', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA23', 'CY NICOSIA24', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO09', 'CZ BRNO10', 'CZ CESKE01', 'CZ CESKE04', 'CZ EASLAV01', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KLADNO01', 'CZ LIBEREC01', 'CZ MLADA01', 'CZ OLOMOUC01', 'CZ OLOMOUC02', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA23', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ PRAHA29', 'CZ PREROV01', 'CZ PREROV02', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ ZLIN01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAUTZEN01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN22', 'D  BERLIN23', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BOCHUM05', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  BUXTEHU02', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA01', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN01', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GREIFS01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG12', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  ISNY01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KIEL01', 'D  KIEL03', 'D  KIEL04', 'D  KIEL05', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN03', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ05', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURNBER04', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  PADERBO01', 'D  PADERBO04', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIEDLIN01', 'D  RIESA01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G01', 'D  SCHWA-G02', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA09', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL-H01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  ZITTAU01', 'D  ZITTAU02', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ALBORG03', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS08', 'DK ARHUS10', 'DK ARHUS17', 'DK ARHUS26', 'DK ARHUS27', 'DK ESBJERG02', 'DK ESBJERG10', 'DK HADERSL02', 'DK HELLERU01', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA09', 'DK KOBENHA10', 'DK KOBENHA14', 'DK KOBENHA26', 'DK KOBENHA30', 'DK KOBENHA32', 'DK KOBENHA37', 'DK KOBENHA38', 'DK KOBENHA52', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOLDING07', 'DK KOLDING08', 'DK LYNGBY01', 'DK LYNGBY04', 'DK NAESTVE05', 'DK NYKOBIN01', 'DK ODENSE01', 'DK ODENSE02', 'DK ODENSE09', 'DK ODENSE10', 'DK ODENSE16', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK ROSKILD04', 'DK SORO02', 'DK VEJLE01', 'DK VEJLE06', 'DK VIBORG03', 'E  ALBACET01', 'E  ALBACET02', 'E  ALBACET06', 'E  ALBACET09', 'E  ALBACET11', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT02', 'E  ALICANT04', 'E  ALICANT05', 'E  ALICANT08', 'E  ALICANT10', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT14', 'E  ALICANT16', 'E  ALICANT17', 'E  ALICANT18', 'E  ALICANT21', 'E  ALICANT24', 'E  ALICANT25', 'E  ALICANT26', 'E  ALICANT27', 'E  ALMERIA01', 'E  ALMERIA04', 'E  ALMERIA08', 'E  ALMERIA09', 'E  ALMERIA10', 'E  ALMERIA12', 'E  AVILA01', 'E  AVILA05', 'E  AVILES02', 'E  BADAJOZ01', 'E  BADAJOZ02', 'E  BADAJOZ03', 'E  BADAJOZ05', 'E  BADAJOZ11', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO11', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO36', 'E  BARCELO38', 'E  BARCELO39', 'E  BARCELO40', 'E  BARCELO42', 'E  BARCELO43', 'E  BARCELO44', 'E  BARCELO46', 'E  BARCELO47', 'E  BARCELO48', 'E  BARCELO50', 'E  BARCELO51', 'E  BARCELO52', 'E  BARCELO53', 'E  BARCELO56', 'E  BARCELO58', 'E  BARCELO63', 'E  BARCELO65', 'E  BARCELO67', 'E  BARCELO70', 'E  BARCELO74', 'E  BARCELO89', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO14', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO26', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO31', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO40', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO45', 'E  BILBAO46', 'E  BILBAO48', 'E  BILBAO49', 'E  BILBAO50', 'E  BILBAO52', 'E  BILBAO55', 'E  BURGOS01', 'E  BURGOS02', 'E  BURGOS03', 'E  BURGOS04', 'E  BURGOS06', 'E  BURGOS10', 'E  BURGOS14', 'E  BURGOS15', 'E  BURGOS16', 'E  BURGOS17', 'E  BURGOS18', 'E  CACERES02', 'E  CACERES03', 'E  CACERES06', 'E  CACERES08', 'E  CADIZ01', 'E  CADIZ02', 'E  CADIZ03', 'E  CADIZ07', 'E  CADIZ09', 'E  CADIZ12', 'E  CADIZ13', 'E  CADIZ16', 'E  CADIZ19', 'E  CASTELL01', 'E  CASTELL03', 'E  CASTELL04', 'E  CASTELL05', 'E  CASTELL08', 'E  CASTELL09', 'E  CASTELL13', 'E  CASTELL16', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R04', 'E  CIUDA-R06', 'E  CIUDA-R07', 'E  CIUDA-R08', 'E  CIUDA-R11', 'E  CIUDA-R12', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA06', 'E  CORDOBA07', 'E  CORDOBA12', 'E  CORDOBA19', 'E  CUENCA01', 'E  CUENCA02', 'E  CUENCA03', 'E  CUENCA06', 'E  ELCHE01', 'E  ELCHE04', 'E  GIJON02', 'E  GIJON03', 'E  GIJON06', 'E  GIJON07', 'E  GIRONA02', 'E  GIRONA04', 'E  GIRONA05', 'E  GIRONA09', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA06', 'E  GRANADA07', 'E  GRANADA08', 'E  GRANADA10', 'E  GRANADA11', 'E  GRANADA13', 'E  GRANADA17', 'E  GUADALA04', 'E  GUADALA05', 'E  HUELVA01', 'E  HUELVA03', 'E  HUELVA04', 'E  HUELVA06', 'E  HUESCA01', 'E  HUESCA03', 'E  HUESCA04', 'E  HUESCA09', 'E  HUESCA11', 'E  IBIZA01', 'E  IBIZA03', 'E  JAEN01', 'E  JAEN03', 'E  LA-CORU01', 'E  LA-CORU04', 'E  LA-CORU05', 'E  LA-CORU06', 'E  LA-CORU09', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL06', 'E  LAS-PAL07', 'E  LAS-PAL08', 'E  LAS-PAL09', 'E  LEON01', 'E  LEON03', 'E  LEON04', 'E  LEON05', 'E  LEON06', 'E  LEON07', 'E  LEON09', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LLEIDA03', 'E  LLEIDA05', 'E  LLEIDA07', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  LOGRONO09', 'E  LUGO01', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID100', 'E  MADRID12', 'E  MADRID14', 'E  MADRID17', 'E  MADRID18', 'E  MADRID21', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID29', 'E  MADRID30', 'E  MADRID31', 'E  MADRID33', 'E  MADRID35', 'E  MADRID36', 'E  MADRID37', 'E  MADRID39', 'E  MADRID41', 'E  MADRID42', 'E  MADRID44', 'E  MADRID50', 'E  MADRID51', 'E  MADRID55', 'E  MADRID57', 'E  MADRID58', 'E  MADRID69', 'E  MADRID76', 'E  MADRID78', 'E  MADRID79', 'E  MADRID81', 'E  MADRID84', 'E  MADRID86', 'E  MADRID89', 'E  MADRID90', 'E  MADRID95', 'E  MADRID96', 'E  MADRID98', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MALAGA04', 'E  MALAGA05', 'E  MALAGA06', 'E  MALAGA07', 'E  MALAGA09', 'E  MALAGA12', 'E  MALAGA13', 'E  MALAGA15', 'E  MALAGA16', 'E  MALAGA19', 'E  MALAGA21', 'E  MALAGA24', 'E  MALAGA25', 'E  MATARO01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA08', 'E  MURCIA09', 'E  MURCIA10', 'E  MURCIA12', 'E  MURCIA15', 'E  MURCIA19', 'E  MURCIA20', 'E  MURCIA25', 'E  MURCIA26', 'E  MURCIA27', 'E  OVIEDO01', 'E  OVIEDO03', 'E  OVIEDO06', 'E  OVIEDO08', 'E  OVIEDO09', 'E  PALENCI01', 'E  PALMA01', 'E  PALMA04', 'E  PALMA07', 'E  PALMA08', 'E  PALMA12', 'E  PALMA15', 'E  PALMA19', 'E  PALMA23', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON07', 'E  PAMPLON08', 'E  PAMPLON10', 'E  PAMPLON11', 'E  PAMPLON13', 'E  PAMPLON17', 'E  PAMPLON19', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SALAMAN09', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB04', 'E  SAN-SEB05', 'E  SAN-SEB06', 'E  SAN-SEB07', 'E  SAN-SEB08', 'E  SAN-SEB09', 'E  SAN-SEB10', 'E  SAN-SEB11', 'E  SAN-SEB12', 'E  SAN-SEB13', 'E  SAN-SEB14', 'E  SAN-SEB15', 'E  SAN-SEB16', 'E  SAN-SEB18', 'E  SAN-SEB19', 'E  SAN-SEB20', 'E  SAN-SEB22', 'E  SAN-SEB23', 'E  SAN-SEB26', 'E  SAN-SEB27', 'E  SAN-SEB28', 'E  SAN-SEB29', 'E  SAN-SEB30', 'E  SAN-SEB31', 'E  SAN-SEB32', 'E  SAN-SEB33', 'E  SAN-SEB34', 'E  SAN-SEB36', 'E  SAN-SEB38', 'E  SAN-SEB39', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND04', 'E  SANTAND05', 'E  SANTAND06', 'E  SANTAND08', 'E  SANTAND09', 'E  SANTAND10', 'E  SANTAND11', 'E  SANTAND14', 'E  SANTAND15', 'E  SANTAND18', 'E  SANTAND21', 'E  SANTAND23', 'E  SANTAND24', 'E  SANTAND28', 'E  SANTIAG01', 'E  SEGOVIA01', 'E  SEGOVIA04', 'E  SEGOVIA09', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA07', 'E  SEVILLA08', 'E  SEVILLA11', 'E  SEVILLA13', 'E  SEVILLA14', 'E  SEVILLA18', 'E  SEVILLA21', 'E  SEVILLA23', 'E  SEVILLA25', 'E  SEVILLA31', 'E  SEVILLA35', 'E  SORIA05', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TARRAGO03', 'E  TARRAGO04', 'E  TARRAGO06', 'E  TARRAGO07', 'E  TARRAGO11', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF04', 'E  TENERIF05', 'E  TENERIF06', 'E  TERUEL01', 'E  TERUEL02', 'E  TOLEDO01', 'E  TOLEDO02', 'E  TOLEDO05', 'E  TOLEDO08', 'E  TOLEDO10', 'E  TORRELA01', 'E  TUDELA01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI12', 'E  VALENCI13', 'E  VALENCI15', 'E  VALENCI16', 'E  VALENCI17', 'E  VALENCI18', 'E  VALENCI19', 'E  VALENCI21', 'E  VALENCI23', 'E  VALENCI24', 'E  VALENCI25', 'E  VALENCI26', 'E  VALENCI29', 'E  VALENCI31', 'E  VALENCI35', 'E  VALENCI39', 'E  VALENCI40', 'E  VALENCI42', 'E  VALENCI43', 'E  VALENCI48', 'E  VALENCI52', 'E  VALENCI53', 'E  VALENCI58', 'E  VALENCI59', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO06', 'E  VALLADO09', 'E  VALLADO10', 'E  VALLADO11', 'E  VALLADO13', 'E  VALLADO15', 'E  VALLADO16', 'E  VALLADO18', 'E  VALLADO20', 'E  VALLADO21', 'E  VALLADO23', 'E  VALLADO26', 'E  VIC01', 'E  VIGO01', 'E  VIGO02', 'E  VIGO03', 'E  VIGO05', 'E  VITORIA04', 'E  VITORIA05', 'E  VITORIA06', 'E  VITORIA07', 'E  VITORIA08', 'E  VITORIA09', 'E  VITORIA10', 'E  VITORIA11', 'E  VITORIA13', 'E  VITORIA15', 'E  VITORIA16', 'E  ZAMORA02', 'E  ZAMORA03', 'E  ZAMORA05', 'E  ZAMORA08', 'E  ZARAGOZ01', 'E  ZARAGOZ06', 'E  ZARAGOZ07', 'E  ZARAGOZ09', 'E  ZARAGOZ12', 'E  ZARAGOZ16', 'E  ZARAGOZ20', 'EE LAANE-V02', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLINN06', 'EE TALLINN10', 'EE TALLINN11', 'EE TALLINN12', 'EE TALLINN14', 'EE TALLINN15', 'EE TALLINN16', 'EE TALLINN17', 'EE TALLINN18', 'EE TALLINN19', 'EE TARTU01', 'EE TARTU02', 'EE TARTU03', 'EE TARTU05', 'EE TARTU06', 'EE VORU01', 'F  AGEN04', 'F  AGEN06', 'F  AIX-PRO11', 'F  ALBI04', 'F  ALBI05', 'F  ALES02', 'F  ALES05', 'F  AMIENS01', 'F  AMIENS05', 'F  AMIENS15', 'F  AMIENS18', 'F  ANGERS01', 'F  ANGERS03', 'F  ANGERS04', 'F  ANGERS08', 'F  ANGERS10', 'F  ANGERS15', 'F  ANGERS17', 'F  ANGERS21', 'F  ANGERS23', 'F  ANGERS27', 'F  ANGERS28', 'F  ANGLET01', 'F  ANGOULE05', 'F  ANGOULE13', 'F  ANJOU02', 'F  ANNECY04', 'F  ANTIBES06', 'F  ANTONY03', 'F  ARLES03', 'F  ARRAS02', 'F  ARRAS12', 'F  AUBENAS04', 'F  AUBIERE03', 'F  AUBUSSO02', 'F  AULNA-B03', 'F  AV-FONT01', 'F  AV-FONT02', 'F  AVIGNON01', 'F  AVIGNON12', 'F  AVIGNON14', 'F  AVIZE02', 'F  BAYONNE07', 'F  BEAUVAI02', 'F  BELFORT06', 'F  BELFORT07', 'F  BESANCO01', 'F  BESANCO06', 'F  BESANCO14', 'F  BESANCO21', 'F  BIARRIT02', 'F  BICETRE02', 'F  BLANQUE02', 'F  BLOIS02', 'F  BLOIS05', 'F  BLOIS10', 'F  BLOIS11', 'F  BOBIGNY02', 'F  BORDEAU01', 'F  BORDEAU02', 'F  BORDEAU03', 'F  BORDEAU06', 'F  BORDEAU10', 'F  BORDEAU11', 'F  BORDEAU12', 'F  BORDEAU16', 'F  BORDEAU28', 'F  BORDEAU34', 'F  BORDEAU36', 'F  BORDEAU37', 'F  BORDEAU40', 'F  BORDEAU41', 'F  BORDEAU49', 'F  BORDEAU50', 'F  BOULOGN02', 'F  BOUR-B07', 'F  BOURG-B07', 'F  BOURGES04', 'F  BOURGES09', 'F  BOURGES10', 'F  BREST01', 'F  BREST07', 'F  BREST08', 'F  BREST09', 'F  BREST10', 'F  BREST21', 'F  BREST22', 'F  BREST23', 'F  BRIVE02', 'F  BRUZ01', 'F  BRUZ03', 'F  BRUZ04', 'F  CACHAN03', 'F  CACHAN04', 'F  CAEN01', 'F  CAEN05', 'F  CAEN11', 'F  CAEN15', 'F  CAMBRAI07', 'F  CANNES03', 'F  CANNES06', 'F  CASTRES03', 'F  CASTRES04', 'F  CERGY-P01', 'F  CERGY-P03', 'F  CERGY-P06', 'F  CERGY01', 'F  CERGY03', 'F  CERGY05', 'F  CERGY07', 'F  CERGY08', 'F  CHALO-C02', 'F  CHAMBER01', 'F  CHAMBER06', 'F  CHAMBER07', 'F  CHAMBER09', 'F  CHAMBER10', 'F  CHARTRE07', 'F  CHATEAU04', 'F  CHATEAU05', 'F  CHATENA01', 'F  CHATENA02', 'F  CHATLIN02', 'F  CHELLES02', 'F  CHERBOU01', 'F  CHOLET03', 'F  CHOLET06', 'F  CLERMON01', 'F  CLERMON02', 'F  CLERMON09', 'F  CLERMON10', 'F  CLERMON22', 'F  CLERMON25', 'F  CLERMON35', 'F  CLERMON38', 'F  CLICHY01', 'F  COLMAR05', 'F  COMPIEG01', 'F  CORTE01', 'F  COURBEV04', 'F  CRETEIL04', 'F  DARDILL02', 'F  DIJON01', 'F  DIJON04', 'F  DIJON08', 'F  DIJON11', 'F  DIJON13', 'F  DIJON30', 'F  DOLE04', 'F  DOUAI02', 'F  DOUAI10', 'F  DRANCY01', 'F  DUNKERQ09', 'F  EMBRUN02', 'F  EPERON01', 'F  EVRY01', 'F  EVRY04', 'F  EVRY05', 'F  FIGEAC02', 'F  FONTENA01', 'F  FORT-FR04', 'F  FORT-FR09', 'F  FORT-FR10', 'F  GIF-YVE02', 'F  GOUESNO01', 'F  GRENOBL01', 'F  GRENOBL02', 'F  GRENOBL03', 'F  GRENOBL16', 'F  GRENOBL21', 'F  GRENOBL22', 'F  GRENOBL23', 'F  GRENOBL37', 'F  GRENOBL38', 'F  GRENOBL39', 'F  GRENOBL40', 'F  GUINGAM02', 'F  GUYANCO02', 'F  ISSY-MO02', 'F  IVRY-SE01', 'F  JOUY-JO02', 'F  LA-CANO01', 'F  LA-RO-Y09', 'F  LA-ROCH07', 'F  LA-ROCH08', 'F  LA-ROCH09', 'F  LANNION04', 'F  LAROCHE01', 'F  LAXOU-N02', 'F  LE-BOUR01', 'F  LE-HAVR04', 'F  LE-HAVR10', 'F  LE-HAVR11', 'F  LE-MANS01', 'F  LE-MANS10', 'F  LE-MANS11', 'F  LEMPDES03', 'F  LEVALLO01', 'F  LILLE01', 'F  LILLE02', 'F  LILLE03', 'F  LILLE11', 'F  LILLE13', 'F  LILLE14', 'F  LILLE15', 'F  LILLE16', 'F  LILLE24', 'F  LILLE25', 'F  LIMOGES01', 'F  LIMOGES05', 'F  LIMOGES20', 'F  LONGUEN02', 'F  LONGUEN03', 'F  LOOS02', 'F  LORIENT05', 'F  LYON01', 'F  LYON02', 'F  LYON03', 'F  LYON10', 'F  LYON11',

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [33]:
print_unique_values(students_2009, 'GENDER')
students_2009[students_2009.GENDER.isnull()]

['F', 'M']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [34]:
print_unique_values(students_2009, 'NATIONALITY')
students_2009[students_2009.NATIONALITY.isnull()]

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'XX']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [35]:
print_unique_values(students_2009, 'LEVELSTUDY')
students_2009[students_2009.LEVELSTUDY.isnull()]

['1', '2', '3', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [36]:
print_unique_values(students_2009, 'MOBILITYTYPE')
students_2009[students_2009.MOBILITYTYPE.isnull()]

['C', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [37]:
# host institution should be available for mobility types S & C, check if this is the case
print_unique_values(students_2009[students_2009.HOSTINSTITUTION.isnull()], 'MOBILITYTYPE')

['P']

In [38]:
# check if every P mobility type student has a work placement set
students_2009[(students_2009.MOBILITYTYPE == 'P') & 
              (students_2009.WORKPLACEMENT.isnull())].head()

,HOMEINSTITUTION,AGE,GENDER,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
9848,B MECHELE14,21,F,BE,1,2,P,NaN,NaN,SI,0.0,3.0,NaN,NaN,02-2010,0,18,18,0.0,0,1020,N

In [39]:
print_unique_values(students_2009, 'COUNTRYOFWORKPLACEMENT')

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [40]:
# check if every P mobility type student has a country of work placement set
students_2009[(students_2009.MOBILITYTYPE == 'P') & 
              (students_2009.COUNTRYOFWORKPLACEMENT.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [41]:
print_unique_values(students_2009, 'SHORTDURATION')

['0', '1', 'I', 'N', 'T', 'X', 'Y', 'Z']

In [42]:
# check if all mobility students with a duration less than 3 months have a short duration type set
students_2009[(students_2009.MOBILITYTYPE != 'P') & 
              (students_2009.LENGTHSTUDYPERIOD < 3) & 
              (students_2009.SHORTDURATION.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [43]:
print_unique_values(students_2009, 'STUDYSTARTDATE')

['01-2009', '01-2010', '01/2010', '02-1010', '02-2009', '02-2010', '02/2010', '03-2009', '03-2010', '03/2010', '04-2009', '04-2010', '04/2010', '05-2009', '05-2010', '05/2010', '06-2009', '06-2010', '06/2009', '06/2010', '07-2009', '07-2010', '07/2009', '08-2009', '08-2010', '08/2009', '09-2009', '09-2010', '09/2009', '09/2010', '10-2009', '10/2009', '11-2009', '11/2009', '12-2009', '12/2009']

In [44]:
# all mobility student types (S & C) should have a study start date set
students_2009[(students_2009.MOBILITYTYPE != 'P') & 
              (students_2009.STUDYSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [45]:
# check invalid dates
students_2009[(students_2009.STUDYSTARTDATE == '02-1010')].head()

,HOMEINSTITUTION,AGE,GENDER,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHWORKPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
41742,EE TARTU02,21,F,EE,1,2,S,E CIUDA-R01,NaN,NaN,5.0,0.0,NaN,02-1010,NaN,18,0,18,0.0,2045,0,N
45432,EE TARTU02,20,F,EE,1,1,S,SF OULU01,NaN,NaN,5.0,0.0,NaN,02-1010,NaN,20,0,20,0.0,1740,0,N

In [46]:
print_unique_values(students_2009, 'PLACEMENTSTARTDATE')

['01-2010', '01/2010', '01/2012', '02-2010', '02/2010', '03-2010', '03/2010', '04-2010', '04/2010', '05-2010', '05/2010', '06-2009', '06-2010', '06-2011', '06/2009', '06/2010', '07-2009', '07-2010', '07-2011', '07/2009', '07/2010', '08-2009', '08-2010', '08/2009', '08/2010', '09-2009', '09-2010', '09/2009', '09/2010', '10-2009', '10-2010', '10-2011', '10/2009', '11-2009', '11/2009', '11/2010', '12-2009', '12/2009']

In [47]:
# all placement students (P) should have a placement start date set
students_2009[(students_2009.MOBILITYTYPE == 'P') & 
              (students_2009.PLACEMENTSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [48]:
print_unique_values(students_2009, 'PREVIOUSPARTICIPATION')
students_2009[students_2009.PREVIOUSPARTICIPATION.isnull()]

['M', 'N', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHWORKPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

#### Outcome of data quality assessment for 2009 data

Similar data quality issues to 2008 were also found in the 2009 dataset:
* Nationality: XX is not a valid country code and will be replaced with NULL
* Work placement / Country of work placement: Work placement itself might be NULL, Country of work placement is always set
* Study start date: inconsistencies in format found: mm/yyyy and mm-yyyy; also inavlid dates found (e.g. 10-2208) where from a logical perspective only dates from 2009 and 2010 make sense and the invalid dates might origin from typos
* Placement start date: inconsistencies in format found: mm/yyyy and mm-yyyy

Next step is to clean the 2009 data:

In [49]:
students_2009_cleaned = students_2009
students_2009_cleaned.NATIONALITY = students_2009_cleaned.NATIONALITY.replace({'XX': None})
students_2009_cleaned.STUDYSTARTDATE = students_2009_cleaned.STUDYSTARTDATE.str.replace('/', '-')
students_2009_cleaned.PLACEMENTSTARTDATE = students_2009_cleaned.PLACEMENTSTARTDATE.str.replace('/', '-')
# how many rows did we have in the beginning?
students_2009_cleaned.shape[0]

213266

In [50]:
# filtering rows with invalid study start dates
students_2009_cleaned = students_2009_cleaned[
    (students_2009_cleaned.STUDYSTARTDATE.str.slice(3,7).isin(['2009', '2010'])) |
    (students_2009_cleaned.STUDYSTARTDATE.isnull())]
students_2009_cleaned.shape[0]

213264

In [51]:
# filtering rows with invalid placement start dates
students_2009_cleaned = students_2009_cleaned[
    (students_2009_cleaned.PLACEMENTSTARTDATE.str.slice(3,7).isin(['2009', '2010'])) |
    (students_2009_cleaned.PLACEMENTSTARTDATE.isnull())]
students_2009_cleaned.shape[0]

213253

### CSV file for 2010-11
Read data for 2010-11 and assess columns.

In [52]:
students_2010 = pd.read_csv('raw_data/student_data_2010.csv', sep=';')
students_2010.info()
# we can see that the loaded dataframe for 2010 has 32 columns

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231408 entries, 0 to 231407
Data columns (total 32 columns):
HOMEINSTITUTION                 231408 non-null object
COUNTRYCODEOFHOMEINSTITUTION    231408 non-null object
AGE                             231408 non-null int64
GENDER                          231408 non-null object
NATIONALITY                     231408 non-null object
SUBJECTAREA                     231408 non-null int64
LEVELSTUDY                      231408 non-null object
YEARSPRIOR                      231408 non-null int64
MOBILITYTYPE                    231408 non-null object
HOSTINSTITUTION                 190499 non-null object
COUNTRYCODEOFHOSTINSTITUTION    190499 non-null object
WORKPLACEMENT                   40964 non-null object
COUNTRYOFWORKPLACEMENT          40964 non-null object
ENTERPRISESIZE                  40964 non-null object
TYPEWORKSECTOR                  40964 non-null object
LENGTHSTUDYPERIOD               231408 non-null float64
LENGTHPLACEMENT                 231408 non-null float64
SHORTDURATION                   1373 non-null object
STUDYSTARTDATE                  190501 non-null object
PLACEMENTSTARTDATE              40983 non-null object
CONSORTIUMAGREEMENTNUMBER       5909 non-null object
ECTSCREDITSSTUDY                231408 non-null int64
ECTSCREDITSWORK                 231408 non-null int64
TOTALECTSCREDITS                231408 non-null int64
SEVSUPPLEMENT                   231408 non-null int64
TAUGHTHOSTLANG                  231408 non-null object
LANGUAGETAUGHT                  231408 non-null object
LINGPREPARATION                 231408 non-null object
STUDYGRANT                      231408 non-null float64
PLACEMENTGRANT                  231408 non-null float64
PREVIOUSPARTICIPATION           231408 non-null object
QUALIFICATIONATHOST             231408 non-null object
dtypes: float64(4), int64(7), object(21)
memory usage: 56.5+ MB

In [53]:
students_2010.head(10)

,HOMEINSTITUTION,COUNTRYCODEOFHOMEINSTITUTION,AGE,GENDER,NATIONALITY,SUBJECTAREA,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,COUNTRYCODEOFHOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,ENTERPRISESIZE,TYPEWORKSECTOR,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,CONSORTIUMAGREEMENTNUMBER,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,TAUGHTHOSTLANG,LANGUAGETAUGHT,LINGPREPARATION,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION,QUALIFICATIONATHOST
0,HU BUDAPES02,HU,25,M,HU,521,3,1,P,NaN,NaN,HOCHSCHULE WISMAR,DE,M,P,0.0,3.0,NaN,NaN,09-2010,NaN,0,0,0,0,N,DE,NN,0.0,900.0,N,N
1,HU BUDAPES02,HU,28,M,HU,522,3,4,P,NaN,NaN,ACMIT,AT,M,M,0.0,9.0,NaN,NaN,09-2010,NaN,0,0,0,0,N,DE,NN,0.0,3600.0,N,N
2,HU BUDAPES02,HU,25,F,HU,581,2,5,P,NaN,NaN,S.C.ESZTÃ¡NY STUDIO S.R.L.,RO,S,F,0.0,5.0,NaN,NaN,09-2010,NaN,0,0,0,0,N,EN,NN,0.0,1500.0,N,N
3,HU BUDAPES02,HU,23,M,SK,582,2,4,P,NaN,NaN,TECHNISCHE UNIVERSITAT DARMSTADT,DE,L,P,0.0,3.0,NaN,NaN,07-2011,NaN,0,0,0,0,N,DE,NN,0.0,900.0,N,N
4,HU BUDAPES02,HU,24,F,HU,581,2,5,P,NaN,NaN,H.E.I.Z. HAUS ARCHITEKTUR STADTPLANUNG,DE,M,F,0.0,6.0,NaN,NaN,02-2011,NaN,0,0,0,0,N,DE,NN,0.0,1800.0,N,N
5,HU BUDAPES02,HU,21,F,HU,581,2,4,P,NaN,NaN,HOCHSTRASSER ARCHITEKTEN,DE,S,F,0.0,3.0,NaN,NaN,07-2011,NaN,0,0,0,0,N,DE,NN,0.0,1200.0,N,N
6,HU BUDAPES02,HU,23,F,HU,581,2,4,P,NaN,NaN,ANTONIO RAVALLI ARCHITETTI,IT,S,F,0.0,3.0,NaN,NaN,04-2011,NaN,0,0,0,0,N,IT,NN,0.0,900.0,N,N
7,HU BUDAPES02,HU,25,M,HU,581,2,5,P,NaN,NaN,PRIEDEMANN,DE,M,F,0.0,6.0,NaN,NaN,08-2010,NaN,0,0,0,0,N,DE,NN,0.0,2100.0,N,N
8,HU BUDAPES02,HU,26,F,HU,581,2,4,P,NaN,NaN,VCENK,NO,M,F,0.0,9.0,NaN,NaN,09-2010,NaN,0,0,0,0,N,EN,NN,0.0,2700.0,N,N
9,HU BUDAPES02,HU,22,F,HU,581,2,3,P,NaN,NaN,SAUNDERS ARCHITECTURE,NO,S,F,0.0,4.5,NaN,NaN,09-2010,NaN,0,0,0,0,N,EN,NN,0.0,1350.0,N,N

The 2010 data has the same columns as the 2008 data. Let's have a look on the data quality of the selected columns we will use for analytics.

In [54]:
students_2010 = students_2010[[
    'HOMEINSTITUTION',
    'AGE',
    'GENDER',
    'NATIONALITY',
    'LEVELSTUDY',
    'YEARSPRIOR',
    'MOBILITYTYPE',
    'HOSTINSTITUTION',
    'WORKPLACEMENT',
    'COUNTRYOFWORKPLACEMENT',
    'LENGTHSTUDYPERIOD',
    'LENGTHPLACEMENT',
    'SHORTDURATION',
    'STUDYSTARTDATE',
    'PLACEMENTSTARTDATE',
    'ECTSCREDITSSTUDY',
    'ECTSCREDITSWORK',
    'TOTALECTSCREDITS',
    'SEVSUPPLEMENT',
    'STUDYGRANT',
    'PLACEMENTGRANT',
    'PREVIOUSPARTICIPATION'
]]
students_2010.describe()

,AGE,YEARSPRIOR,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT
count,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000,231408.000000
mean,22.513971,2.730960,5.238561,0.767268,28.491802,2.587936,31.079738,2.139913,1217.708050,280.837386
std,2.703065,1.307554,3.299730,1.861627,20.720936,8.667091,18.894579,103.269691,984.106146,701.147746
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,2.000000,4.000000,0.000000,14.000000,0.000000,20.000000,0.000000,600.000000,0.000000
50%,22.000000,2.000000,5.000000,0.000000,30.000000,0.000000,30.000000,0.000000,1095.840000,0.000000
75%,23.000000,4.000000,9.000000,0.000000,39.000000,0.000000,40.000000,0.000000,1713.000000,0.000000
max,99.000000,20.000000,12.000000,12.000000,90.000000,90.000000,90.000000,20559.000000,10970.000000,9600.000000

In [55]:
print_unique_values(students_2010, 'HOMEINSTITUTION')
students_2010[students_2010.HOMEINSTITUTION.isnull()]

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU20', 'A  INNSBRU21', 'A  INNSBRU23', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KREMS02', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ17', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SPITTAL01', 'A  ST-POLT03', 'A  STEYR05', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN66', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON08', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL51', 'B  BRUXEL56', 'B  BRUXEL76', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  GEEL07', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE03', 'B  LIEGE07', 'B  LIEGE30', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  MECHELE14', 'B  MONS02', 'B  MONS05', 'B  MONS11', 'B  MONS20', 'B  MONS21', 'B  MONS22', 'B  MONS23', 'B  NAMUR01', 'B  NAMUR10', 'B  NAMUR11', 'B  TOURNAI01', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOTEVGR02', 'BG BOURGAS01', 'BG BOURGAS02', 'BG GABROVO01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG PLOVDIV09', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA13', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA21', 'BG SOFIA22', 'BG SOFIA24', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA30', 'BG SOFIA31', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VARNA05', 'BG VELIKO01', 'BG VELIKO02', 'CY LARNACA01', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA10', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CY NICOSIA26', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO10', 'CZ CESKE01', 'CZ CESKE04', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KOLIN01', 'CZ LIBEREC01', 'CZ MLADA01', 'CZ OLOMOUC01', 'CZ OLOMOUC02', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ PRAHA26', 'CZ PRAHA27', 'CZ PRAHA28', 'CZ PRAHA29', 'CZ PREROV01', 'CZ PREROV02', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ VALASSK01', 'CZ ZLIN01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN17', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN22', 'D  BERLIN23', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BOCHUM05', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  BUXTEHU02', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA01', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GREIFS01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG12', 'D  HAMBURG14', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  ISNY01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN03', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KOLN12', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ05', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURNBER04', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  OTTERSB02', 'D  PADERBO01', 'D  PADERBO04', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIEDLIN01', 'D  RIESA01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G01', 'D  SCHWA-G02', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  SPEYER02', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA09', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL-H01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WILHELM02', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  XX', 'D  ZITTAU01', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS08', 'DK ARHUS10', 'DK ARHUS26', 'DK ARHUS27', 'DK ARHUS28', 'DK ESBJERG02', 'DK ESBJERG18', 'DK HERNING01', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA09', 'DK KOBENHA10', 'DK KOBENHA14', 'DK KOBENHA26', 'DK KOBENHA37', 'DK KOBENHA38', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA54', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOBENHA57', 'DK KOBENHA58', 'DK KOGE03', 'DK KOLDING07', 'DK KOLDING10', 'DK LYNGBY01', 'DK ODENSE01', 'DK ODENSE02', 'DK ODENSE16', 'DK ODENSE21', 'DK RANDERS04', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK VEJLE06', 'DK XX', 'E  ALBACET01', 'E  ALBACET02', 'E  ALBACET03', 'E  ALBACET05', 'E  ALBACET08', 'E  ALBACET09', 'E  ALBACET10', 'E  ALBACET11', 'E  ALBACET13', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT04', 'E  ALICANT05', 'E  ALICANT06', 'E  ALICANT08', 'E  ALICANT10', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT14', 'E  ALICANT16', 'E  ALICANT17', 'E  ALICANT18', 'E  ALICANT21', 'E  ALICANT22', 'E  ALICANT24', 'E  ALICANT25', 'E  ALICANT26', 'E  ALICANT27', 'E  ALICANT31', 'E  ALMERIA01', 'E  ALMERIA03', 'E  ALMERIA07', 'E  ALMERIA08', 'E  ALMERIA09', 'E  ALMERIA12', 'E  AVILA01', 'E  AVILA04', 'E  AVILA05', 'E  AVILES02', 'E  BADAJOZ01', 'E  BADAJOZ03', 'E  BADAJOZ05', 'E  BADAJOZ08', 'E  BADAJOZ09', 'E  BADAJOZ10', 'E  BADAJOZ11', 'E  BADAJOZ12', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO11', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO36', 'E  BARCELO38', 'E  BARCELO39', 'E  BARCELO40', 'E  BARCELO42', 'E  BARCELO46', 'E  BARCELO47', 'E  BARCELO50', 'E  BARCELO51', 'E  BARCELO52', 'E  BARCELO53', 'E  BARCELO55', 'E  BARCELO56', 'E  BARCELO58', 'E  BARCELO63', 'E  BARCELO65', 'E  BARCELO67', 'E  BARCELO69', 'E  BARCELO70', 'E  BARCELO74', 'E  BARCELO89', 'E  BARCELO94', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO14', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO26', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO31', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO34', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO45', 'E  BILBAO46', 'E  BILBAO48', 'E  BILBAO49', 'E  BILBAO50', 'E  BILBAO52', 'E  BILBAO55', 'E  BURGOS01', 'E  BURGOS02', 'E  BURGOS04', 'E  BURGOS05', 'E  BURGOS06', 'E  BURGOS10', 'E  BURGOS11', 'E  BURGOS14', 'E  BURGOS16', 'E  BURGOS17', 'E  BURGOS18', 'E  CACERES02', 'E  CACERES03', 'E  CACERES04', 'E  CACERES08', 'E  CADIZ01', 'E  CADIZ07', 'E  CADIZ09', 'E  CADIZ12', 'E  CADIZ16', 'E  CADIZ19', 'E  CADIZ21', 'E  CADIZ22', 'E  CASTELL01', 'E  CASTELL03', 'E  CASTELL05', 'E  CASTELL08', 'E  CASTELL09', 'E  CASTELL13', 'E  CASTELL14', 'E  CASTELL16', 'E  CASTELL20', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R04', 'E  CIUDA-R06', 'E  CIUDA-R07', 'E  CIUDA-R09', 'E  CIUDA-R11', 'E  CIUDA-R12', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA07', 'E  CORDOBA09', 'E  CORDOBA12', 'E  CORDOBA19', 'E  CUENCA01', 'E  CUENCA02', 'E  CUENCA03', 'E  CUENCA06', 'E  ELCHE01', 'E  ELCHE04', 'E  ELCHE05', 'E  ESTELLA01', 'E  GIJON02', 'E  GIJON03', 'E  GIJON06', 'E  GIJON07', 'E  GIRONA02', 'E  GIRONA04', 'E  GIRONA05', 'E  GIRONA09', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA08', 'E  GRANADA10', 'E  GRANADA11', 'E  GRANADA12', 'E  GRANADA17', 'E  GUADALA02', 'E  GUADALA04', 'E  GUADALA05', 'E  HUELVA01', 'E  HUELVA03', 'E  HUELVA04', 'E  HUELVA11', 'E  HUESCA02', 'E  HUESCA06', 'E  HUESCA08', 'E  HUESCA09', 'E  HUESCA12', 'E  IBIZA01', 'E  JAEN01', 'E  JAEN03', 'E  JAEN04', 'E  LA-CORU01', 'E  LA-CORU03', 'E  LA-CORU04', 'E  LA-CORU05', 'E  LA-CORU06', 'E  LA-CORU09', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL05', 'E  LAS-PAL06', 'E  LAS-PAL08', 'E  LAS-PAL09', 'E  LAS-PAL11', 'E  LEON01', 'E  LEON03', 'E  LEON04', 'E  LEON05', 'E  LEON06', 'E  LEON07', 'E  LEON09', 'E  LEON12', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LLEIDA03', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  LOGRONO06', 'E  LOGRONO08', 'E  LOGRONO09', 'E  LOGRONO11', 'E  LOGRONO12', 'E  LUGO01', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID100', 'E  MADRID101', 'E  MADRID102', 'E  MADRID103', 'E  MADRID106', 'E  MADRID107', 'E  MADRID109', 'E  MADRID110', 'E  MADRID111', 'E  MADRID12', 'E  MADRID14', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID30', 'E  MADRID31', 'E  MADRID33', 'E  MADRID35', 'E  MADRID36', 'E  MADRID37', 'E  MADRID38', 'E  MADRID39', 'E  MADRID40', 'E  MADRID41', 'E  MADRID42', 'E  MADRID43', 'E  MADRID44', 'E  MADRID50', 'E  MADRID51', 'E  MADRID53', 'E  MADRID55', 'E  MADRID57', 'E  MADRID58', 'E  MADRID62', 'E  MADRID63', 'E  MADRID64', 'E  MADRID66', 'E  MADRID67', 'E  MADRID69', 'E  MADRID72', 'E  MADRID73', 'E  MADRID74', 'E  MADRID76', 'E  MADRID78', 'E  MADRID79', 'E  MADRID80', 'E  MADRID81', 'E  MADRID86', 'E  MADRID89', 'E  MADRID90', 'E  MADRID92', 'E  MADRID94', 'E  MADRID95', 'E  MADRID96', 'E  MADRID97', 'E  MADRID98', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MALAGA05', 'E  MALAGA06', 'E  MALAGA07', 'E  MALAGA09', 'E  MALAGA12', 'E  MALAGA13', 'E  MALAGA15', 'E  MALAGA18', 'E  MALAGA19', 'E  MALAGA21', 'E  MALAGA22', 'E  MALAGA25', 'E  MATARO01', 'E  MERIDA01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA08', 'E  MURCIA09', 'E  MURCIA10', 'E  MURCIA11', 'E  MURCIA12', 'E  MURCIA16', 'E  MURCIA19', 'E  MURCIA23', 'E  MURCIA25', 'E  MURCIA26', 'E  MURCIA27', 'E  ORENSE01', 'E  OVIEDO01', 'E  OVIEDO03', 'E  OVIEDO06', 'E  OVIEDO08', 'E  OVIEDO09', 'E  OVIEDO13', 'E  PALENCI01', 'E  PALENCI02', 'E  PALENCI03', 'E  PALENCI09', 'E  PALMA01', 'E  PALMA04', 'E  PALMA06', 'E  PALMA09', 'E  PALMA13', 'E  PALMA14', 'E  PALMA15', 'E  PALMA17', 'E  PALMA21', 'E  PALMA27', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON05', 'E  PAMPLON06', 'E  PAMPLON07', 'E  PAMPLON08', 'E  PAMPLON09', 'E  PAMPLON10', 'E  PAMPLON11', 'E  PAMPLON12', 'E  PAMPLON13', 'E  PAMPLON17', 'E  PAMPLON18', 'E  PAMPLON19', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SALAMAN08', 'E  SALAMAN09', 'E  SALAMAN10', 'E  SALAMAN11', 'E  SALAMAN13', 'E  SALAMAN14', 'E  SALAMAN16', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB04', 'E  SAN-SEB05', 'E  SAN-SEB06', 'E  SAN-SEB07', 'E  SAN-SEB08', 'E  SAN-SEB09', 'E  SAN-SEB10', 'E  SAN-SEB11', 'E  SAN-SEB12', 'E  SAN-SEB13', 'E  SAN-SEB14', 'E  SAN-SEB15', 'E  SAN-SEB16', 'E  SAN-SEB18', 'E  SAN-SEB19', 'E  SAN-SEB20', 'E  SAN-SEB22', 'E  SAN-SEB23', 'E  SAN-SEB26', 'E  SAN-SEB27', 'E  SAN-SEB28', 'E  SAN-SEB29', 'E  SAN-SEB30', 'E  SAN-SEB31', 'E  SAN-SEB32', 'E  SAN-SEB33', 'E  SAN-SEB34', 'E  SAN-SEB38', 'E  SAN-SEB39', 'E  SAN-SEB40', 'E  SANADRI01', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND04', 'E  SANTAND05', 'E  SANTAND06', 'E  SANTAND07', 'E  SANTAND08', 'E  SANTAND09', 'E  SANTAND10', 'E  SANTAND11', 'E  SANTAND12', 'E  SANTAND14', 'E  SANTAND17', 'E  SANTAND18', 'E  SANTAND22', 'E  SANTAND23', 'E  SANTAND24', 'E  SANTAND25', 'E  SANTAND27', 'E  SANTIAG01', 'E  SEGOVIA03', 'E  SEGOVIA04', 'E  SEGOVIA05', 'E  SEGOVIA06', 'E  SEGOVIA07', 'E  SEGOVIA08', 'E  SEGOVIA09', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA06', 'E  SEVILLA08', 'E  SEVILLA09', 'E  SEVILLA11', 'E  SEVILLA13', 'E  SEVILLA18', 'E  SEVILLA21', 'E  SEVILLA22', 'E  SEVILLA25', 'E  SEVILLA31', 'E  SEVILLA35', 'E  SEVILLA37', 'E  SEVILLA40', 'E  SORIA01', 'E  SORIA02', 'E  SORIA05', 'E  SORIA06', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TARRAGO03', 'E  TARRAGO06', 'E  TARRAGO07', 'E  TARRAGO11', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF04', 'E  TENERIF05', 'E  TENERIF06', 'E  TENERIF08', 'E  TENERIF09', 'E  TENERIF10', 'E  TENERIF11', 'E  TENERIF13', 'E  TERUEL01', 'E  TERUEL02', 'E  TERUEL03', 'E  TERUEL06', 'E  TERUEL08', 'E  TOLEDO01', 'E  TOLEDO02', 'E  TOLEDO04', 'E  TOLEDO05', 'E  TOLEDO08', 'E  TOLEDO10', 'E  TORRELA01', 'E  TUDELA01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI12', 'E  VALENCI13', 'E  VALENCI15', 'E  VALENCI16', 'E  VALENCI17', 'E  VALENCI19', 'E  VALENCI21', 'E  VALENCI23', 'E  VALENCI24', 'E  VALENCI25', 'E  VALENCI26', 'E  VALENCI27', 'E  VALENCI29', 'E  VALENCI31', 'E  VALENCI35', 'E  VALENCI39', 'E  VALENCI40', 'E  VALENCI41', 'E  VALENCI42', 'E  VALENCI43', 'E  VALENCI46', 'E  VALENCI48', 'E  VALENCI53', 'E  VALENCI55', 'E  VALENCI56', 'E  VALENCI61', 'E  VALENCI66', 'E  VALENCI67', 'E  VALENCI69', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO06', 'E  VALLADO09', 'E  VALLADO10', 'E  VALLADO11', 'E  VALLADO13', 'E  VALLADO15', 'E  VALLADO17', 'E  VALLADO18', 'E  VALLADO19', 'E  VALLADO20', 'E  VALLADO21', 'E  VALLADO22', 'E  VALLADO23', 'E  VALLADO26', 'E  VALLADO27', 'E  VIC01', 'E  VIC03', 'E  VIGO01', 'E  VIGO02', 'E  VIGO03', 'E  VIGO05', 'E  VITORIA04', 'E  VITORIA05', 'E  VITORIA06', 'E  VITORIA07', 'E  VITORIA08', 'E  VITORIA09', 'E  VITORIA10', 'E  VITORIA11', 'E  VITORIA12', 'E  VITORIA13', 'E  VITORIA15', 'E  VITORIA16', 'E  VITORIA17', 'E  VITORIA18', 'E  VITORIA19', 'E  ZAMORA02', 'E  ZAMORA03', 'E  ZAMORA05', 'E  ZAMORA08', 'E  ZARAGOZ01', 'E  ZARAGOZ05', 'E  ZARAGOZ06', 'E  ZARAGOZ07', 'E  ZARAGOZ08', 'E  ZARAGOZ09', 'E  ZARAGOZ11', 'E  ZARAGOZ12', 'E  ZARAGOZ16', 'E  ZARAGOZ20', 'E  ZARAGOZ24', 'E  ZARAGOZ25', 'E  ZARAGOZ26', 'E  ZARAGOZ28', 'E  ZARAGOZ29', 'E  ZARAGOZ30', 'EE LAANE-V02', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLINN06', 'EE TALLINN10', 'EE TALLINN12', 'EE TALLINN13', 'EE TALLINN14', 'EE TALLINN15', 'EE TALLINN16', 'EE TALLINN17', 'EE TALLINN18', 'EE TALLINN19', 'EE TALLINN20', 'EE TALLINN21', 'EE TARTU01', 'EE TARTU02', 'EE TARTU03', 'EE TARTU05', 'EE TARTU06', 'EE VORU01', 'F  AGEN04', 'F  AGEN06', 'F  AIX-PRO11', 'F  ALBI05', 'F  ALENCON01', 'F  ALES02', 'F  AMIENS01', 'F  AMIENS05', 'F  AMIENS15', 'F  AMIENS24', 'F  ANGERS01', 'F  ANGERS03', 'F  ANGERS04', 'F  ANGERS06', 'F  ANGERS08', 'F  ANGERS10', 'F  ANGERS15', 'F  ANGERS17', 'F  ANGERS23', 'F  ANGERS28', 'F  ANGLET01', 'F  ANGOULE05', 'F  ANJOU02', 'F  ANNECY04', 'F  ANNEMAS03', 'F  ANTONY03', 'F  ARLES03', 'F  ARRAS02', 'F  ARRAS12', 'F  ART-S-M01', 'F  AUBIERE03', 'F  AUBUSSO02', 'F  AULNA-B03', 'F  AURILLA06', 'F  AV-FONT01', 'F  AV-FONT02', 'F  AVIGNON01', 'F  AVIGNON14', 'F  AVIZE02', 'F  BASTIA06', 'F  BAYONNE07', 'F  BAYONNE10', 'F  BEAUVAI02', 'F  BELFORT07', 'F  BESANCO01', 'F  BESANCO06', 'F  BESANCO14', 'F  BESANCO21', 'F  BESANCO23', 'F  BEZIERS03', 'F  BIARRIT02', 'F  BICETRE02', 'F  BLOIS02', 'F  BLOIS05', 'F  BLOIS10', 'F  BLOIS11', 'F  BOBIGNY02', 'F  BONDY02', 'F  BORDEAU01', 'F  BORDEAU02', 'F  BORDEAU03', 'F  BORDEAU06', 'F  BORDEAU12', 'F  BORDEAU16', 'F  BORDEAU27', 'F  BORDEAU28', 'F  BORDEAU31', 'F  BORDEAU33', 'F  BORDEAU36', 'F  BORDEAU37', 'F  BORDEAU40', 'F  BORDEAU41', 'F  BORDEAU45', 'F  BORDEAU49', 'F  BORDEAU50', 'F  BORDEAU52', 'F  BORDEAU54', 'F  BOULOGN02', 'F  BOULOGN03', 'F  BOURG-B07', 'F  BOURGES04', 'F  BOURGES09', 'F  BOURGES10', 'F  BREST01', 'F  BREST07', 'F  BREST08', 'F  BREST09', 'F  BREST10', 'F  BREST21', 'F  BREST22', 'F  BREST23', 'F  BREST26', 'F  BRIVE02', 'F  BRUZ01', 'F  BRUZ02', 'F  BRUZ03', 'F  CACHAN01', 'F  CACHAN03', 'F  CACHAN04', 'F  CAEN01', 'F  CAEN05', 'F  CAEN11', 'F  CASTRES03', 'F  CERGY-P01', 'F  CERGY-P03', 'F  CERGY-P06', 'F  CERGY01', 'F  CERGY03', 'F  CERGY07', 'F  CERGY08', 'F  CHALLAN01', 'F  CHALO-

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [56]:
print_unique_values(students_2010, 'GENDER')
students_2010[students_2010.GENDER.isnull()]

['F', 'M']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [57]:
print_unique_values(students_2010, 'NATIONALITY')
students_2010[students_2010.NATIONALITY.isnull()]

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'XX']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [58]:
students_2010.LEVELSTUDY = students_2010.LEVELSTUDY.astype(str)
print_unique_values(students_2010, 'LEVELSTUDY')
students_2010[students_2010.LEVELSTUDY.isnull()]

['1', '2', '3', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [59]:
print_unique_values(students_2010, 'MOBILITYTYPE')
students_2010[students_2010.MOBILITYTYPE.isnull()]

['C', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [60]:
# host institution should be available for mobility types S & C, check if this is the case
print_unique_values(students_2010[students_2010.HOSTINSTITUTION.isnull()], 'MOBILITYTYPE')

['P']

In [61]:
# check if every P mobility type student has a work placement set
students_2010[(students_2010.MOBILITYTYPE == 'P') & 
              (students_2010.WORKPLACEMENT.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [62]:
print_unique_values(students_2010, 'COUNTRYOFWORKPLACEMENT')

['AT', 'BE', 'BENL', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [63]:
students_2010[(students_2010.COUNTRYOFWORKPLACEMENT == 'BENL')]

,HOMEINSTITUTION,AGE,GENDER,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,WORKPLACEMENT,COUNTRYOFWORKPLACEMENT,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSWORK,TOTALECTSCREDITS,SEVSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
159514,UK PORTSMO01,22,F,DE,1,2,C,E GRANADA01,FRIEDRICH -EBERT-STIFFUNG EU OFFICE BRUSSELS,BENL,10.0,0.0,NaN,01-2011,09-2010,60,0,60,0,3780.0,0.0,N

In [64]:
# check if every P mobility type student has a country of work placement set
students_2010[(students_2010.MOBILITYTYPE == 'P') & 
              (students_2010.COUNTRYOFWORKPLACEMENT.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [65]:
print_unique_values(students_2010, 'SHORTDURATION')

['-', '0', '2', 'T', 'X', 'Y']

In [66]:
# check if all mobility students with a duration less than 3 months have a short duration type set
students_2010[(students_2010.MOBILITYTYPE != 'P') & 
              (students_2010.LENGTHSTUDYPERIOD < 3) & 
              (students_2010.SHORTDURATION.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [67]:
print_unique_values(students_2010, 'STUDYSTARTDATE')

['01-2010', '01-2011', '01/2010', '01/2011', '02-2010', '02-2011', '02/2010', '02/2011', '03-2010', '03-2011', '03/2011', '04-2011', '04/2011', '05-2011', '05/2011', '06-2010', '06-2011', '06/2011', '07-2010', '07-2011', '07/2010', '07/2011', '08-2010', '08-2011', '08/2010', '09-2010', '09-2011', '09/2010', '09/2011', '10-2010', '10/2010', '11-2010', '11/2010', '12-2010', '12/2010']

In [68]:
# all mobility student types (S & C) should have a study start date set
students_2010[(students_2010.MOBILITYTYPE != 'P') & 
              (students_2010.STUDYSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [69]:
print_unique_values(students_2010, 'PLACEMENTSTARTDATE')

['01-2011', '01/2011', '02-2011', '02/2011', '03-2011', '03/2011', '04-2011', '04/2011', '05-2011', '05-2012', '05/2011', '06-2010', '06-2011', '06-2012', '06/2010', '06/2011', '07-2010', '07-2011', '07-2012', '07-2013', '07-2014', '07-2015', '07-2016', '07/2010', '07/2011', '08-2010', '08-2011', '08/2010', '08/2011', '09-2010', '09-2011', '09/2010', '10-2010', '10-2011', '10/2010', '11-2010', '11-2011', '11/2010', '12-2010', '12-2011', '12/2010']

In [70]:
# all placement students (P) should have a placement start date set
students_2010[(students_2010.MOBILITYTYPE == 'P') & 
              (students_2010.PLACEMENTSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [71]:
print_unique_values(students_2010, 'PREVIOUSPARTICIPATION')
students_2010[students_2010.PREVIOUSPARTICIPATION.isnull()]

['M', 'N', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, WORKPLACEMENT, COUNTRYOFWORKPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSWORK, TOTALECTSCREDITS, SEVSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

#### Outcome of data quality assessment for 2010 data

Similar data quality issues to 2008 were also found in the 2010 dataset:
* Nationality: XX is not a valid country code and will be replaced with NULL
* Work placement / Country of work placement: Work placement itself might be NULL, Country of work placement is always set
* Study start date: inconsistencies in format found: mm/yyyy and mm-yyyy
* Placement start date: inconsistencies in format found: mm/yyyy and mm-yyyy; also inavlid dates found (e.g. 07-2014) where from a logical perspective only dates from 2010 and 2011 make sense

Additional data quality issues found in the 2010 data:
* Country of work placement: should be an ISO2 code, but there was also an occurence of a concatenation of 2 ISO2 codes, everything ISO2 code that does not have exactly 2 characters will be filtered out

Next step is to clean the 2010 data:

In [72]:
students_2010_cleaned = students_2010
students_2010_cleaned.NATIONALITY = students_2010_cleaned.NATIONALITY.replace({'XX': None})
students_2010_cleaned.STUDYSTARTDATE = students_2010_cleaned.STUDYSTARTDATE.str.replace('/', '-')
students_2010_cleaned.PLACEMENTSTARTDATE = students_2010_cleaned.PLACEMENTSTARTDATE.str.replace('/', '-')
# how many rows did we have in the beginning?
students_2010_cleaned.shape[0]

231408

In [73]:
# filtering rows with invalid study start dates
students_2010_cleaned = students_2010_cleaned[
    (students_2010_cleaned.STUDYSTARTDATE.str.slice(3,7).isin(['2010', '2011'])) |
    (students_2010_cleaned.STUDYSTARTDATE.isnull())]
students_2010_cleaned.shape[0]

231408

In [74]:
# filtering rows with invalid placement start dates
students_2010_cleaned = students_2010_cleaned[
    (students_2010_cleaned.PLACEMENTSTARTDATE.str.slice(3,7).isin(['2010', '2011'])) |
    (students_2010_cleaned.PLACEMENTSTARTDATE.isnull())]
students_2010_cleaned.shape[0]

231401

In [75]:
# filtering rows with invalid country codes
students_2010_cleaned = students_2010_cleaned[
    (students_2010_cleaned.COUNTRYOFWORKPLACEMENT.str.len() == 2) |
    (students_2010_cleaned.COUNTRYOFWORKPLACEMENT.isnull())]
students_2010_cleaned.shape[0]

231400

### CSV file for 2011-12
Read data for 2011-12 and assess columns.

In [76]:
students_2011 = pd.read_csv('raw_data/student_1112.csv', sep=';')
students_2011.info()
# we can see that the loaded dataframe for 2011 has 32 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252827 entries, 0 to 252826
Data columns (total 32 columns):
HOMEINSTITUTION                 252827 non-null object
COUNTRYCODEOFHOMEINSTITUTION    252827 non-null object
AGE                             252827 non-null int64
GENDER                          252827 non-null object
NATIONALITY                     252827 non-null object
SUBJECTAREA                     252827 non-null int64
LEVELSTUDY                      252827 non-null object
YEARSPRIOR                      252827 non-null int64
MOBILITYTYPE                    252827 non-null object
HOSTINSTITUTION                 204756 non-null object
COUNTRYCODEOFHOSTINSTITUTION    204756 non-null object
PLACEMENTENTERPRISE             48142 non-null object
COUNTRYOFPLACEMENT              48144 non-null object
ENTERPRISESIZE                  48144 non-null object
TYPEPLACEMENTSECTOR             48144 non-null object
LENGTHSTUDYPERIOD               252827 non-null float64
LENGTHPLACEMENT                 252827 non-null float64
SHORTDURATION                   13752 non-null object
STUDYSTARTDATE                  204760 non-null object
PLACEMENTSTARTDATE              48144 non-null object
CONSORTIUMAGREEMENTNUMBER       7712 non-null object
ECTSCREDITSSTUDY                252827 non-null int64
ECTSCREDITSPLACEMENT            252827 non-null int64
TOTALECTSCREDITS                252827 non-null int64
SNSUPPLEMENT                    252827 non-null float64
TAUGHTHOSTLANG                  252827 non-null object
LANGUAGETAUGHT                  252827 non-null object
LINGPREPARATION                 252827 non-null object
STUDYGRANT                      252827 non-null float64
PLACEMENTGRANT                  252827 non-null float64
PREVIOUSPARTICIPATION           252827 non-null object
QUALIFICATIONATHOST             252827 non-null object
dtypes: float64(5), int64(6), object(21)
memory usage: 61.7+ MB

In [77]:
students_2011.head(10)

,HOMEINSTITUTION,COUNTRYCODEOFHOMEINSTITUTION,AGE,GENDER,NATIONALITY,SUBJECTAREA,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,COUNTRYCODEOFHOSTINSTITUTION,PLACEMENTENTERPRISE,COUNTRYOFPLACEMENT,ENTERPRISESIZE,TYPEPLACEMENTSECTOR,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,CONSORTIUMAGREEMENTNUMBER,ECTSCREDITSSTUDY,ECTSCREDITSPLACEMENT,TOTALECTSCREDITS,SNSUPPLEMENT,TAUGHTHOSTLANG,LANGUAGETAUGHT,LINGPREPARATION,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION,QUALIFICATIONATHOST
0,D BERLIN14,DE,27,F,DE,461,1,4,S,S JONKOPI01,SE,NaN,NaN,NaN,NaN,4.0,0.0,NaN,Aug-11,NaN,NaN,15,0,15,0.0,N,EN,HM,520.00,0.0,N,N
1,D BERLIN14,DE,27,F,XX,582,2,4,S,SF HELSINK41,FI,NaN,NaN,NaN,NaN,5.0,0.0,NaN,Oct-11,NaN,NaN,30,0,30,0.0,N,EN,HM,650.00,0.0,N,J
2,D BERLIN14,DE,24,F,DE,342,2,4,S,S JONKOPI01,SE,NaN,NaN,NaN,NaN,5.0,0.0,NaN,Aug-11,NaN,NaN,23,0,23,0.0,N,EN,HM,650.00,0.0,N,N
3,D BERLIN14,DE,28,M,DE,314,1,3,S,UK LONDON062,UK,NaN,NaN,NaN,NaN,3.5,0.0,NaN,Sep-11,NaN,NaN,27,0,27,0.0,Y,EN,HM,455.00,0.0,N,N
4,D BERLIN14,DE,22,F,DE,314,1,2,S,E TENERIF01,ES,NaN,NaN,NaN,NaN,10.0,0.0,NaN,Sep-11,NaN,NaN,47,0,47,0.0,Y,ES,HM,1300.00,0.0,N,N
5,D BERLIN14,DE,24,M,DE,314,2,4,S,IRLDUBLIN27,IE,NaN,NaN,NaN,NaN,5.0,0.0,NaN,Jan-12,NaN,NaN,20,0,20,0.0,Y,EN,HM,650.00,0.0,N,N
6,D BERLIN14,DE,28,F,DE,314,2,5,S,S GOTEBOR01,SE,NaN,NaN,NaN,NaN,9.5,0.0,NaN,Sep-11,NaN,NaN,58,0,58,0.0,N,EN,HM,1235.00,0.0,N,N
7,D BERLIN14,DE,23,M,DE,422,1,2,S,IRLDUNDALK01,IE,NaN,NaN,NaN,NaN,4.5,0.0,NaN,Sep-11,NaN,NaN,15,0,15,0.0,Y,EN,HM,585.00,0.0,N,N
8,D BERLIN14,DE,28,M,DE,481,2,5,S,TR ISTANBU16,TR,NaN,NaN,NaN,NaN,4.0,0.0,NaN,Jan-12,NaN,NaN,24,0,24,0.0,N,EN,HM,520.00,0.0,N,N
9,D BERLIN18,DE,26,F,DE,214,1,4,S,TR ISTANBU05,TR,NaN,NaN,NaN,NaN,4.0,0.0,NaN,Feb-12,NaN,NaN,30,0,30,0.0,Y,TR,NN,1162.08,0.0,N,N

The 2011 data has the same columns as the 2008 data, but some formats seems different, e.g. for the Date columns. Let's have a look on the data quality of the selected columns we will use for analytics.

In [78]:
students_2011 = students_2011[[
    'HOMEINSTITUTION',
    'AGE',
    'GENDER',
    'NATIONALITY',
    'LEVELSTUDY',
    'YEARSPRIOR',
    'MOBILITYTYPE',
    'HOSTINSTITUTION',
    'PLACEMENTENTERPRISE',
    'COUNTRYOFPLACEMENT',
    'LENGTHSTUDYPERIOD',
    'LENGTHPLACEMENT',
    'SHORTDURATION',
    'STUDYSTARTDATE',
    'PLACEMENTSTARTDATE',
    'ECTSCREDITSSTUDY',
    'ECTSCREDITSPLACEMENT',
    'TOTALECTSCREDITS',
    'SNSUPPLEMENT',
    'STUDYGRANT',
    'PLACEMENTGRANT',
    'PREVIOUSPARTICIPATION'
]]
students_2011.describe()

,AGE,YEARSPRIOR,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,ECTSCREDITSSTUDY,ECTSCREDITSPLACEMENT,TOTALECTSCREDITS,SNSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT
count,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000,252827.000000
mean,22.522282,2.727929,5.105015,0.825524,27.925407,2.673860,30.599267,3.127733,1186.403082,294.686539
std,2.629492,1.313078,3.312576,1.914373,20.998558,8.686028,19.158514,155.438652,994.663336,709.921101
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,2.000000,4.000000,0.000000,11.000000,0.000000,19.000000,0.000000,533.300000,0.000000
50%,22.000000,2.000000,5.000000,0.000000,30.000000,0.000000,30.000000,0.000000,1072.500000,0.000000
75%,23.000000,3.000000,8.500000,0.000000,37.000000,0.000000,39.000000,0.000000,1674.000000,0.000000
max,83.000000,20.000000,13.250000,12.000000,90.000000,90.000000,90.000000,41777.740000,7730.000000,9672.000000

In [79]:
print_unique_values(students_2011, 'HOMEINSTITUTION')
students_2011[students_2011.HOMEINSTITUTION.isnull()]

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  FELDKIR01', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU21', 'A  INNSBRU23', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KLAGENF06', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ11', 'A  LINZ17', 'A  LINZ19', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SCHLAIN01', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN66', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON08', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  EUPEN04', 'B  GEEL07', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE07', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  MECHELE14', 'B  MONS02', 'B  MONS05', 'B  MONS11', 'B  MONS20', 'B  MONS21', 'B  MONS22', 'B  MONS23', 'B  NAMUR01', 'B  NAMUR10', 'B  NAMUR11', 'B  TOURNAI01', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOURGAS01', 'BG BOURGAS02', 'BG GABROVO01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG PLOVDIV08', 'BG PLOVDIV09', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA13', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA22', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA30', 'BG SOFIA31', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VARNA05', 'BG VELIKO01', 'BG VELIKO02', 'CH BASEL01', 'CH BERN01', 'CH BERN11', 'CH BERN12', 'CH BRUGG02', 'CH DELEMON02', 'CH FRIBOUR01', 'CH FRIBOUR04', 'CH GENEVE01', 'CH LAUSANN01', 'CH LAUSANN06', 'CH LAUSANN11', 'CH LUGANO01', 'CH LUGANO02', 'CH LUZERN01', 'CH LUZERN13', 'CH LUZERN14', 'CH NEUCHAT01', 'CH ST-GALL09', 'CH ST-GALL11', 'CH ST.GALL08', 'CH THURGAU01', 'CH WINTERT03', 'CH ZURICH01', 'CH ZURICH07', 'CH ZURICH17', 'CH ZURICH20', 'CH ZURICH21', 'CY LARNACA01', 'CY LEFKOSI01', 'CY LEFKOSI02', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA10', 'CY NICOSIA14', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CY NICOSIA26', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO09', 'CZ BRNO10', 'CZ CESKE01', 'CZ CESKE03', 'CZ CESKE04', 'CZ EASLAV01', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KOLIN01', 'CZ LIBEREC01', 'CZ MELNIK01', 'CZ MLADA01', 'CZ OLOMOUC01', 'CZ OLOMOUC02', 'CZ OLOMOUC03', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ PRAHA26', 'CZ PRAHA28', 'CZ PRAHA29', 'CZ PRAHA30', 'CZ PRAHA31', 'CZ PREROV01', 'CZ PREROV02', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ VALASSK01', 'CZ ZLIN01', 'CZ ZNOJMO01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ANSBACH02', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN22', 'D  BERLIN23', 'D  BERLIN24', 'D  BERLIN26', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  BUXTEHU02', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA1', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN02', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FRANKFU10', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  GELSENK01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GOTTING02', 'D  GREIFS01', 'D  GUESTRO01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG11', 'D  HAMBURG12', 'D  HAMBURG14', 'D  HAMBURG17', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HANNOVE09', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB04', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KEMPTEN02', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KLEVE01', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN03', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KOLN12', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ05', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NIENBUR01', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURNBER04', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  OTTERSB02', 'D  PADERBO01', 'D  PADERBO04', 'D  PADERBO05', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  POTSDAM04', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIEDLIN01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G02', 'D  SCHWAG01', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WILHELM02', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  ZITTAU01', 'D  ZITTAU02', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS08', 'DK ARHUS10', 'DK ARHUS26', 'DK ARHUS28', 'DK ESBJERG18', 'DK ESBJERG19', 'DK HERNING01', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA14', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA54', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOBENHA57', 'DK KOBENHA58', 'DK KOGE03', 'DK KOLDING07', 'DK KOLDING10', 'DK KOPENHA10', 'DK KOPENHA26', 'DK KOPENHA37', 'DK LYNGBY01', 'DK ODENSE01', 'DK ODENSE16', 'DK ODENSE21', 'DK ODENSE22', 'DK RANDERS04', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK VEJLE06', 'DK XX', 'E  ALBACET01', 'E  ALBACET03', 'E  ALBACET05', 'E  ALBACET08', 'E  ALBACET09', 'E  ALBACET10', 'E  ALBACET11', 'E  ALBACET13', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT04', 'E  ALICANT05', 'E  ALICANT06', 'E  ALICANT08', 'E  ALICANT10', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT14', 'E  ALICANT16', 'E  ALICANT17', 'E  ALICANT18', 'E  ALICANT21', 'E  ALICANT24', 'E  ALICANT25', 'E  ALICANT26', 'E  ALICANT27', 'E  ALICANT31', 'E  ALICANT39', 'E  ALMERIA01', 'E  ALMERIA03', 'E  ALMERIA06', 'E  ALMERIA07', 'E  ALMERIA08', 'E  ALMERIA12', 'E  AVILA01', 'E  AVILA04', 'E  AVILA05', 'E  AVILES01', 'E  AVILES02', 'E  BADAJOZ01', 'E  BADAJOZ02', 'E  BADAJOZ03', 'E  BADAJOZ08', 'E  BADAJOZ09', 'E  BADAJOZ11', 'E  BADAJOZ12', 'E  BADAJOZ13', 'E  BADAJOZ15', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO100', 'E  BARCELO101', 'E  BARCELO11', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO38', 'E  BARCELO39', 'E  BARCELO40', 'E  BARCELO42', 'E  BARCELO43', 'E  BARCELO45', 'E  BARCELO46', 'E  BARCELO47', 'E  BARCELO51', 'E  BARCELO52', 'E  BARCELO53', 'E  BARCELO55', 'E  BARCELO56', 'E  BARCELO57', 'E  BARCELO58', 'E  BARCELO62', 'E  BARCELO66', 'E  BARCELO67', 'E  BARCELO69', 'E  BARCELO70', 'E  BARCELO71', 'E  BARCELO73', 'E  BARCELO74', 'E  BARCELO78', 'E  BARCELO84', 'E  BARCELO85', 'E  BARCELO89', 'E  BARCELO91', 'E  BARCELO94', 'E  BARCELO95', 'E  BARCELO96', 'E  BARCELO99', 'E  BENLAMA01', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO14', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO26', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO31', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO34', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO40', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO44', 'E  BILBAO45', 'E  BILBAO47', 'E  BILBAO49', 'E  BILBAO55', 'E  BURGOS01', 'E  BURGOS02', 'E  BURGOS04', 'E  BURGOS05', 'E  BURGOS06', 'E  BURGOS10', 'E  BURGOS11', 'E  BURGOS14', 'E  BURGOS15', 'E  BURGOS16', 'E  BURGOS18', 'E  CACERES02', 'E  CACERES03', 'E  CACERES04', 'E  CACERES06', 'E  CACERES11', 'E  CADIZ01', 'E  CADIZ07', 'E  CADIZ10', 'E  CADIZ13', 'E  CADIZ16', 'E  CADIZ19', 'E  CADIZ20', 'E  CASTELL01', 'E  CASTELL05', 'E  CASTELL08', 'E  CASTELL09', 'E  CASTELL13', 'E  CASTELL14', 'E  CASTELL16', 'E  CASTELL20', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R04', 'E  CIUDA-R06', 'E  CIUDA-R07', 'E  CIUDA-R08', 'E  CIUDA-R09', 'E  CIUDA-R11', 'E  CIUDA-R12', 'E  CIUDA-R13', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA05', 'E  CORDOBA07', 'E  CORDOBA09', 'E  CORDOBA15', 'E  CORDOBA19', 'E  CUENCA01', 'E  CUENCA02', 'E  CUENCA06', 'E  ELCHE01', 'E  ELCHE04', 'E  ESTELLA01', 'E  GIJON02', 'E  GIJON03', 'E  GIJON04', 'E  GIJON05', 'E  GIJON06', 'E  GIJON07', 'E  GIJON09', 'E  GIJON11', 'E  GIRONA02', 'E  GIRONA04', 'E  GIRONA05', 'E  GIRONA09', 'E  GIRONA10', 'E  GIRONA11', 'E  GIRONA12', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA07', 'E  GRANADA08', 'E  GRANADA10', 'E  GRANADA11', 'E  GRANADA13', 'E  GRANADA15', 'E  GRANADA17', 'E  GUADALA01', 'E  GUADALA02', 'E  GUADALA04', 'E  GUADALA05', 'E  GUADALA09', 'E  GUADALA10', 'E  HARO01', 'E  HUELVA01', 'E  HUELVA03', 'E  HUELVA04', 'E  HUELVA10', 'E  HUELVA11', 'E  HUESCA01', 'E  HUESCA02', 'E  HUESCA04', 'E  HUESCA09', 'E  HUESCA10', 'E  HUESCA12', 'E  IBIZA03', 'E  IBIZA04', 'E  IBIZA05', 'E  JAEN01', 'E  JAEN03', 'E  JAEN05', 'E  JAEN06', 'E  LA-CORU01', 'E  LA-CORU03', 'E  LA-CORU04', 'E  LA-CORU05', 'E  LA-CORU06', 'E  LA-CORU09', 'E  LA-CORU10', 'E  LA-CORU12', 'E  LA-CORU13', 'E  LA-CORU14', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL05', 'E  LAS-PAL06', 'E  LAS-PAL08', 'E  LAS-PAL09', 'E  LAS-PAL10', 'E  LAS-PAL11', 'E  LAS-PAL14', 'E  LAS-PAL15', 'E  LAS-PAL16', 'E  LAS-PAL17', 'E  LEON01', 'E  LEON03', 'E  LEON05', 'E  LEON06', 'E  LEON07', 'E  LEON09', 'E  LEON12', 'E  LEON15', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  LOGRONO06', 'E  LOGRONO07', 'E  LOGRONO08', 'E  LOGRONO09', 'E  LOGRONO11', 'E  LOGRONO12', 'E  LUGO01', 'E  LUGO02', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID100', 'E  MADRID101', 'E  MADRID102', 'E  MADRID103', 'E  MADRID105', 'E  MADRID106', 'E  MADRID107', 'E  MADRID109', 'E  MADRID110', 'E  MADRID111', 'E  MADRID114', 'E  MADRID118', 'E  MADRID119', 'E  MADRID12', 'E  MADRID120', 'E  MADRID125', 'E  MADRID127', 'E  MADRID128', 'E  MADRID129', 'E  MADRID132', 'E  MADRID135', 'E  MADRID138', 'E  MADRID14', 'E  MADRID141', 'E  MADRID143', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID25', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID29', 'E  MADRID30', 'E  MADRID31', 'E  MADRID33', 'E  MADRID35', 'E  MADRID36', 'E  MADRID37', 'E  MADRID38', 'E  MADRID39', 'E  MADRID40', 'E  MADRID41', 'E  MADRID42', 'E  MADRID43', 'E  MADRID44', 'E  MADRID50', 'E  MADRID51', 'E  MADRID53', 'E  MADRID55', 'E  MADRID56', 'E  MADRID57', 'E  MADRID58', 'E  MADRID62', 'E  MADRID63', 'E  MADRID64', 'E  MADRID66', 'E  MADRID67', 'E  MADRID69', 'E  MADRID73', 'E  MADRID74', 'E  MADRID76', 'E  MADRID77', 'E  MADRID78', 'E  MADRID79', 'E  MADRID80', 'E  MADRID81', 'E  MADRID84', 'E  MADRID86', 'E  MADRID89', 'E  MADRID90', 'E  MADRID93', 'E  MADRID94', 'E  MADRID95', 'E  MADRID96', 'E  MADRID97', 'E  MADRID98', 'E  MADRID99', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA04', 'E  MALAGA05', 'E  MALAGA06', 'E  MALAGA07', 'E  MALAGA11', 'E  MALAGA15', 'E  MALAGA16', 'E  MALAGA18', 'E  MALAGA19', 'E  MALAGA22', 'E  MALAGA25', 'E  MALAGA26', 'E  MALAGA27', 'E  MALAGA29', 'E  MATARO01', 'E  MERIDA01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA08', 'E  MURCIA09', 'E  MURCIA10', 'E  MURCIA12', 'E  MURCIA13', 'E  MURCIA14', 'E  MURCIA17', 'E  MURCIA19', 'E  MURCIA20', 'E  MURCIA23', 'E  MURCIA25', 'E  MURCIA26', 'E  MURCIA31', 'E  MURCIA34', 'E  MURCIA35', 'E  MURCIA37', 'E  MURCIA39', 'E  ORENSE02', 'E  OVIEDO01', 'E  OVIEDO03', 'E  OVIEDO06', 'E  OVIEDO08', 'E  OVIEDO09', 'E  OVIEDO11', 'E  OVIEDO13', 'E  OVIEDO15', 'E  PALENCI01', 'E  PALENCI02', 'E  PALENCI03', 'E  PALENCI06', 'E  PALENCI07', 'E  PALMA01', 'E  PALMA04', 'E  PALMA06', 'E  PALMA07', 'E  PALMA08', 'E  PALMA09', 'E  PALMA14', 'E  PALMA15', 'E  PALMA17', 'E  PALMA20', 'E  PALMA23', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON03', 'E  PAMPLON05', 'E  PAMPLON07', 'E  PAMPLON08', 'E  PAMPLON09', 'E  PAMPLON10', 'E  PAMPLON11', 'E  PAMPLON12', 'E  PAMPLON13', 'E  PAMPLON17', 'E  PAMPLON19', 'E  PERALTA01', 'E  PONTEVE02', 'E  PONTEVE03', 'E  SAB-SEB13', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SALAMAN04', 'E  SALAMAN08', 'E  SALAMAN09', 'E  SALAMAN10', 'E  SALAMAN11', 'E  SALAMAN16', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB04', 'E  SAN-SEB05', 'E  SAN-SEB06', 'E  SAN-SEB07', 'E  SAN-SEB08', 'E  SAN-SEB09', 'E  SAN-SEB10', 'E  SAN-SEB11', 'E  SAN-SEB12', 'E  SAN-SEB14', 'E  SAN-SEB15', 'E  SAN-SEB16', 'E  SAN-SEB18', 'E  SAN-SEB19', 'E  SAN-SEB20', 'E  SAN-SEB21', 'E  SAN-SEB22', 'E  SAN-SEB23', 'E  SAN-SEB26', 'E  SAN-SEB27', 'E  SAN-SEB28', 'E  SAN-SEB29', 'E  SAN-SEB30', 'E  SAN-SEB31', 'E  SAN-SEB32', 'E  SAN-SEB33', 'E  SAN-SEB34', 'E  SAN-SEB38', 'E  SAN-SEB39', 'E  SAN-SEB42', 'E  SAN-SEB43', 'E  SANADRI01', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND04', 'E  SANTAND05', 'E  SANTAND06', 'E  SANTAND07', 'E  SANTAND08', 'E  SANTAND09', 'E  SANTAND10', 'E  SANTAND14', 'E  SANTAND16', 'E  SANTAND18', 'E  SANTAND19', 'E  SANTAND22', 'E  SANTAND23', 'E  SANTAND24', 'E  SANTAND25', 'E  SANTIAG01', 'E  SANTIAG02', 'E  SANTIAG03', 'E  SEGOVIA01', 'E  SEGOVIA03', 'E  SEGOVIA04', 'E  SEGOVIA05', 'E  SEGOVIA06', 'E  SEGOVIA07', 'E  SEGOVIA08', 'E  SEGOVIA09', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA06', 'E  SEVILLA08', 'E  SEVILLA09', 'E  SEVILLA11', 'E  SEVILLA13', 'E  SEVILLA18', 'E  SEVILLA19', 'E  SEVILLA20', 'E  SEVILLA21', 'E  SEVILLA25', 'E  SEVILLA31', 'E  SEVILLA34', 'E  SEVILLA35', 'E  SEVILLA37', 'E  SEVILLA40', 'E  SEVILLA41', 'E  SEVILLA44', 'E  SORIA02', 'E  SORIA05', 'E  SORIA06', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TARRAGO03', 'E  TARRAGO06', 'E  TARRAGO07', 'E  TARRAGO11', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF04', 'E  TENERIF05', 'E  TENERIF06', 'E  TENERIF08', 'E  TENERIF09', 'E  TENERIF10', 'E  TENERIF11', 'E  TENERIF13', 'E  TENERIF14', 'E  TENERIF17', 'E  TENERIF18', 'E  TERUEL01', 'E  TERUEL02', 'E  TERUEL05', 'E  TERUEL07', 'E  TOLEDO01', 'E  TOLEDO02', 'E  TOLEDO04', 'E  TOLEDO05', 'E  TOLEDO08', 'E  TOLEDO10', 'E  TOLEDO11', 'E  TORRELA01', 'E  TUDELA01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI12', 'E  VALENCI13', 'E  VALENCI15', 'E  VALENCI16', 'E  VALENCI17', 'E  VALENCI18', 'E  VALENCI19', 'E  VALENCI21', 'E  VALENCI23', 'E  VALENCI24', 'E  VALENCI26', 'E  VALENCI27', 'E  VALENCI29', 'E  VALENCI31', 'E  VALENCI35', 'E  VALENCI39', 'E  VALENCI40', 'E  VALENCI41', 'E  VALENCI42', 'E  VALENCI43', 'E  VALENCI46', 'E  VALENCI52', 'E  VALENCI53', 'E  VALENCI55', 'E  VALENCI56', 'E  VALENCI58', 'E  VALENCI59', 'E  VALENCI61', 'E  VALENCI64', 'E  VALENCI66', 'E  VALENCI67', 'E  VALENCI69', 'E  VALENCI71', 'E  VALENCI72', 'E  VALENCI75', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO06', 'E  VALLADO09', 'E  VALLADO10', 'E  VALLADO15', 'E  VALLADO17', 'E  VALLADO18', 'E  VALLADO20', 'E  VALLADO21', 'E  VALLADO22', 'E  VALLADO23', 'E  VALLADO24', 'E  VALLADO25', 'E  VIC01', 'E  VIC03', 'E  VIGO01', 'E  VIGO02', 'E  VIGO03', 'E  VIGO05', 'E  VIGO06', 'E  VIGO10', 'E  VITORIA04', 'E  VITORIA05', 'E  VITORIA06', 'E  VITORIA07', 'E  VITORIA08', 'E  VITORIA09', 'E  VITORIA10', 'E  VITORIA11', 'E  VITORIA13', 'E  VITORIA15', 'E  VITORIA16', 'E  VITORIA18', 'E  VITORIA19', 'E  VITORIA20', 'E  ZAMORA02', 'E  ZAMORA03', 'E  ZAMORA04', 'E  ZAMORA05', 'E  ZAMORA08', 'E  ZAMORA09', 'E  ZARAGOZ01', 'E  ZARAGOZ06', 'E  ZARAGOZ07', 'E  ZARAGOZ09', 'E  ZARAGOZ11', 'E  ZARAGOZ12', 'E  ZARAGOZ15', 'E  ZARAGOZ16', 'E  ZARAGOZ20', 'E  ZARAGOZ24', 'E  ZARAGOZ25', 'E  ZARAGOZ26', 'E  ZARAGOZ28', 'E  ZARAGOZ29', 'E  ZARAGOZ30', 'EE LAANE-V02', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLI

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [80]:
print_unique_values(students_2011, 'GENDER')
students_2011[students_2011.GENDER.isnull()]

['F', 'M']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [81]:
print_unique_values(students_2011, 'NATIONALITY')
students_2011[students_2011.NATIONALITY.isnull()]

['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'XX']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [82]:
students_2011.LEVELSTUDY = students_2011.LEVELSTUDY.astype(str)
print_unique_values(students_2011, 'LEVELSTUDY')
students_2011[students_2011.LEVELSTUDY.isnull()]

['1', '2', '3', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [83]:
print_unique_values(students_2011, 'MOBILITYTYPE')
students_2011[students_2011.MOBILITYTYPE.isnull()]

['C', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [84]:
# host institution should be available for mobility types S & C, check if this is the case
print_unique_values(students_2011[students_2011.HOSTINSTITUTION.isnull()], 'MOBILITYTYPE')

['P']

In [85]:
# check if every P mobility type student has a work placement set
students_2011[(students_2011.MOBILITYTYPE == 'P') & 
              (students_2011.PLACEMENTENTERPRISE.isnull())].head()

,HOMEINSTITUTION,AGE,GENDER,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,PLACEMENTENTERPRISE,COUNTRYOFPLACEMENT,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSPLACEMENT,TOTALECTSCREDITS,SNSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
132695,UK BOGNO-R01,21,F,UK,2,1,P,NaN,NaN,FR,0.0,4.75,NaN,NaN,Dec-11,0,30,30,0.0,0.0,1767.0,N
182764,UK SWANSEA01,22,M,UK,1,2,P,NaN,NaN,FR,0.0,7.75,NaN,NaN,Oct-11,0,60,60,0.0,0.0,2883.0,N

In [86]:
print_unique_values(students_2011, 'COUNTRYOFPLACEMENT')

['AT', 'BE', 'BEFR', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [87]:
students_2011[(students_2011.COUNTRYOFPLACEMENT == 'BEFR')]

,HOMEINSTITUTION,AGE,GENDER,NATIONALITY,LEVELSTUDY,YEARSPRIOR,MOBILITYTYPE,HOSTINSTITUTION,PLACEMENTENTERPRISE,COUNTRYOFPLACEMENT,LENGTHSTUDYPERIOD,LENGTHPLACEMENT,SHORTDURATION,STUDYSTARTDATE,PLACEMENTSTARTDATE,ECTSCREDITSSTUDY,ECTSCREDITSPLACEMENT,TOTALECTSCREDITS,SNSUPPLEMENT,STUDYGRANT,PLACEMENTGRANT,PREVIOUSPARTICIPATION
7574,S MALMO01,28,F,XX,2,3,C,NL UTRECHT01,EUROPEAN INSTITUTE FOR ASIAN STUDIES,BEFR,8.0,0.0,NaN,Sep-11,Feb-12,30,0,30,0.0,3842.5,0.0,S

In [88]:
# check if every P mobility type student has a country of work placement set
students_2011[(students_2011.MOBILITYTYPE == 'P') & 
              (students_2011.COUNTRYOFPLACEMENT.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [89]:
print_unique_values(students_2011, 'SHORTDURATION')

['-', '0', 'N', 'S', 'T', 'X']

In [90]:
# check if all mobility students with a duration less than 3 months have a short duration type set
students_2011[(students_2011.MOBILITYTYPE != 'P') & 
              (students_2011.LENGTHSTUDYPERIOD < 3) & 
              (students_2011.SHORTDURATION.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [91]:
print_unique_values(students_2011, 'STUDYSTARTDATE')

['Apr-12', 'Aug-11', 'Aug-12', 'Dec-11', 'Feb-12', 'Jan-12', 'Jul-11', 'Jul-12', 'Jun-11', 'Jun-12', 'Mar-12', 'May-12', 'Nov-11', 'Oct-11', 'Sep-11', 'Sep-12']

In [92]:
# all mobility student types (S & C) should have a study start date set
students_2011[(students_2011.MOBILITYTYPE != 'P') & 
              (students_2011.STUDYSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [93]:
print_unique_values(students_2011, 'PLACEMENTSTARTDATE')

['Apr-12', 'Aug-11', 'Aug-12', 'Dec-11', 'Feb-12', 'Jan-12', 'Jul-11', 'Jul-12', 'Jun-11', 'Jun-12', 'Mar-12', 'May-12', 'Nov-11', 'Oct-11', 'Sep-11', 'Sep-12']

In [94]:
# all placement students (P) should have a placement start date set
students_2011[(students_2011.MOBILITYTYPE == 'P') & 
              (students_2011.PLACEMENTSTARTDATE.isnull())].head()

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

In [95]:
print_unique_values(students_2011, 'PREVIOUSPARTICIPATION')
students_2011[students_2011.PREVIOUSPARTICIPATION.isnull()]

['M', 'N', 'P', 'S']

Empty DataFrame
Columns: [HOMEINSTITUTION, AGE, GENDER, NATIONALITY, LEVELSTUDY, YEARSPRIOR, MOBILITYTYPE, HOSTINSTITUTION, PLACEMENTENTERPRISE, COUNTRYOFPLACEMENT, LENGTHSTUDYPERIOD, LENGTHPLACEMENT, SHORTDURATION, STUDYSTARTDATE, PLACEMENTSTARTDATE, ECTSCREDITSSTUDY, ECTSCREDITSPLACEMENT, TOTALECTSCREDITS, SNSUPPLEMENT, STUDYGRANT, PLACEMENTGRANT, PREVIOUSPARTICIPATION]
Index: []

#### Outcome of data quality assessment for 2011 data

Similar data quality issues to 2008 were also found in the 2011 dataset:
* Nationality: XX is not a valid country code and will be replaced with NULL
* Work placement / Country of work placement: Work placement itself might be NULL, Country of work placement is always set
* Study start date: consistent format, but different to the previous one, needs to be converted
* Placement start date: consistent format, but different to the previous one, needs to be converted

Additional data quality issues found in the 2011 data:
* Country of work placement: should be an ISO2 code, but there was also an occurence of a concatenation of 2 ISO2 codes, everything ISO2 code that does not have exactly 2 characters will be filtered out

Next step is to clean the 2011 data:

In [96]:
students_2011_cleaned = students_2011
students_2011_cleaned.NATIONALITY = students_2011_cleaned.NATIONALITY.replace({'XX': None})

# how many rows did we have in the beginning?
students_2011_cleaned.shape[0]

252827

In [97]:
# date conversion
def convert_date(date):
    try: 
        return pd.to_datetime(date).strftime('%m-%Y')
    except ValueError:
        return None

students_2011_cleaned.STUDYSTARTDATE = students_2011_cleaned.STUDYSTARTDATE.str.replace('-', '-20')
students_2011_cleaned.STUDYSTARTDATE = students_2011_cleaned.STUDYSTARTDATE.apply(convert_date)
students_2011_cleaned.PLACEMENTSTARTDATE = students_2011_cleaned.PLACEMENTSTARTDATE.str.replace('-', '-20')
students_2011_cleaned.PLACEMENTSTARTDATE = students_2011_cleaned.PLACEMENTSTARTDATE.apply(convert_date)
students_2011_cleaned.shape[0]

252827

In [98]:
# filtering rows with invalid study start dates
students_2011_cleaned = students_2011_cleaned[
    (students_2011_cleaned.STUDYSTARTDATE.str.slice(3,7).isin(['2011', '2012'])) |
    (students_2011_cleaned.STUDYSTARTDATE.isnull())]
students_2011_cleaned.shape[0]

252827

In [99]:
# filtering rows with invalid placement start dates
students_2011_cleaned = students_2011_cleaned[
    (students_2011_cleaned.PLACEMENTSTARTDATE.str.slice(3,7).isin(['2011', '2012'])) |
    (students_2011_cleaned.PLACEMENTSTARTDATE.isnull())]
students_2011_cleaned.shape[0]

252827

In [100]:
# filtering rows with invalid country codes
students_2011_cleaned = students_2011_cleaned[
    (students_2011_cleaned.COUNTRYOFPLACEMENT.str.len() == 2) |
    (students_2011_cleaned.COUNTRYOFPLACEMENT.isnull())]
students_2011_cleaned.shape[0]

252826

### CSV file for 2012-13
Read data for 2012-13 and assess columns.

In [101]:
students_2012 = pd.read_csv('raw_data/SM_2012_13_20141103_01.csv', sep=';', encoding = 'ISO-8859-1')
students_2012.info()
# we can see that the loaded dataframe for 2012 has 34 columns

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267547 entries, 0 to 267546
Data columns (total 34 columns):
STUDENT_ID                        267547 non-null object
ID_MOBILITY_CDE                   267547 non-null object
HOME_INSTITUTION_CDE              267547 non-null object
HOME_INSTITUTION_CTRY_CDE         267547 non-null object
STUDENT_AGE_VALUE                 267547 non-null int64
STUDENT_GENDER_CDE                267547 non-null object
STUDENT_NATIONALITY_CDE           267547 non-null object
STUDENT_SUBJECT_AREA_VALUE        267547 non-null int64
STUDENT_STUDY_LEVEL_CDE           267547 non-null object
NUMB_YRS_HIGHER_EDUCAT_VALUE      267547 non-null int64
MOBILITY_TYPE_CDE                 267547 non-null object
HOST_INSTITUTION_CDE              267547 non-null object
HOST_INSTITUTION_COUNTRY_CDE      267547 non-null object
PLACEMENT_ENTERPRISE_VALUE        267547 non-null object
PLACEMENT_ENTERPRISE_CTRY_CDE     267544 non-null object
PLACEMENT_ENTERPRISE_SIZE_CDE     267544 non-null object
TYPE_PLACEMENT_SECTOR_VALUE       267544 non-null object
LENGTH_STUDY_PERIOD_VALUE         267511 non-null float64
LENGTH_PLACEMENT_VALUE            267544 non-null float64
SHORT_DURATION_CDE                267544 non-null object
STUDY_START_DATE                  267544 non-null object
PLACEMENT_START_DATE              267544 non-null object
CONSORTIUM_AGREEMENT_NUMBER       267544 non-null object
ECTS_CREDITS_STUDY_AMT            267544 non-null float64
ECTS_CREDITS_PLACEMENT_AMT        267544 non-null float64
TOTAL_ECTS_CREDITS_AMT            267544 non-null float64
SPECIAL_NEEDS_SUPPLEMENT_VALUE    267544 non-null float64
TAUGHT_HOST_LANGUAGE_CDE          267544 non-null object
LANGUAGE_TAUGHT_CDE               267544 non-null object
LINGUISTIC_PREPARATION_CDE        267544 non-null object
STUDY_GRANT_AMT                   267511 non-null object
PLACEMENT_GRANT_AMT               267544 non-null object
PREVIOUS_PARTICIPATION_CDE        267544 non-null object
QUALIFICATION_AT_HOST_CDE         267544 non-null object
dtypes: float64(6), int64(3), object(25)
memory usage: 69.4+ MB

In [102]:
students_2012.head(10)

,STUDENT_ID,ID_MOBILITY_CDE,HOME_INSTITUTION_CDE,HOME_INSTITUTION_CTRY_CDE,STUDENT_AGE_VALUE,STUDENT_GENDER_CDE,STUDENT_NATIONALITY_CDE,STUDENT_SUBJECT_AREA_VALUE,STUDENT_STUDY_LEVEL_CDE,NUMB_YRS_HIGHER_EDUCAT_VALUE,MOBILITY_TYPE_CDE,HOST_INSTITUTION_CDE,HOST_INSTITUTION_COUNTRY_CDE,PLACEMENT_ENTERPRISE_VALUE,PLACEMENT_ENTERPRISE_CTRY_CDE,PLACEMENT_ENTERPRISE_SIZE_CDE,TYPE_PLACEMENT_SECTOR_VALUE,LENGTH_STUDY_PERIOD_VALUE,LENGTH_PLACEMENT_VALUE,SHORT_DURATION_CDE,STUDY_START_DATE,PLACEMENT_START_DATE,CONSORTIUM_AGREEMENT_NUMBER,ECTS_CREDITS_STUDY_AMT,ECTS_CREDITS_PLACEMENT_AMT,TOTAL_ECTS_CREDITS_AMT,SPECIAL_NEEDS_SUPPLEMENT_VALUE,TAUGHT_HOST_LANGUAGE_CDE,LANGUAGE_TAUGHT_CDE,LINGUISTIC_PREPARATION_CDE,STUDY_GRANT_AMT,PLACEMENT_GRANT_AMT,PREVIOUS_PARTICIPATION_CDE,QUALIFICATION_AT_HOST_CDE
0,47099714S,ES/SM/07/000456,E ALICANT01,ES,21,F,ES,222,1,3,S,UK BATH01,UK,? Unknown ?,???,?,? Unknown,2.75,0.0,T,Sep-12,00/0000,? Unknown ?,24.0,0.0,24.0,0.0,Y,EN,HM,355.84,0,N,N
1,47397349F,ES/SM/07/000459,E ALICANT01,ES,22,M,ES,58,1,4,S,P LISBOA04,PT,? Unknown ?,???,?,? Unknown,10.75,0.0,?,Sep-12,00/0000,? Unknown ?,58.0,0.0,58.0,0.0,Y,PT,HM,1386.43,0,N,N
2,47397741P,ES/SM/07/000462,E ALICANT01,ES,20,F,ES,222,1,2,S,F XX,FR,? Unknown ?,???,?,? Unknown,10.00,0.0,?,Sep-12,00/0000,? Unknown ?,54.0,0.0,54.0,0.0,Y,FR,HM,1289.7,0,N,N
3,47447533M,ES/SM/07/000465,E ALICANT01,ES,20,F,ES,223,1,2,S,F PARIS004,FR,? Unknown ?,???,?,? Unknown,9.25,0.0,?,Sep-12,00/0000,? Unknown ?,57.0,0.0,57.0,0.0,Y,FR,HM,1192.97,0,N,N
4,47627846K,ES/SM/07/000468,E ALICANT01,ES,22,F,ES,34,1,4,S,UK LONDON062,UK,? Unknown ?,???,?,? Unknown,5.00,0.0,?,Jan-13,00/0000,? Unknown ?,30.0,0.0,30.0,0.0,Y,EN,HM,644.85,0,N,N
5,48290208Y,ES/SM/07/000471,E ALICANT01,ES,32,M,ES,222,1,2,S,P LISBOA02,PT,? Unknown ?,???,?,? Unknown,6.00,0.0,?,Feb-13,00/0000,? Unknown ?,30.0,0.0,30.0,0.0,Y,PT,HM,773.82,0,N,N
6,48300804E,ES/SM/07/000474,E ALICANT01,ES,34,F,ES,314,1,10,S,I VENEZIA01,IT,? Unknown ?,???,?,? Unknown,13.00,0.0,?,Aug-12,00/0000,? Unknown ?,30.0,0.0,30.0,0.0,Y,IT,EC,1847.64,0,N,N
7,48328761B,ES/SM/07/000477,E ALICANT01,ES,23,M,ES,34,1,4,S,F PARIS105,FR,? Unknown ?,???,?,? Unknown,4.25,0.0,?,Jan-13,00/0000,? Unknown ?,27.0,0.0,27.0,0.0,Y,FR,HM,548.12,0,N,N
8,48330650Z,ES/SM/07/000480,E ALICANT01,ES,24,M,ES,38,1,5,S,PL BIALYST04,PL,? Unknown ?,???,?,? Unknown,9.50,0.0,?,Sep-12,00/0000,? Unknown ?,48.0,0.0,48.0,0.0,Y,PL,HM,1225.22,0,N,N
9,48333028T,ES/SM/07/000483,E ALICANT01,ES,25,M,ES,345,2,1,S,S GOTEBOR01,SE,? Unknown ?,???,?,? Unknown,4.00,0.0,?,Aug-12,00/0000,? Unknown ?,23.0,0.0,23.0,0.0,Y,SV,HM,515.88,0,N,N

The 2012 data has different column names as the rest of the years. Also some of the columns seem to have different formats. Moreover, '?' seem often to be used instead of NULL values.

Let's have a look on the data quality of the selected columns we will use for analytics to find out how we need to convert them to be able to merge them with all the other data.

In [103]:
students_2012 = students_2012[[
    'HOME_INSTITUTION_CDE',
    'STUDENT_AGE_VALUE',
    'STUDENT_GENDER_CDE',
    'STUDENT_NATIONALITY_CDE',
    'STUDENT_STUDY_LEVEL_CDE',
    'NUMB_YRS_HIGHER_EDUCAT_VALUE',
    'MOBILITY_TYPE_CDE',
    'HOST_INSTITUTION_CDE',
    'PLACEMENT_ENTERPRISE_VALUE',
    'PLACEMENT_ENTERPRISE_CTRY_CDE',
    'LENGTH_STUDY_PERIOD_VALUE',
    'LENGTH_PLACEMENT_VALUE',
    'SHORT_DURATION_CDE',
    'STUDY_START_DATE',
    'PLACEMENT_START_DATE',
    'ECTS_CREDITS_STUDY_AMT',
    'ECTS_CREDITS_PLACEMENT_AMT',
    'TOTAL_ECTS_CREDITS_AMT',
    'SPECIAL_NEEDS_SUPPLEMENT_VALUE',
    'SPECIAL_NEEDS_SUPPLEMENT_VALUE',
    'PLACEMENT_GRANT_AMT',
    'PREVIOUS_PARTICIPATION_CDE'
]]
students_2012.describe()

,STUDENT_AGE_VALUE,NUMB_YRS_HIGHER_EDUCAT_VALUE,LENGTH_STUDY_PERIOD_VALUE,LENGTH_PLACEMENT_VALUE,ECTS_CREDITS_STUDY_AMT,ECTS_CREDITS_PLACEMENT_AMT,TOTAL_ECTS_CREDITS_AMT,SPECIAL_NEEDS_SUPPLEMENT_VALUE,SPECIAL_NEEDS_SUPPLEMENT_VALUE
count,267547.000000,267547.000000,267511.000000,267544.000000,267544.000000,267544.000000,267544.000000,267544.000000,267544.000000
mean,22.513058,2.696842,4.916420,0.897189,27.165128,2.916432,30.081486,2.522737,2.522737
std,2.702744,1.306263,3.312465,1.976879,20.727723,8.988954,18.761374,92.182059,92.182059
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,2.000000,3.500000,0.000000,8.000000,0.000000,19.000000,0.000000,0.000000
50%,22.000000,2.000000,5.000000,0.000000,30.000000,0.000000,30.000000,0.000000,0.000000
75%,24.000000,3.000000,8.000000,0.000000,35.000000,0.000000,36.000000,0.000000,0.000000
max,93.000000,20.000000,13.000000,13.000000,90.000000,90.000000,90.000000,12952.880000,12952.880000

In [104]:
print_unique_values(students_2012, 'HOME_INSTITUTION_CDE')
students_2012[students_2012.HOME_INSTITUTION_CDE.isnull()]

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU20', 'A  INNSBRU21', 'A  INNSBRU23', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KLAGENF06', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ11', 'A  LINZ17', 'A  LINZ23', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SCHLAIN01', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN66', 'A  WIENER01', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  EUPEN04', 'B  GEEL07', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE03', 'B  LIEGE07', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  MECHELE14', 'B  MONS20', 'B  MONS21', 'B  MONS22', 'B  MONS23', 'B  NAMUR01', 'B  NAMUR11', 'B  NAMUR13', 'B  NAMUR14', 'B  NAMUR15', 'B  TOURNAI01', 'BEFR XX', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOTEVGR02', 'BG BOURGAS01', 'BG BOURGAS02', 'BG GABROVO01', 'BG PERNIK01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG PLOVDIV09', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA13', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA21', 'BG SOFIA22', 'BG SOFIA24', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA30', 'BG SOFIA31', 'BG SOFIA32', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VARNA05', 'BG VELIKO01', 'BG VELIKO02', 'CH BASEL01', 'CH BELLINZ01', 'CH BERN01', 'CH BERN11', 'CH BERN12', 'CH BERN13', 'CH BERN14', 'CH BRUGG02', 'CH DELEMON02', 'CH FRIBOUR01', 'CH FRIBOUR04', 'CH GENEVE01', 'CH LAUSANN01', 'CH LAUSANN06', 'CH LUGANO01', 'CH LUGANO02', 'CH LUZERN01', 'CH LUZERN13', 'CH LUZERN14', 'CH NEUCHAT01', 'CH SION05', 'CH ST-GALL09', 'CH ST-GALL11', 'CH ST.GALL08', 'CH THURGAU01', 'CH WINTERT03', 'CH YVERDON02', 'CH ZURICH01', 'CH ZURICH07', 'CH ZURICH17', 'CH ZURICH20', 'CH ZURICH21', 'CY LARNACA01', 'CY LEFKOSI01', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA08', 'CY NICOSIA14', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CY NICOSIA26', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO10', 'CZ BRNO11', 'CZ BRNO12', 'CZ CESKE01', 'CZ CESKE04', 'CZ EASLAV01', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KOLIN01', 'CZ LIBEREC01', 'CZ MELNIK01', 'CZ MLADA01', 'CZ NEJDEK01', 'CZ OLOMOUC01', 'CZ OLOMOUC02', 'CZ OLOMOUC03', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ PRAHA26', 'CZ PRAHA27', 'CZ PRAHA28', 'CZ PRAHA30', 'CZ PRAHA32', 'CZ PRAHA33', 'CZ PREROV01', 'CZ PREROV02', 'CZ Praha32', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ VALASSK01', 'CZ ZLIN01', 'CZ ZNOJMO01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ANSBACH02', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  Aachen01', 'D  Aachen02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN23', 'D  BERLIN24', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN07', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  BUXTEHU02', 'D  Berlin02', 'D  Berlin03', 'D  Berlin18', 'D  Berlin21', 'D  Bochum02', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA1', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN02', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FRANKFu03', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FURTWAN01', 'D  Frankfu10', 'D  GELSENK01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GOTTING02', 'D  GREIFS01', 'D  GUESTRO01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG12', 'D  HAMBURG18', 'D  HAMM01', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB04', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  Hamburg01', 'D  Hamburg03', 'D  Hamburg05', 'D  Hamburg06', 'D  Hamburg11', 'D  Hamburg14', 'D  Hamburg17', 'D  Hannove03', 'D  Hannove09', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  Idstein01', 'D  Isny01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KEMPTEN02', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KLEVE01', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOELN 03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KOLN12', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MULHEIM01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN05', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  Mainz05', 'D  Munster05', 'D  NEUBRAN02', 'D  NEUSS02', 'D  NIENBUR01', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURNBER04', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  OTTERSB02', 'D  PADERBO01', 'D  PADERBO04', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REUTLIN02', 'D  REUTLIN03', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G02', 'D  SCHWAG01', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA09', 'D  STUTTGA10', 'D  Saarbru08', 'D  Speyer02', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WILHELM02', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR03', 'D  Wedel01', 'D  Witten02', 'D  Wurzbur02', 'D  ZITTAU01', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS10', 'DK ARHUS26', 'DK ARHUS27', 'DK ARHUS28', 'DK ESBJERG18', 'DK ESBJERG19', 'DK HERNING01', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA14', 'DK KOBENHA38', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA54', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOBENHA57', 'DK KOBENHA58', 'DK KOGE03', 'DK KOLDING07', 'DK KOLDING10', 'DK KOPENHA10', 'DK KOPENHA26', 'DK KOPENHA37', 'DK LYNGBY01', 'DK LYNGBY02', 'DK ODENSE01', 'DK ODENSE16', 'DK ODENSE21', 'DK ODENSE22', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK VEJLE06', 'DK XX', 'E  ALBACET01', 'E  ALBACET02', 'E  ALBACET03', 'E  ALBACET05', 'E  ALBACET08', 'E  ALBACET09', 'E  ALBACET10', 'E  ALBACET11', 'E  ALBACET13', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT03', 'E  ALICANT05', 'E  ALICANT06', 'E  ALICANT10', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT14', 'E  ALICANT16', 'E  ALICANT17', 'E  ALICANT18', 'E  ALICANT21', 'E  ALICANT22', 'E  ALICANT24', 'E  ALICANT25', 'E  ALICANT26', 'E  ALICANT27', 'E  ALICANT39', 'E  ALMERIA01', 'E  ALMERIA03', 'E  ALMERIA04', 'E  ALMERIA06', 'E  ALMERIA10', 'E  ALMERIA12', 'E  AVILA01', 'E  AVILA05', 'E  AVILES01', 'E  AVILES02', 'E  BADAJOZ01', 'E  BADAJOZ03', 'E  BADAJOZ05', 'E  BADAJOZ08', 'E  BADAJOZ09', 'E  BADAJOZ10', 'E  BADAJOZ11', 'E  BADAJOZ12', 'E  BADAJOZ13', 'E  BADAJOZ15', 'E  BADAJOZ18', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO100', 'E  BARCELO101', 'E  BARCELO102', 'E  BARCELO105', 'E  BARCELO11', 'E  BARCELO110', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO38', 'E  BARCELO39', 'E  BARCELO40', 'E  BARCELO42', 'E  BARCELO43', 'E  BARCELO45', 'E  BARCELO47', 'E  BARCELO50', 'E  BARCELO51', 'E  BARCELO53', 'E  BARCELO55', 'E  BARCELO57', 'E  BARCELO58', 'E  BARCELO62', 'E  BARCELO63', 'E  BARCELO65', 'E  BARCELO66', 'E  BARCELO67', 'E  BARCELO69', 'E  BARCELO70', 'E  BARCELO71', 'E  BARCELO73', 'E  BARCELO74', 'E  BARCELO78', 'E  BARCELO79', 'E  BARCELO85', 'E  BARCELO89', 'E  BARCELO90', 'E  BARCELO91', 'E  BARCELO94', 'E  BARCELO95', 'E  BARCELO96', 'E  BARCELO99', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO26', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO31', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO34', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO44', 'E  BILBAO45', 'E  BILBAO46', 'E  BILBAO47', 'E  BILBAO49', 'E  BILBAO50', 'E  BILBAO51', 'E  BILBAO55', 'E  BILBAO57', 'E  BILBAO60', 'E  BURGOS01', 'E  BURGOS03', 'E  BURGOS04', 'E  BURGOS05', 'E  BURGOS06', 'E  BURGOS11', 'E  BURGOS16', 'E  CACERES02', 'E  CACERES03', 'E  CACERES04', 'E  CACERES06', 'E  CACERES08', 'E  CACERES10', 'E  CACERES11', 'E  CACERES12', 'E  CADIZ01', 'E  CADIZ07', 'E  CADIZ08', 'E  CADIZ19', 'E  CADIZ21', 'E  CARTAGE01', 'E  CASTELL01', 'E  CASTELL04', 'E  CASTELL08', 'E  CASTELL13', 'E  CASTELL14', 'E  CASTELL16', 'E  CASTELL20', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R04', 'E  CIUDA-R06', 'E  CIUDA-R07', 'E  CIUDA-R08', 'E  CIUDA-R11', 'E  CIUDA-R12', 'E  CIUDA-R13', 'E  CIUDA-R14', 'E  CIUDA-R16', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA05', 'E  CORDOBA07', 'E  CORDOBA19', 'E  CUENCA02', 'E  CUENCA06', 'E  ELCHE01', 'E  ELCHE04', 'E  ESTELLA01', 'E  GIJON02', 'E  GIJON03', 'E  GIJON04', 'E  GIJON06', 'E  GIJON07', 'E  GIJON09', 'E  GIJON11', 'E  GIJON12', 'E  GIRONA02', 'E  GIRONA04', 'E  GIRONA05', 'E  GIRONA06', 'E  GIRONA10', 'E  GIRONA11', 'E  GIRONA12', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA07', 'E  GRANADA08', 'E  GRANADA11', 'E  GRANADA13', 'E  GUADALA01', 'E  GUADALA02', 'E  GUADALA03', 'E  GUADALA05', 'E  GUADALA06', 'E  GUADALA07', 'E  GUADALA09', 'E  HUELVA01', 'E  HUELVA11', 'E  HUESCA01', 'E  HUESCA02', 'E  HUESCA04', 'E  HUESCA06', 'E  HUESCA09', 'E  HUESCA10', 'E  HUESCA12', 'E  IBIZA03', 'E  IBIZA04', 'E  IBIZA05', 'E  JAEN01', 'E  JAEN03', 'E  JAEN04', 'E  LA-CORU01', 'E  LA-CORU02', 'E  LA-CORU03', 'E  LA-CORU04', 'E  LA-CORU05', 'E  LA-CORU06', 'E  LA-CORU07', 'E  LA-CORU08', 'E  LA-CORU09', 'E  LA-CORU12', 'E  LA-CORU13', 'E  LA-CORU14', 'E  LA-CORU16', 'E  LA-CORU18', 'E  LA-CORU20', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL05', 'E  LAS-PAL06', 'E  LAS-PAL08', 'E  LAS-PAL09', 'E  LAS-PAL10', 'E  LAS-PAL11', 'E  LAS-PAL14', 'E  LAS-PAL15', 'E  LAS-PAL16', 'E  LAS-PAL17', 'E  LAS-PAL18', 'E  LAS-PAL19', 'E  LAS-PAL20', 'E  LAS-PAL22', 'E  LAS-PAL23', 'E  LEON01', 'E  LEON06', 'E  LEON12', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  LOGRONO06', 'E  LOGRONO07', 'E  LOGRONO08', 'E  LOGRONO09', 'E  LOGRONO11', 'E  LOGRONO12', 'E  LUGO01', 'E  LUGO02', 'E  LUGO03', 'E  LUGO04', 'E  LUGO06', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID100', 'E  MADRID101', 'E  MADRID102', 'E  MADRID105', 'E  MADRID107', 'E  MADRID108', 'E  MADRID109', 'E  MADRID110', 'E  MADRID111', 'E  MADRID112', 'E  MADRID114', 'E  MADRID116', 'E  MADRID117', 'E  MADRID118', 'E  MADRID12', 'E  MADRID122', 'E  MADRID123', 'E  MADRID125', 'E  MADRID127', 'E  MADRID129', 'E  MADRID130', 'E  MADRID131', 'E  MADRID132', 'E  MADRID133', 'E  MADRID134', 'E  MADRID135', 'E  MADRID138', 'E  MADRID139', 'E  MADRID14', 'E  MADRID141', 'E  MADRID144', 'E  MADRID145', 'E  MADRID148', 'E  MADRID149', 'E  MADRID151', 'E  MADRID153', 'E  MADRID155', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID25', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID30', 'E  MADRID33', 'E  MADRID35', 'E  MADRID36', 'E  MADRID37', 'E  MADRID38', 'E  MADRID39', 'E  MADRID40', 'E  MADRID41', 'E  MADRID42', 'E  MADRID43', 'E  MADRID44', 'E  MADRID50', 'E  MADRID51', 'E  MADRID53', 'E  MADRID55', 'E  MADRID56', 'E  MADRID57', 'E  MADRID58', 'E  MADRID62', 'E  MADRID64', 'E  MADRID66', 'E  MADRID67', 'E  MADRID69', 'E  MADRID73', 'E  MADRID74', 'E  MADRID76', 'E  MADRID78', 'E  MADRID79', 'E  MADRID80', 'E  MADRID81', 'E  MADRID82', 'E  MADRID85', 'E  MADRID86', 'E  MADRID89', 'E  MADRID90', 'E  MADRID93', 'E  MADRID94', 'E  MADRID95', 'E  MADRID96', 'E  MADRID97', 'E  MADRID98', 'E  MADRID99', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MALAGA04', 'E  MALAGA05', 'E  MALAGA06', 'E  MALAGA09', 'E  MALAGA12', 'E  MALAGA13', 'E  MALAGA15', 'E  MALAGA16', 'E  MALAGA18', 'E  MALAGA19', 'E  MALAGA22', 'E  MALAGA24', 'E  MALAGA25', 'E  MALAGA26', 'E  MALAGA29', 'E  MATARO01', 'E  MERIDA01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA02', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA08', 'E  MURCIA09', 'E  MURCIA10', 'E  MURCIA11', 'E  MURCIA12', 'E  MURCIA14', 'E  MURCIA17', 'E  MURCIA20', 'E  MURCIA22', 'E  MURCIA23', 'E  MURCIA25', 'E  MURCIA26', 'E  MURCIA34', 'E  MURCIA35', 'E  MURCIA37', 'E  MURCIA38', 'E  MURCIA41', 'E  MURCIA42', 'E  MURCIA43', 'E  MURCIA46', 'E  ORENSE02', 'E  ORENSE03', 'E  ORENSE04', 'E  ORENSE05', 'E  OVIEDO01', 'E  OVIEDO03', 'E  OVIEDO06', 'E  OVIEDO07', 'E  OVIEDO08', 'E  OVIEDO09', 'E  OVIEDO11', 'E  OVIEDO15', 'E  OVIEDO16', 'E  OVIEDO17', 'E  OVIEDO18', 'E  PALENCI01', 'E  PALENCI02', 'E  PALENCI09', 'E  PALMA01', 'E  PALMA04', 'E  PALMA07', 'E  PALMA08', 'E  PALMA10', 'E  PALMA11', 'E  PALMA13', 'E  PALMA15', 'E  PALMA18', 'E  PALMA19', 'E  PALMA20', 'E  PALMA23', 'E  PALMA24', 'E  PALMA27', 'E  PALMA29', 'E  PALMA31', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PAMPLON03', 'E  PAMPLON05', 'E  PAMPLON06', 'E  PAMPLON08', 'E  PAMPLON10', 'E  PAMPLON11', 'E  PAMPLON12', 'E  PAMPLON13', 'E  PAMPLON17', 'E  PONTEVE01', 'E  PONTEVE02', 'E  PONTEVE03', 'E  PONTEVE04', 'E  PONTEVE06', 'E  SAB-SEB13', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SALAMAN09', 'E  SALAMAN16', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB04', 'E  SAN-SEB05', 'E  SAN-SEB06', 'E  SAN-SEB07', 'E  SAN-SEB08', 'E  SAN-SEB09', 'E  SAN-SEB10', 'E  SAN-SEB11', 'E  SAN-SEB12', 'E  SAN-SEB14', 'E  SAN-SEB15', 'E  SAN-SEB16', 'E  SAN-SEB18', 'E  SAN-SEB19', 'E  SAN-SEB20', 'E  SAN-SEB21', 'E  SAN-SEB22', 'E  SAN-SEB23', 'E  SAN-SEB26', 'E  SAN-SEB27', 'E  SAN-SEB28', 'E  SAN-SEB29', 'E  SAN-SEB30', 'E  SAN-SEB31', 'E  SAN-SEB32', 'E  SAN-SEB33', 'E  SAN-SEB34', 'E  SAN-SEB38', 'E  SAN-SEB39', 'E  SAN-SEB40', 'E  SAN-SEB42', 'E  SAN-SEB44', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND05', 'E  SANTAND06', 'E  SANTAND07', 'E  SANTAND08', 'E  SANTAND09', 'E  SANTAND12', 'E  SANTAND14', 'E  SANTAND16', 'E  SANTAND19', 'E  SANTAND22', 'E  SANTAND23', 'E  SANTAND24', 'E  SANTAND25', 'E  SANTAND27', 'E  SANTAND28', 'E  SANTAND29', 'E  SANTIAG01', 'E  SANTIAG02', 'E  SANTIAG03', 'E  SANTIAG04', 'E  SANTIAG05', 'E  SANTIAG06', 'E  SEGOVIA01', 'E  SEGOVIA06', 'E  SEGOVIA09', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA05', 'E  SEVILLA06', 'E  SEVILLA08', 'E  SEVILLA11', 'E  SEVILLA13', 'E  SEVILLA15', 'E  SEVILLA17', 'E  SEVILLA18', 'E  SEVILLA19', 'E  SEVILLA20', 'E  SEVILLA25', 'E  SEVILLA31', 'E  SEVILLA35', 'E  SEVILLA37', 'E  SEVILLA40', 'E  SORIA05', 'E  TARRAGO01', 'E  TARRAGO02', 'E  TARRAGO03', 'E  TARRAGO04', 'E  TARRAGO06', 'E  TARRAGO11', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF04', 'E  TENERIF06', 'E  TENERIF08', 'E  TENERIF10', 'E  TENERIF13', 'E  TENERIF14', 'E  TENERIF16', 'E  TENERIF17', 'E  TENERIF18', 'E  TERUEL01', 'E  TERUEL02', 'E  TERUEL03', 'E  TERUEL06', 'E  TERUEL07', 'E  TERUEL10', 'E  TOLEDO02', 'E  TOLEDO04', 'E  TOLEDO05', 'E  TOLEDO07', 'E  TOLEDO08', 'E  TOLEDO10', 'E  TOLEDO12', 'E  TORRELA01', 'E  TUDELA01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI12', 'E  VALENCI13', 'E  VALENCI15', 'E  VALENCI16', 'E  VALENCI17', 'E  VALENCI19', 'E  VALENCI21', 'E  VALENCI23', 'E  VALENCI24', 'E  VALENCI25', 'E  VALENCI27', 'E  VALENCI31', 'E  VALENCI35', 'E  VALENCI39', 'E  VALENCI40', 'E  VALENCI41', 'E  VALENCI42', 'E  VALENCI43', 'E  VALENCI46', 'E  VALENCI47', 'E  VALENCI52', 'E  VALENCI55', 'E  VALENCI56', 'E  VALENCI61', 'E  VALENCI66', 'E  VALENCI67', 'E  VALENCI69', 'E  VALENCI71', 'E  VALENCI72', 'E  VALENCI74', 'E  VALENCI75', 'E  VALENCI80', 'E  VALENCI81', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO10', 'E  VALLADO22', 'E  VALLADO24', 'E  VIC01', 'E  VIC03', 'E  VIGO01', 'E  VIGO02', 'E  VIGO03', 'E  VIGO05', 'E  VIGO06', 'E  VIGO09', 'E  VIGO10', 'E  VIGO11', 'E  VIGO12', 'E  VIGO14', 'E  VIGO15', 'E  VITORIA04', 'E  VITORIA05', 'E  VITORIA06', 'E  VITORIA07'

Empty DataFrame
Columns: [HOME_INSTITUTION_CDE, STUDENT_AGE_VALUE, STUDENT_GENDER_CDE, STUDENT_NATIONALITY_CDE, STUDENT_STUDY_LEVEL_CDE, NUMB_YRS_HIGHER_EDUCAT_VALUE, MOBILITY_TYPE_CDE, HOST_INSTITUTION_CDE, PLACEMENT_ENTERPRISE_VALUE, PLACEMENT_ENTERPRISE_CTRY_CDE, LENGTH_STUDY_PERIOD_VALUE, LENGTH_PLACEMENT_VALUE, SHORT_DURATION_CDE, STUDY_START_DATE, PLACEMENT_START_DATE, ECTS_CREDITS_STUDY_AMT, ECTS_CREDITS_PLACEMENT_AMT, TOTAL_ECTS_CREDITS_AMT, SPECIAL_NEEDS_SUPPLEMENT_VALUE, SPECIAL_NEEDS_SUPPLEMENT_VALUE, PLACEMENT_GRANT_AMT, PREVIOUS_PARTICIPATION_CDE]
Index: []

In [105]:
print_unique_values(students_2012, 'STUDENT_GENDER_CDE')
students_2012[students_2012.STUDENT_GENDER_CDE.isnull()]

['F', 'M']

Empty DataFrame
Columns: [HOME_INSTITUTION_CDE, STUDENT_AGE_VALUE, STUDENT_GENDER_CDE, STUDENT_NATIONALITY_CDE, STUDENT_STUDY_LEVEL_CDE, NUMB_YRS_HIGHER_EDUCAT_VALUE, MOBILITY_TYPE_CDE, HOST_INSTITUTION_CDE, PLACEMENT_ENTERPRISE_VALUE, PLACEMENT_ENTERPRISE_CTRY_CDE, LENGTH_STUDY_PERIOD_VALUE, LENGTH_PLACEMENT_VALUE, SHORT_DURATION_CDE, STUDY_START_DATE, PLACEMENT_START_DATE, ECTS_CREDITS_STUDY_AMT, ECTS_CREDITS_PLACEMENT_AMT, TOTAL_ECTS_CREDITS_AMT, SPECIAL_NEEDS_SUPPLEMENT_VALUE, SPECIAL_NEEDS_SUPPLEMENT_VALUE, PLACEMENT_GRANT_AMT, PREVIOUS_PARTICIPATION_CDE]
Index: []

In [106]:
print_unique_values(students_2012, 'STUDENT_NATIONALITY_CDE')
students_2012[students_2012.STUDENT_NATIONALITY_CDE.isnull()]

['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'De', 'Dk', 'EE', 'ES', 'Es', 'FI', 'FR', 'GR', 'HR', 'HU', 'Hu', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'Nl', 'No', 'PL', 'PT', 'Pl', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'XX', 'de', 'es', 'pt', 'xx']

Empty DataFrame
Columns: [HOME_INSTITUTION_CDE, STUDENT_AGE_VALUE, STUDENT_GENDER_CDE, STUDENT_NATIONALITY_CDE, STUDENT_STUDY_LEVEL_CDE, NUMB_YRS_HIGHER_EDUCAT_VALUE, MOBILITY_TYPE_CDE, HOST_INSTITUTION_CDE, PLACEMENT_ENTERPRISE_VALUE, PLACEMENT_ENTERPRISE_CTRY_CDE, LENGTH_STUDY_PERIOD_VALUE, LENGTH_PLACEMENT_VALUE, SHORT_DURATION_CDE, STUDY_START_DATE, PLACEMENT_START_DATE, ECTS_CREDITS_STUDY_AMT, ECTS_CREDITS_PLACEMENT_AMT, TOTAL_ECTS_CREDITS_AMT, SPECIAL_NEEDS_SUPPLEMENT_VALUE, SPECIAL_NEEDS_SUPPLEMENT_VALUE, PLACEMENT_GRANT_AMT, PREVIOUS_PARTICIPATION_CDE]
Index: []

In [107]:
students_2012.STUDENT_STUDY_LEVEL_CDE = students_2012.STUDENT_STUDY_LEVEL_CDE.astype(str)
print_unique_values(students_2012, 'STUDENT_STUDY_LEVEL_CDE')
students_2012[students_2012.STUDENT_STUDY_LEVEL_CDE.isnull()]

['1', '2', '3', 'S']

Empty DataFrame
Columns: [HOME_INSTITUTION_CDE, STUDENT_AGE_VALUE, STUDENT_GENDER_CDE, STUDENT_NATIONALITY_CDE, STUDENT_STUDY_LEVEL_CDE, NUMB_YRS_HIGHER_EDUCAT_VALUE, MOBILITY_TYPE_CDE, HOST_INSTITUTION_CDE, PLACEMENT_ENTERPRISE_VALUE, PLACEMENT_ENTERPRISE_CTRY_CDE, LENGTH_STUDY_PERIOD_VALUE, LENGTH_PLACEMENT_VALUE, SHORT_DURATION_CDE, STUDY_START_DATE, PLACEMENT_START_DATE, ECTS_CREDITS_STUDY_AMT, ECTS_CREDITS_PLACEMENT_AMT, TOTAL_ECTS_CREDITS_AMT, SPECIAL_NEEDS_SUPPLEMENT_VALUE, SPECIAL_NEEDS_SUPPLEMENT_VALUE, PLACEMENT_GRANT_AMT, PREVIOUS_PARTICIPATION_CDE]
Index: []

In [108]:
print_unique_values(students_2012, 'MOBILITY_TYPE_CDE')
students_2012[students_2012.MOBILITY_TYPE_CDE.isnull()]

['C', 'P', 'S']

Empty DataFrame
Columns: [HOME_INSTITUTION_CDE, STUDENT_AGE_VALUE, STUDENT_GENDER_CDE, STUDENT_NATIONALITY_CDE, STUDENT_STUDY_LEVEL_CDE, NUMB_YRS_HIGHER_EDUCAT_VALUE, MOBILITY_TYPE_CDE, HOST_INSTITUTION_CDE, PLACEMENT_ENTERPRISE_VALUE, PLACEMENT_ENTERPRISE_CTRY_CDE, LENGTH_STUDY_PERIOD_VALUE, LENGTH_PLACEMENT_VALUE, SHORT_DURATION_CDE, STUDY_START_DATE, PLACEMENT_START_DATE, ECTS_CREDITS_STUDY_AMT, ECTS_CREDITS_PLACEMENT_AMT, TOTAL_ECTS_CREDITS_AMT, SPECIAL_NEEDS_SUPPLEMENT_VALUE, SPECIAL_NEEDS_SUPPLEMENT_VALUE, PLACEMENT_GRANT_AMT, PREVIOUS_PARTICIPATION_CDE]
Index: []

In [109]:
print_unique_values(students_2012, 'HOST_INSTITUTION_CDE')

['???', 'A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  Graz09', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU21', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KLAGENF06', 'A  KREMS02', 'A  KREMS03', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ17', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SPITTAL01', 'A  ST-POLT03', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN66', 'A  WIEN68', 'A  WIENER01', 'A  WIENER04', 'A  XX', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUSSEL47', 'B  BRUXEL01', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  GEEL07', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE07', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  MECHELE14', 'B  MONS20', 'B  MONS21', 'B  MONS22', 'B  MONS23', 'B  NAMUR01', 'B  NAMUR11', 'B  NAMUR13', 'B  NAMUR15', 'B  TOURNAI01', 'BEFR XX', 'BENL XX', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOURGAS02', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV09', 'BG Plovdiv01', 'BG Plovdiv02', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA22', 'BG SOFIA26', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VELIKO01', 'BG VELIKO02', 'BG Varna04', 'CH BASEL01', 'CH BERN01', 'CH BERN11', 'CH BERN12', 'CH BERN13', 'CH BERN14', 'CH BRUGG02', 'CH Bern01', 'CH DELEMON02', 'CH FRIBOUR01', 'CH FRIBOUR04', 'CH GENEVE01', 'CH LAUSANN01', 'CH LAUSANN06', 'CH LAUSANN11', 'CH LUGANO01', 'CH LUGANO02', 'CH LUZERN01', 'CH LUZERN13', 'CH LUZERN14', 'CH NEUCHAT01', 'CH ST-GALL09', 'CH ST-GALL11', 'CH ST.GALL08', 'CH ST.Gall08', 'CH THURGAU01', 'CH WINTERT03', 'CH XX', 'CH ZOLLIKO02', 'CH ZURICH01', 'CH ZURICH07', 'CH ZURICH17', 'CH ZURICH20', 'CH ZURICH21', 'CH Zurich20', 'CY LARNACA01', 'CY LEFKOSI02', 'CY LIMASSO02', 'CY NICOSIA01', 'CY NICOSIA10', 'CY NICOSIA11', 'CY NICOSIA13', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CY NICOSIA26', 'CY Nicosia14', 'CY PAFOS01', 'CY XX', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO10', 'CZ CESKE01', 'CZ CESKE04', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KOLIN01', 'CZ LIBEREC01', 'CZ MLADA01', 'CZ OLOMOUC01', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PISEK01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA25', 'CZ PRAHA26', 'CZ PRAHA27', 'CZ PRAHA30', 'CZ Praha07', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ XX', 'CZ ZLIN01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN17', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN22', 'D  BERLIN23', 'D  BERLIN25', 'D  BERLIN26', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN07', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  CALW01', 'D  CHEMNIT01', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA1', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN02', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FULDA03', 'D  FURTWAN01', 'D  GELSENK01', 'D  GELSENK02', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GOTTING01', 'D  GOTTING02', 'D  GREIFS01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG11', 'D  HAMBURG12', 'D  HAMBURG13', 'D  HAMBURG14', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KEMPTEN02', 'D  KIEL01', 'D  KIEL03', 'D  KIEL05', 'D  KLEVE01', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOELN 03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KOLN12', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEIPZIG14', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ05', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MULHEIM01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NIENBUR01', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER04', 'D  NURTING01', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  PADERBO01', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  Potsdam01', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REGENSB03', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIESA01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SCHMALK01', 'D  SCHWA-G02', 'D  SCHWAG01', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  SPEYER02', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WILHELM02', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  XX', 'D  ZITTAU01', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ALBORG03', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS10', 'DK ARHUS26', 'DK ARHUS28', 'DK ESBJERG18', 'DK ESBJERG19', 'DK FREDERI09', 'DK HERNING01', 'DK HERNING08', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA14', 'DK KOBENHA32', 'DK KOBENHA38', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA54', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOBENHA57', 'DK KOBENHA58', 'DK KOGE03', 'DK KOLDING07', 'DK KOLDING10', 'DK KOPENHA10', 'DK KOPENHA26', 'DK KOPENHA37', 'DK Kobenha58', 'DK Kopenha10', 'DK LYNGBY01', 'DK LYNGBY04', 'DK ODENSE01', 'DK ODENSE10', 'DK ODENSE16', 'DK ODENSE21', 'DK ODENSE22', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK VEJLE06', 'DK XX', 'DK xx', 'E  ALBACET01', 'E  ALCAL-H01', 'E  ALICANT01', 'E  ALICANT02', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT27', 'E  ALMERIA01', 'E  ALMERIA03', 'E  AVILA01', 'E  AVILES02', 'E  BADAJOZ01', 'E  BADAJOZ02', 'E  BADAJOZ06', 'E  BADAJOZ16', 'E  BADAJOZ29', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO101', 'E  BARCELO102', 'E  BARCELO103', 'E  BARCELO106', 'E  BARCELO11', 'E  BARCELO111', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO36', 'E  BARCELO52', 'E  BARCELO55', 'E  BARCELO69', 'E  BARCELO85', 'E  BENLAMA01', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO19', 'E  BILBAO47', 'E  BURGOS01', 'E  BURGOS11', 'E  CADIZ01', 'E  CADIZ03', 'E  CARTAGE01', 'E  CASTELL01', 'E  CASTELL04', 'E  CASTELL08', 'E  CASTELL13', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R05', 'E  CIUDA-R08', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA23', 'E  CUENCA01', 'E  ELCHE01', 'E  GIRONA02', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA10', 'E  HUELVA01', 'E  HUELVA02', 'E  JAEN01', 'E  JAEN07', 'E  LA-CORU01', 'E  LA-CORU03', 'E  LA-CORU05', 'E  LAS-PAL01', 'E  LAS-PAL18', 'E  LEON01', 'E  LLEIDA01', 'E  LOGRONO01', 'E  LOGRONO03', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID102', 'E  MADRID103', 'E  MADRID104', 'E  MADRID106', 'E  MADRID112', 'E  MADRID114', 'E  MADRID117', 'E  MADRID118', 'E  MADRID12', 'E  MADRID126', 'E  MADRID14', 'E  MADRID144', 'E  MADRID152', 'E  MADRID153', 'E  MADRID17', 'E  MADRID18', 'E  MADRID19', 'E  MADRID21', 'E  MADRID25', 'E  MADRID26', 'E  MADRID27', 'E  MADRID28', 'E  MADRID33', 'E  MADRID53', 'E  MADRID57', 'E  MADRID94', 'E  MADRID99', 'E  MALAGA01', 'E  MALAGA02', 'E  MALAGA03', 'E  MALAGA07', 'E  MALAGA21', 'E  MATARO01', 'E  MONDRAG01', 'E  MONDRAG02', 'E  MURCIA01', 'E  MURCIA04', 'E  MURCIA05', 'E  MURCIA06', 'E  MURCIA25', 'E  Madrid03', 'E  OVIEDO01', 'E  OVIEDO05', 'E  OVIEDO15', 'E  PALMA01', 'E  PALMA07', 'E  PALMA17', 'E  PALMA25', 'E  PALMA27', 'E  PAMPLON01', 'E  PAMPLON02', 'E  PONTEVE02', 'E  SALAMAN01', 'E  SALAMAN02', 'E  SALAMAN03', 'E  SAN-SEB01', 'E  SAN-SEB02', 'E  SAN-SEB03', 'E  SAN-SEB33', 'E  SANTAND01', 'E  SANTAND03', 'E  SANTAND17', 'E  SANTIAG01', 'E  SANTIAG02', 'E  SEGOVIA01', 'E  SEGOVIA08', 'E  SEVILLA01', 'E  SEVILLA03', 'E  SEVILLA04', 'E  SEVILLA06', 'E  TARRAGO01', 'E  TENERIF01', 'E  TENERIF02', 'E  TENERIF13', 'E  TENERIF14', 'E  VALDES01', 'E  VALDES02', 'E  VALENCI01', 'E  VALENCI02', 'E  VALENCI08', 'E  VALENCI11', 'E  VALENCI13', 'E  VALENCI16', 'E  VALENCI25', 'E  VALENCI40', 'E  VALENCI42', 'E  VALENCI67', 'E  VALENCI79', 'E  VALLADO01', 'E  VALLADO03', 'E  VALLADO10', 'E  VIC01', 'E  VIGO01', 'E  VIGO03', 'E  VIGO08', 'E  XX', 'E  ZAMORA08', 'E  ZARAGOZ01', 'E  ZARAGOZ05', 'E  ZARAGOZ07', 'E  ZARAGOZ27', 'EE TALLINN01', 'EE TALLINN02', 'EE TALLINN03', 'EE TALLINN04', 'EE TALLINN05', 'EE TALLINN06', 'EE TALLINN10', 'EE TALLINN12', 'EE TALLINN13', 'EE TALLINN14', 'EE TALLINN16', 'EE TALLINN20', 'EE TARTU01', 'EE TARTU02', 'EE TARTU03', 'EE TARTU05', 'EE TARTU06', 'F  AIX-PRO11', 'F  AIX-PRO19', 'F  ALBI05', 'F  ALES02', 'F  AMIENS01', 'F  AMIENS05', 'F  AMIENS15', 'F  AMIENS18', 'F  ANGERS01', 'F  ANGERS04', 'F  ANGERS08', 'F  ANGERS10', 'F  ANGERS30', 'F  ANGOULE05', 'F  ANJOU02', 'F  ANNECY04', 'F  ARLES03', 'F  ARRAS12', 'F  AUBIERE03', 'F  AV-FONT01', 'F  AVIGNON01', 'F  AVIGNON14', 'F  BAYONNE07', 'F  BEAUVAI02', 'F  BELFORT06', 'F  BESANCO01', 'F  BESANCO06', 'F  BESANCO14', 'F  BESANCO21', 'F  BICETRE02', 'F  BLOIS05', 'F  BLOIS10', 'F  BLOIS11', 'F  BONNEUI01', 'F  BORDEAU01', 'F  BORDEAU02', 'F  BORDEAU03', 'F  BORDEAU12', 'F  BORDEAU16', 'F  BORDEAU27', 'F  BORDEAU28', 'F  BORDEAU36', 'F  BORDEAU37', 'F  BORDEAU40', 'F  BORDEAU41', 'F  BORDEAU45', 'F  BORDEAU49', 'F  BORDEAU54', 'F  BOULOGN02', 'F  BOURGES04', 'F  BOURGES09', 'F  BREST01', 'F  BREST08', 'F  BREST09', 'F  BREST10', 'F  BREST21', 'F  BRUZ03', 'F  Bordeau03', 'F  CACHAN03', 'F  CACHAN04', 'F  CAEN01', 'F  CAEN05', 'F  CAEN20', 'F  CANNES03', 'F  CASTRES03', 'F  CERGY-P01', 'F  CERGY-P06', 'F  CERGY-P07', 'F  CERGY-P09', 'F  CERGY01', 'F  CERGY03', 'F  CERGY05', 'F  CERGY07', 'F  CERGY08', 'F  CHAMBER01', 'F  CHAMBER07', 'F  CHATENA02', 'F  CLERMON01', 'F  CLERMON02', 'F  CLERMON09', 'F  CLERMON10', 'F  CLERMON22', 'F  CLERMON25', 'F  COMPIEG01', 'F  CORTE01', 'F  COURBEV04', 'F  DIJON01', 'F  DIJON11', 'F  DIJON13', 'F  DIJON30', 'F  DIJON31', 'F  DIJON33', 'F  DOUAI10', 'F  DUNKERQ09', 'F  EPERON01', 'F  EVRY01', 'F  EVRY04', 'F  GIF-YVE01', 'F  GIF-YVE02', 'F  GRENOBL01', 'F  GRENOBL02', 'F  GRENOBL03', 'F  GRENOBL16', 'F  GRENOBL21', 'F  GRENOBL22', 'F  GRENOBL23', 'F  GRENOBL38', 'F  GRENOBL45', 'F  GUER01', 'F  ILLKIRC04', 'F  ISSY-MO02', 'F  JOUY-JO02', 'F  LA-RO-Y06', 'F  LA-RO-Y09', 'F  LA-ROCH07', 'F  LA-ROCH08', 'F  LA-ROCH09', 'F  LAROCHE01', 'F  LE-HAVR04', 'F  LE-HAVR11', 'F  LE-MANS01', 'F  LE-MANS16', 'F  LEVALLO01', 'F  LEVALLO05', 'F  LEVALLO06', 'F  LILLE01', 'F  LILLE02', 'F  LILLE03', 'F  LILLE11', 'F  LILLE13', 'F  LILLE14', 'F  LILLE15', 'F  LILLE16', 'F  LILLE25', 'F  LILLE71', 'F  LILLE79', 'F  LILLE86', 'F  LIMOGES01', 'F  LIMOGES05', 'F  LONGUEN03', 'F  LYON01', 'F  LYON02', 'F  LYON03', 'F  LYON10', 'F  LYON101', 'F  LYON102', 'F  LYON103', 'F  LYON104', 'F  LYON105', 'F  LYON106', 'F  LYON108', 'F  LYON11', 'F  LYON12', 'F  LYON13', 'F  LYON15', 'F  LYON17', 'F  LYON23', 'F  LYON24', 'F  LYON25', 'F  LYON33', 'F  LYON43', 'F  LYON58', 'F  LYON61', 'F  LYON62', 'F  LYON71', 'F  LYON78', 'F  LYON82', 'F  LYON84', 'F  Lyon25', 'F  Lyon58', 'F  MAISONS01', 'F  MARSEIL06', 'F  MARSEIL10', 'F  MARSEIL11', 'F  MARSEIL17', 'F  MARSEIL51', 'F  MARSEIL55', 'F  MARSEIL56', 'F  MARSEIL57', 'F  MARSEIL59', 'F  MARSEIL81', 'F  MARSEIL82', 'F  MARSEIL83', 'F  MARSEIL84', 'F  MARSEIL89', 'F  MARSEIL94', 'F  METZ05', 'F  METZ26', 'F  METZ28', 'F  METZ32', 'F  MONTPEL01', 'F  MONTPEL02', 'F  MONTPEL03', 'F  MONTPEL08', 'F  MONTPEL10', 'F  MONTPEL12', 'F  MONTPEL13', 'F  MONTPEL14', 'F  MONTPEL36', 'F  MONTPEL44', 'F  MONTPEL48', 'F  MONTPEL51', 'F  MONTPEL52', 'F  MULHOUS01', 'F  Marseil51', 'F  NANCY05', 'F  NANCY12', 'F  NANCY21', 'F  NANCY37', 'F  NANCY38', 'F  NANCY41', 'F  NANCY42', 'F  NANCY43', 'F  NANTES01', 'F  NANTES07', 'F  NANTES09', 'F  NANTES12', 'F  NANTES13', 'F  NANTES34', 'F  NANTES39', 'F  NANTES43', 'F  NANTES62', 'F  NANTES65', 'F  NEUILLY04', 'F  NICE01', 'F  NICE09', 'F  NIMES10', 'F  NIMES15', 'F  NIMES17', 'F  NOISY02', 'F  NOISY04', 'F  NOUMEA03', 'F  Nantes01', 'F  ORLEANS01', 'F  ORLEANS07', 'F  ORLEANS13', 'F  ORSAY02', 'F  PALAISE01', 'F  PARIS001', 'F  PARIS002', 'F  PARIS003', 'F  PARIS004', 'F  PARIS005', 'F  PARIS006', 'F  PARIS007', 'F  PARIS008', 'F  PARIS009', 'F  PARIS010', 'F  PARIS011', 'F  PARIS012', 'F  PARIS013', 'F  PARIS014', 'F  PARIS026', 'F  PARIS032', 'F  PARIS035', 'F  PARIS037', 'F  PARIS047', 'F  PARIS052', 'F  PARIS054', 'F  PARIS056', 'F  PARIS057', 'F  PARIS062', 'F  PARIS063', 'F  PARIS064', 'F  PARIS066', 'F  PARIS068', 'F  PARIS077', 'F  PARIS080', 'F  PARIS081', 'F  PARIS083', 'F  PARIS085', 'F  PARIS086', 'F  PARIS087', 'F  PARIS089', 'F  PARIS092', 'F  PARIS100', 'F  PARIS104', 'F  PARIS105', 'F  PARIS109', 'F  PARIS110', 'F  PARIS113', 'F  PARIS116', 'F  PARIS117', 'F  PARIS119', 'F  PARIS121', 'F  PARIS126', 'F  PARIS129', 'F  PARIS160', 'F  PARIS174', 'F  PARIS178', 'F  PARIS190', 'F  PARIS213', 'F  PARIS215', 'F  PARIS222', 'F  PARIS225', 'F  PARIS226', 'F  PARIS244', 'F  PARIS256', 'F  PARIS258', 'F  PARIS270', 'F  PARIS294', 'F  PARIS317', 'F  PARIS318', 'F  PARIS319', 'F  PARIS320', 'F  PARIS321', 'F  PARIS322', 'F  PARIS323', 'F  PARIS325', 'F  PARIS326', 'F  PARIS329', 'F  PARIS332', 'F  PARIS342', 'F  PARIS347', 'F  PARIS357', 'F  PARIS360', 'F  PARIS361', 'F  PARIS362', 'F  PARIS363', 'F  PARIS365', 'F  PARIS369', 'F  PARIS375', 'F  PARIS376', 'F  PARIS379', 'F  PARIS389', 'F  PARIS398', 'F  PARIS403', 'F  PAU01', 'F  PAU12', 'F  PAU22', 'F  PERPIGN01', 'F  PERPIGN12', 'F  PEZENAS01', 'F  POINT-P05', 'F  POITIER01', 'F  POITIER05', 'F  POITIER06', 'F  POITIER07', 'F  POITIER12', 'F  POITIER29', 'F  PONT-AB01', 'F  Paris011', 'F  Paris104', 'F  Paris117', 'F  REIMS01', 'F  REIMS06', 'F  REIMS09', 'F  REIMS23', 'F  RENNES01', 'F  RENNES02', 'F  RENNES06', 'F  RENNES09', 'F  RENNES10', 'F  RENNES14', 'F  RENNES15', 'F  RENNES16', 'F  RENNES27', 'F  RENNES28', 'F  RENNES32', 'F  RENNES39', 'F  RENNES43', 'F  RENNES45', 'F  RENNES47', 'F  RENNES49', 'F  RETHEL01', 'F  RODEZ09', 'F  ROUBAIX03', 'F  ROUBAIX09', 'F  ROUEN01', 'F  ROUEN06', 'F  ROUEN07', 'F  ROUEN09', 'F  ROUEN19', 'F  ROUEN33', 'F  SAINT-D01', 'F  SCEAUX01', 'F  SOPHIA01', 'F  ST-DENI01', 'F  ST-ETIE01', 'F  ST-ETIE05', 'F  ST-ETIE06', 'F  ST-ETIE08', 'F  ST-ETIE16', 'F  ST-ETIE17', 'F  ST-ETIE18', 'F  ST-ETIE24', 'F  ST-OUEN02', 'F  STRASBO07', 'F  STRASBO12', 'F  STRASBO16', 'F  STRASBO30', 'F  STRASBO31', 'F  STRASBO48', 'F  STRASBO51', 'F  TAHITI01', 'F  TALENCE06', 'F  TARBES03', 'F  TOULON01', 'F  TOULON03', 'F  TOULON18', 'F  TOULON19', 'F  TOULOUS01', 'F  TOULOUS02', 'F  TOULOUS03', 'F  TOULOUS08', 'F  TOULOUS09', 'F  TOULOUS114', 'F  TOULOUS116', 'F  TOULOUS122', 'F  TOULOUS14', 'F  TOULOUS16', 'F  TOULOUS17', 'F  TOULOUS18', 'F  TOULOUS19', 'F  TOULOUS22', 'F  TOULOUS23', 'F  TOULOUS24', 'F  TOULOUS28', 'F  TOULOUS32', 'F  TOULOUS41', 'F  TOULOUS48', 'F  TOULOUS50', 'F  TOULOUs03', 'F  TOURCOI11', 'F  TOURS01', 'F  TROYES07', 'F  TROYES08', 'F  Toulous48', 'F  VALENCE14', 'F  VALENCI01', 'F  VALENCI14', 'F  VALENCI15', 'F  VANNES04', 'F  VAULX-V02', 'F  VERSAIL03', 'F  VERSAIL05', 'F  VERSAIL11', 'F  XX', 'G  ARTA01', 'G  ATHINE01', 'G  ATHINE02', 'G  ATHINE03', 'G  ATHINE04', 'G  ATHINE06', 'G  ATHINE34', 'G  ATHINE41', 'G  ATHINE42', 'G  ATHINE52', 'G  ATHINE53', 'G  CHANIA01', 'G  EGALEO01', 'G  IOANNIN01', 'G  KALAMAT01', 'G  KALLITH01', 'G  KALLITH02', 'G  KAVALA01', 'G  KOMOTIN01', 'G  KOZANI01', 'G  KOZANI02', 'G  KRITIS01', 'G  KRITIS04', 'G  KRITSI09', 'G  LAMIA02', 'G  LARISSA02', 'G  MESOLO01', 'G  PATRA01', 'G  PATRA04', 'G  PIREAS01', 'G  SERRES01', 'G  THESSAL01', 'G  THESSAL02', 'G  THESSAL12', 'G  THESSAL14', 'G  TRIPOLI03', 'G  Thessal01', 'G  VOLOS01', 'G  XX', 'G  ZAKYNTH01', 'HR DUBROVN01', 'HR OSIJEK01', 'HR PULA01', 'HR RIJEKA01', 'HR SPLIT01', 'HR VARAZDI01', 'HR ZADAR01', 'HR ZAGREB01', 'HR ZAGREB05', 'HR ZAGREB06', 'HR ZAGREB07', 'HR ZAGREB10', 'HU BAJA01', 'HU BUDAPE54', 'HU BUDAPES01', 'HU BUDAPES02', 'HU BUDAPES03', 'HU BUDAPES08', 'HU BUDAPES09', 'HU BUDAPES10', 'HU BUDAPES12', 'HU BUDAPES16', 'HU BUDAPES20', 'HU BUDAPES25', 'HU BUDAP

In [110]:
print_unique_values(students_2012, 'PLACEMENT_ENTERPRISE_CTRY_CDE')

['???', 'AT', 'BE', 'BENL', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [111]:
students_2012[(students_2012.PLACEMENT_ENTERPRISE_CTRY_CDE == 'BENL')]

,HOME_INSTITUTION_CDE,STUDENT_AGE_VALUE,STUDENT_GENDER_CDE,STUDENT_NATIONALITY_CDE,STUDENT_STUDY_LEVEL_CDE,NUMB_YRS_HIGHER_EDUCAT_VALUE,MOBILITY_TYPE_CDE,HOST_INSTITUTION_CDE,PLACEMENT_ENTERPRISE_VALUE,PLACEMENT_ENTERPRISE_CTRY_CDE,LENGTH_STUDY_PERIOD_VALUE,LENGTH_PLACEMENT_VALUE,SHORT_DURATION_CDE,STUDY_START_DATE,PLACEMENT_START_DATE,ECTS_CREDITS_STUDY_AMT,ECTS_CREDITS_PLACEMENT_AMT,TOTAL_ECTS_CREDITS_AMT,SPECIAL_NEEDS_SUPPLEMENT_VALUE,SPECIAL_NEEDS_SUPPLEMENT_VALUE,PLACEMENT_GRANT_AMT,PREVIOUS_PARTICIPATION_CDE
19970,E MURCIA05,22,M,ES,1,3,P,???,Widar Dorpsgemeenschap,BENL,0.0,4.25,?,00/0000,Jan-13,0.0,30.0,30.0,0.0,0.0,1275,N

In [112]:
print_unique_values(students_2012, 'SHORT_DURATION_CDE')

['-', '0', '?', 'N', 'S', 'T', 'X', 'm', 'x']

In [113]:
print_unique_values(students_2012, 'STUDY_START_DATE')

['00/0000', '09/1012', 'Apr-12', 'Apr-13', 'Aug-12', 'Aug-13', 'Dec-12', 'Feb-12', 'Feb-13', 'Jan-12', 'Jan-13', 'Jul-12', 'Jul-13', 'Jun-12', 'Jun-13', 'Mar-12', 'Mar-13', 'May-12', 'May-13', 'Nov-12', 'Oct-12', 'Sep-12', 'Sep-13']

In [114]:
students_2012[(students_2012.STUDY_START_DATE == '09/1012')]

,HOME_INSTITUTION_CDE,STUDENT_AGE_VALUE,STUDENT_GENDER_CDE,STUDENT_NATIONALITY_CDE,STUDENT_STUDY_LEVEL_CDE,NUMB_YRS_HIGHER_EDUCAT_VALUE,MOBILITY_TYPE_CDE,HOST_INSTITUTION_CDE,PLACEMENT_ENTERPRISE_VALUE,PLACEMENT_ENTERPRISE_CTRY_CDE,LENGTH_STUDY_PERIOD_VALUE,LENGTH_PLACEMENT_VALUE,SHORT_DURATION_CDE,STUDY_START_DATE,PLACEMENT_START_DATE,ECTS_CREDITS_STUDY_AMT,ECTS_CREDITS_PLACEMENT_AMT,TOTAL_ECTS_CREDITS_AMT,SPECIAL_NEEDS_SUPPLEMENT_VALUE,SPECIAL_NEEDS_SUPPLEMENT_VALUE,PLACEMENT_GRANT_AMT,PREVIOUS_PARTICIPATION_CDE
190993,NL MAASTRI01,23,F,DE,1,2,S,IRLGALWAY01,? Unknown ?,???,3.0,0.0,?,09/1012,00/0000,20.0,0.0,20.0,0.0,0.0,0,N

In [115]:
print_unique_values(students_2012, 'PLACEMENT_START_DATE')

['00/0000', 'Apr-12', 'Apr-13', 'Aug-12', 'Aug-13', 'Dec-12', 'Feb-13', 'Jan-12', 'Jan-13', 'Jul-12', 'Jul-13', 'Jun-12', 'Jun-13', 'Mar-12', 'Mar-13', 'May-13', 'Nov-12', 'Oct-12', 'Oct-13', 'Sep-12', 'Sep-13']

In [116]:
print_unique_values(students_2012, 'PREVIOUS_PARTICIPATION_CDE')
students_2012[students_2012.PREVIOUS_PARTICIPATION_CDE.isnull()]

['M', 'N', 'P', 'S']

,HOME_INSTITUTION_CDE,STUDENT_AGE_VALUE,STUDENT_GENDER_CDE,STUDENT_NATIONALITY_CDE,STUDENT_STUDY_LEVEL_CDE,NUMB_YRS_HIGHER_EDUCAT_VALUE,MOBILITY_TYPE_CDE,HOST_INSTITUTION_CDE,PLACEMENT_ENTERPRISE_VALUE,PLACEMENT_ENTERPRISE_CTRY_CDE,LENGTH_STUDY_PERIOD_VALUE,LENGTH_PLACEMENT_VALUE,SHORT_DURATION_CDE,STUDY_START_DATE,PLACEMENT_START_DATE,ECTS_CREDITS_STUDY_AMT,ECTS_CREDITS_PLACEMENT_AMT,TOTAL_ECTS_CREDITS_AMT,SPECIAL_NEEDS_SUPPLEMENT_VALUE,SPECIAL_NEEDS_SUPPLEMENT_VALUE,PLACEMENT_GRANT_AMT,PREVIOUS_PARTICIPATION_CDE
141021,PL SUWALKI03,21,M,LT,1,1,P,???,OLERTROS LOGISTIKA;LT;M;H;0;3;T;00/0000;07/201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203632,RO PETROSA01,20,M,RO,2,5,P,???,"K'' Line Espana Servicios Maritimos S.A., Vale...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205047,RO PETROSA01,19,F,RO,1,1,P,???,"K'' Line Espana Servicios Maritimos S.A., Vale...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Outcome of data quality assessment for 2012 data

Data quality issues found in the 2012 dataset:
* Nationality: not all country codes are upper case, XX is not a valid country code and will be replaced with NULL
* Home institution code: consistent use of upper case missing
* Host institution code: consistent use of upper case missing; '???' should be replaced with NULL
* Placement enterprise value: trim whitespaces, replace '? UNKNOWN ?' with NULL
* Placement enterprice country code: replace '???' with NULL, discard rows with country codes > 2 letters
* Short duration code: replace '?' with NULL
* Study start date: consistent format, but different to the previous one, needs to be converted; default 00/0000 should be set to NULL
* Placement start date: consistent format, but different to the previous one, needs to be converted; default 00/0000 should be set to NULL
* Previous partitipation code: should not be empty, drop this rows

Next step is to clean the 2012 data:

In [117]:
students_2012_cleaned = students_2012
students_2012_cleaned.STUDENT_NATIONALITY_CDE = students_2012_cleaned.STUDENT_NATIONALITY_CDE.str.upper().replace({'XX': None})
students_2012_cleaned.HOME_INSTITUTION_CDE = students_2012_cleaned.HOME_INSTITUTION_CDE.str.upper()
students_2012_cleaned.HOST_INSTITUTION_CDE = students_2012_cleaned.HOST_INSTITUTION_CDE.str.upper().replace({'???': None})
students_2012_cleaned.PLACEMENT_ENTERPRISE_VALUE = students_2012_cleaned.PLACEMENT_ENTERPRISE_VALUE.str.strip().replace({'? Unknown ?': None})
students_2012_cleaned.PLACEMENT_ENTERPRISE_CTRY_CDE = students_2012_cleaned.PLACEMENT_ENTERPRISE_CTRY_CDE.str.upper().replace({'???': None})
students_2012_cleaned.SHORT_DURATION_CDE = students_2012_cleaned.SHORT_DURATION_CDE.str.upper().replace({'?': None})
# how many rows did we have in the beginning?
students_2012_cleaned.shape[0]

267547

In [118]:
# date conversion
def convert_date(date):
    try: 
        return pd.to_datetime(date).strftime('%m-%Y')
    except ValueError:
        return None

students_2012_cleaned.STUDY_START_DATE = students_2012_cleaned.STUDY_START_DATE.str.replace('-', '-20')
students_2012_cleaned.STUDY_START_DATE = students_2012_cleaned.STUDY_START_DATE.apply(convert_date)
students_2012_cleaned.PLACEMENT_START_DATE = students_2012_cleaned.PLACEMENT_START_DATE.str.replace('-', '-20')
students_2012_cleaned.PLACEMENT_START_DATE = students_2012_cleaned.PLACEMENT_START_DATE.apply(convert_date)
students_2012_cleaned.shape[0]

267547

In [119]:
# filtering rows with invalid study start dates
students_2012_cleaned = students_2012_cleaned[
    (students_2012_cleaned.STUDY_START_DATE.str.slice(3,7).isin(['2012', '2013'])) |
    (students_2012_cleaned.STUDY_START_DATE.isnull())]
students_2012_cleaned.shape[0]

267547

In [120]:
# filtering rows with invalid placement start dates
students_2012_cleaned = students_2012_cleaned[
    (students_2012_cleaned.PLACEMENT_START_DATE.str.slice(3,7).isin(['2012', '2013'])) |
    (students_2012_cleaned.PLACEMENT_START_DATE.isnull())]
students_2012_cleaned.shape[0]

267547

In [121]:
# filtering rows with invalid country codes
students_2012_cleaned = students_2012_cleaned[
    (students_2012_cleaned.PLACEMENT_ENTERPRISE_CTRY_CDE.str.len() == 2) |
    (students_2012_cleaned.PLACEMENT_ENTERPRISE_CTRY_CDE.isnull())]
students_2012_cleaned.shape[0]

267546

In [122]:
# filtering rows with invalid previous participation codes
students_2012_cleaned = students_2012_cleaned[students_2012_cleaned.PREVIOUS_PARTICIPATION_CDE.notnull()]
students_2012_cleaned.shape[0]

267543

### Combining all years and write back to CSV

In [123]:
# rename column headers
column_names = ['home_institution',
           'age', 
           'gender',
           'nationality',
           'level_study',
           'years_prior',
           'mobility_type',
           'host_institution',
           'work_placement',
           'country_work_placement',
           'length_study',
           'length_work',
           'short_duration_reason',
           'study_start_date',
           'work_start_date',
           'ects_study',
           'ects_work',
           'ects_total',
           'sn_supplement',
           'study_grant',
           'work_grant',
           'previous_participation']
students_2008_cleaned.columns = column_names
students_2009_cleaned.columns = column_names
students_2010_cleaned.columns = column_names
students_2011_cleaned.columns = column_names
students_2012_cleaned.columns = column_names

In [124]:
# combine all data
student_df = pd.concat([
    students_2008_cleaned,
    students_2009_cleaned,
    students_2010_cleaned,
    students_2011_cleaned,
    students_2012_cleaned
], axis=0)

student_df.head()

,home_institution,age,gender,nationality,level_study,years_prior,mobility_type,host_institution,work_placement,country_work_placement,length_study,length_work,short_duration_reason,study_start_date,work_start_date,ects_study,ects_work,ects_total,sn_supplement,study_grant,work_grant,previous_participation
0,D KONSTAN01,25,M,DE,1,2,S,UK BATH01,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,27.0,0.0,27.0,0.0,720.0,0,N
1,D KONSTAN01,24,M,DE,2,4,S,F PARIS007,NaN,NaN,8.0,0.0,NaN,09-2008,NaN,63.0,0.0,63.0,0.0,1440.0,0,N
2,D KONSTAN01,23,M,DE,1,2,S,F MARSEIL16,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,15.0,0.0,15.0,0.0,720.0,0,N
3,D KONSTAN01,24,F,DE,1,3,S,E CORDOBA01,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,30.0,0.0,30.0,0.0,720.0,0,N
4,EE TALLINN04,22,M,EE,1,2,S,SF LAHTI11,NaN,NaN,4.0,0.0,NaN,09-2008,NaN,45.0,0.0,45.0,0.0,1727.2,0,N

In [125]:
# write to csv
student_df.to_csv('cleaned_data/students_2008_2012.csv', sep=';', encoding='utf-8', index=None, header=True)

## Assess JSON file containing institutions

In [126]:
euc = pd.read_json('raw_data/euc.json')

In [127]:
euc.describe()

,institutional_code,application_reference_number,organisation_name,country,city,code
count,4919,4919,4919,4919,4919,4919
unique,4919,4919,4892,34,2791,3
top,E ZAMORA06,29289-IC-1-2007-1-AT-ERASMUS-EUC-1,ACCADEMIA DI BELLE ARTI,ES,PARIS,EUCX
freq,1,1,4,1248,84,3183

In [128]:
euc.shape

(4919, 6)

In [129]:
print_unique_values(euc, 'institutional_code')

['A  BADEN01', 'A  DORNBIR01', 'A  EISENST01', 'A  EISENST02', 'A  EISENST05', 'A  FELDKIR01', 'A  FELDKIR03', 'A  GRAZ01', 'A  GRAZ02', 'A  GRAZ03', 'A  GRAZ04', 'A  GRAZ08', 'A  GRAZ09', 'A  GRAZ10', 'A  GRAZ23', 'A  INNSBRU01', 'A  INNSBRU03', 'A  INNSBRU08', 'A  INNSBRU09', 'A  INNSBRU20', 'A  INNSBRU21', 'A  INNSBRU23', 'A  KLAGENF01', 'A  KLAGENF02', 'A  KLAGENF06', 'A  KREMS02', 'A  KREMS03', 'A  KREMS05', 'A  KUFSTEI01', 'A  LEOBEN01', 'A  LINZ01', 'A  LINZ02', 'A  LINZ03', 'A  LINZ04', 'A  LINZ11', 'A  LINZ17', 'A  LINZ23', 'A  SALZBUR01', 'A  SALZBUR02', 'A  SALZBUR03', 'A  SALZBUR08', 'A  SALZBUR18', 'A  SCHLAIN01', 'A  SPITTAL01', 'A  ST-POLT03', 'A  ST-POLT10', 'A  WELS01', 'A  WIEN01', 'A  WIEN02', 'A  WIEN03', 'A  WIEN04', 'A  WIEN05', 'A  WIEN06', 'A  WIEN07', 'A  WIEN08', 'A  WIEN09', 'A  WIEN10', 'A  WIEN15', 'A  WIEN20', 'A  WIEN21', 'A  WIEN36', 'A  WIEN38', 'A  WIEN52', 'A  WIEN63', 'A  WIEN64', 'A  WIEN65', 'A  WIEN66', 'A  WIEN67', 'A  WIEN68', 'A  WIEN69', 'A  WIEN70', 'A  WIENER01', 'A  WIENER04', 'B  ANTWERP01', 'B  ANTWERP57', 'B  ANTWERP58', 'B  ANTWERP59', 'B  ANTWERP60', 'B  ANTWERP61', 'B  ARLON09', 'B  BRUGGE11', 'B  BRUSSEL01', 'B  BRUSSEL02', 'B  BRUSSEL05', 'B  BRUSSEL37', 'B  BRUSSEL43', 'B  BRUSSEL46', 'B  BRUSSEL47', 'B  BRUXEL01', 'B  BRUXEL02', 'B  BRUXEL04', 'B  BRUXEL05', 'B  BRUXEL07', 'B  BRUXEL15', 'B  BRUXEL28', 'B  BRUXEL81', 'B  BRUXEL82', 'B  BRUXEL83', 'B  BRUXEL84', 'B  BRUXEL85', 'B  BRUXEL86', 'B  BRUXEL87', 'B  BRUXEL88', 'B  BRUXEL89', 'B  BRUXEL90', 'B  BRUXEL91', 'B  DIEPENB01', 'B  DIEPENB07', 'B  EUPEN04', 'B  GEEL07', 'B  GENT01', 'B  GENT16', 'B  GENT25', 'B  GENT39', 'B  GENT40', 'B  HASSELT03', 'B  HASSELT20', 'B  HASSELT21', 'B  HEVERLE05', 'B  KORTRIJ01', 'B  KORTRIJ03', 'B  LEUVEN01', 'B  LEUVEN04', 'B  LEUVEN18', 'B  LIEGE01', 'B  LIEGE02', 'B  LIEGE03', 'B  LIEGE07', 'B  LIEGE37', 'B  LIEGE38', 'B  LIEGE42', 'B  LIEGE43', 'B  LOUVAIN01', 'B  LOUVAIN02', 'B  MECHELE14', 'B  MONS20', 'B  MONS21', 'B  MONS22', 'B  MONS23', 'B  NAMUR01', 'B  NAMUR11', 'B  NAMUR13', 'B  NAMUR14', 'B  NAMUR15', 'B  TOURNAI01', 'BG ALBENA01', 'BG BLAGOEV02', 'BG BLAGOEV03', 'BG BOTEVGR02', 'BG BOURGAS01', 'BG BOURGAS02', 'BG GABROVO01', 'BG PERNIK01', 'BG PLEVEN01', 'BG PLOVDIV01', 'BG PLOVDIV02', 'BG PLOVDIV04', 'BG PLOVDIV05', 'BG PLOVDIV07', 'BG PLOVDIV08', 'BG PLOVDIV09', 'BG PLOVDIV10', 'BG ROUSSE01', 'BG SHOUMEN01', 'BG SOFIA02', 'BG SOFIA03', 'BG SOFIA04', 'BG SOFIA06', 'BG SOFIA08', 'BG SOFIA09', 'BG SOFIA11', 'BG SOFIA12', 'BG SOFIA13', 'BG SOFIA16', 'BG SOFIA17', 'BG SOFIA18', 'BG SOFIA20', 'BG SOFIA21', 'BG SOFIA22', 'BG SOFIA24', 'BG SOFIA26', 'BG SOFIA28', 'BG SOFIA30', 'BG SOFIA31', 'BG SOFIA32', 'BG STARA-Z01', 'BG SVISHTO02', 'BG VARNA01', 'BG VARNA02', 'BG VARNA03', 'BG VARNA04', 'BG VARNA05', 'BG VELIKO01', 'BG VELIKO02', 'CH BASEL01', 'CH BELLINZ01', 'CH BERN01', 'CH BERN11', 'CH BERN12', 'CH BERN13', 'CH BERN14', 'CH BRUGG02', 'CH CHUR03', 'CH DELEMON02', 'CH FRIBOUR01', 'CH FRIBOUR04', 'CH GENEVE01', 'CH GENEVE12', 'CH LAUSANN01', 'CH LAUSANN06', 'CH LAUSANN11', 'CH LAUSANN13', 'CH LUGANO01', 'CH LUGANO02', 'CH LUZERN01', 'CH LUZERN13', 'CH LUZERN14', 'CH NEUCHAT01', 'CH SION05', 'CH ST-GALL09', 'CH ST-GALL11', 'CH ST-MAUR01', 'CH ST.GALL08', 'CH THURGAU01', 'CH WINTERT03', 'CH YVERDON02', 'CH ZOLLIKO02', 'CH ZURICH01', 'CH ZURICH07', 'CH ZURICH17', 'CH ZURICH20', 'CH ZURICH21', 'CH ZURICH22', 'CY LARNACA01', 'CY LEFKOSI01', 'CY LEFKOSI02', 'CY LIMASSO02', 'CY LIMASSO03', 'CY NICOSIA01', 'CY NICOSIA04', 'CY NICOSIA08', 'CY NICOSIA10', 'CY NICOSIA11', 'CY NICOSIA12', 'CY NICOSIA13', 'CY NICOSIA14', 'CY NICOSIA15', 'CY NICOSIA22', 'CY NICOSIA23', 'CY NICOSIA24', 'CY NICOSIA25', 'CY NICOSIA26', 'CY NICOSIA27', 'CY NICOSIA28', 'CY PAFOS01', 'CY PRODROM01', 'CZ BRNO01', 'CZ BRNO02', 'CZ BRNO03', 'CZ BRNO05', 'CZ BRNO06', 'CZ BRNO08', 'CZ BRNO09', 'CZ BRNO10', 'CZ BRNO11', 'CZ BRNO12', 'CZ CESKE01', 'CZ CESKE03', 'CZ CESKE04', 'CZ EASLAV01', 'CZ HRADEC01', 'CZ JIHLAVA02', 'CZ KARLOVY01', 'CZ KLADNO02', 'CZ KOLIN01', 'CZ KUNOVIC01', 'CZ LIBEREC01', 'CZ MELNIK01', 'CZ MLADA01', 'CZ NEJDEK01', 'CZ OLOMOUC01', 'CZ OLOMOUC02', 'CZ OLOMOUC03', 'CZ OPAVA01', 'CZ OSTRAVA01', 'CZ OSTRAVA02', 'CZ OSTRAVA03', 'CZ PARDUB01', 'CZ PETROVI01', 'CZ PISEK01', 'CZ PISEK02', 'CZ PLZEN01', 'CZ PLZEN02', 'CZ PODEBRA01', 'CZ PRAHA01', 'CZ PRAHA02', 'CZ PRAHA03', 'CZ PRAHA04', 'CZ PRAHA05', 'CZ PRAHA06', 'CZ PRAHA07', 'CZ PRAHA09', 'CZ PRAHA10', 'CZ PRAHA11', 'CZ PRAHA12', 'CZ PRAHA13', 'CZ PRAHA14', 'CZ PRAHA15', 'CZ PRAHA16', 'CZ PRAHA17', 'CZ PRAHA18', 'CZ PRAHA20', 'CZ PRAHA21', 'CZ PRAHA22', 'CZ PRAHA23', 'CZ PRAHA24', 'CZ PRAHA25', 'CZ PRAHA26', 'CZ PRAHA27', 'CZ PRAHA28', 'CZ PRAHA29', 'CZ PRAHA30', 'CZ PRAHA31', 'CZ PRAHA32', 'CZ PRAHA33', 'CZ PRAHA34', 'CZ PRAHA35', 'CZ PREROV01', 'CZ PREROV02', 'CZ TREBIC01', 'CZ USTINAD01', 'CZ USTINAD02', 'CZ VALASSK01', 'CZ ZLIN01', 'CZ ZNOJMO01', 'D  AACHEN01', 'D  AACHEN02', 'D  AALEN01', 'D  ALFTER01', 'D  AMBERG01', 'D  ANSBACH01', 'D  ANSBACH02', 'D  ASCHAFF01', 'D  AUGSBUR01', 'D  AUGSBUR02', 'D  BAD-HON01', 'D  BAMBERG01', 'D  BAUTZEN01', 'D  BAYREUT01', 'D  BERLIN01', 'D  BERLIN02', 'D  BERLIN03', 'D  BERLIN04', 'D  BERLIN05', 'D  BERLIN06', 'D  BERLIN10', 'D  BERLIN13', 'D  BERLIN14', 'D  BERLIN16', 'D  BERLIN17', 'D  BERLIN18', 'D  BERLIN20', 'D  BERLIN21', 'D  BERLIN22', 'D  BERLIN23', 'D  BERLIN24', 'D  BERLIN25', 'D  BERLIN26', 'D  BERLIN27', 'D  BERLIN28', 'D  BERLIN29', 'D  BERLIN30', 'D  BERLIN31', 'D  BERLIN32', 'D  BERLIN33', 'D  BIBERAC01', 'D  BIELEFE01', 'D  BIELEFE02', 'D  BIELEFE05', 'D  BINGEN01', 'D  BOCHUM01', 'D  BOCHUM02', 'D  BOCHUM04', 'D  BOCHUM05', 'D  BOCHUM06', 'D  BONN01', 'D  BRANDEN01', 'D  BRAUNSC01', 'D  BRAUNSC02', 'D  BREITEN02', 'D  BREMEN01', 'D  BREMEN03', 'D  BREMEN04', 'D  BREMEN07', 'D  BREMEN09', 'D  BREMERH01', 'D  BRUHL01', 'D  BRUHL02', 'D  BUXTEHU02', 'D  CALW01', 'D  CALW02', 'D  CHEMNIT01', 'D  CHEMNIT02', 'D  CLAUSTH01', 'D  COBURG01', 'D  COTTBUS01', 'D  DARMSTA01', 'D  DARMSTA02', 'D  DARMSTA03', 'D  DEGGEND01', 'D  DETMOLD01', 'D  DORTMUN01', 'D  DORTMUN02', 'D  DORTMUN04', 'D  DRESDEN01', 'D  DRESDEN02', 'D  DRESDEN04', 'D  DRESDEN05', 'D  DRESDEN07', 'D  DRESDEN09', 'D  DRESDEN10', 'D  DUSSELD01', 'D  DUSSELD03', 'D  DUSSELD06', 'D  EBERSWA1', 'D  EICHSTA01', 'D  ELMSHOR01', 'D  EMDEN02', 'D  ERDING01', 'D  ERFURT03', 'D  ERFURT05', 'D  ERFURT06', 'D  ERLANGE01', 'D  ERLANGE02', 'D  ESSEN02', 'D  ESSEN03', 'D  ESSEN04', 'D  ESSLING03', 'D  FLENSBU01', 'D  FLENSBU02', 'D  FRANKFU01', 'D  FRANKFU02', 'D  FRANKFU03', 'D  FRANKFU04', 'D  FRANKFU06', 'D  FRANKFU07', 'D  FRANKFU08', 'D  FRANKFU09', 'D  FRANKFU10', 'D  FRANKFU11', 'D  FREIBER01', 'D  FREIBUR01', 'D  FREIBUR02', 'D  FREIBUR03', 'D  FREIBUR04', 'D  FREIBUR05', 'D  FREIBUR06', 'D  FREISIN01', 'D  FRIEDRI01', 'D  FULDA01', 'D  FULDA03', 'D  FURTWAN01', 'D  GELSENK01', 'D  GELSENK02', 'D  GERA01', 'D  GIESSEN01', 'D  GIESSEN02', 'D  GLAUCHA02', 'D  GOTTING01', 'D  GOTTING02', 'D  GREIFS01', 'D  GUESTRO01', 'D  HAGEN01', 'D  HALLE01', 'D  HALLE03', 'D  HAMBURG01', 'D  HAMBURG03', 'D  HAMBURG04', 'D  HAMBURG05', 'D  HAMBURG06', 'D  HAMBURG08', 'D  HAMBURG10', 'D  HAMBURG11', 'D  HAMBURG12', 'D  HAMBURG13', 'D  HAMBURG14', 'D  HAMBURG15', 'D  HAMBURG16', 'D  HAMBURG17', 'D  HAMBURG18', 'D  HAMBURG19', 'D  HAMM01', 'D  HANNOVE01', 'D  HANNOVE02', 'D  HANNOVE03', 'D  HANNOVE04', 'D  HANNOVE05', 'D  HANNOVE08', 'D  HANNOVE09', 'D  HEIDE01', 'D  HEIDELB01', 'D  HEIDELB02', 'D  HEIDELB04', 'D  HEIDELB05', 'D  HEIDENH02', 'D  HEILBRO01', 'D  HEILBRO02', 'D  HILDESH01', 'D  HILDESH02', 'D  HOF01', 'D  IDSTEIN01', 'D  ILMENAU01', 'D  INGOLST01', 'D  ISERLOH01', 'D  ISERLOH02', 'D  ISNY01', 'D  JENA01', 'D  JENA02', 'D  KAISERS01', 'D  KAISERS02', 'D  KARLSRU01', 'D  KARLSRU02', 'D  KARLSRU03', 'D  KARLSRU04', 'D  KARLSRU05', 'D  KARLSRU06', 'D  KARLSRU07', 'D  KARLSRU08', 'D  KASSEL01', 'D  KEHL01', 'D  KEMPTEN01', 'D  KEMPTEN02', 'D  KIEL01', 'D  KIEL03', 'D  KIEL04', 'D  KIEL05', 'D  KLEVE01', 'D  KOBLENZ01', 'D  KOBLENZ02', 'D  KOBLENZ03', 'D  KOELN 03', 'D  KOLN01', 'D  KOLN02', 'D  KOLN04', 'D  KOLN05', 'D  KOLN07', 'D  KOLN12', 'D  KONSTAN01', 'D  KONSTAN02', 'D  KOTHEN01', 'D  KREFELD01', 'D  LAHR01', 'D  LANDSHU01', 'D  LEIPZIG01', 'D  LEIPZIG02', 'D  LEIPZIG04', 'D  LEIPZIG05', 'D  LEIPZIG09', 'D  LEIPZIG10', 'D  LEIPZIG14', 'D  LEMGO01', 'D  LORRACH01', 'D  LUBECK01', 'D  LUBECK02', 'D  LUBECK03', 'D  LUDWIGB01', 'D  LUDWIGB03', 'D  LUDWIGH01', 'D  LUNEBUR01', 'D  MAGDEBU01', 'D  MAGDEBU04', 'D  MAINZ01', 'D  MAINZ05', 'D  MAINZ08', 'D  MANNHEI01', 'D  MANNHEI02', 'D  MANNHEI03', 'D  MANNHEI06', 'D  MANNHEI08', 'D  MANNHEI09', 'D  MARBURG01', 'D  MARBURG03', 'D  MEISSEN01', 'D  MERSEB02', 'D  MITTWEI01', 'D  MOSBACH01', 'D  MULHEIM01', 'D  MUNCHEN01', 'D  MUNCHEN02', 'D  MUNCHEN03', 'D  MUNCHEN04', 'D  MUNCHEN05', 'D  MUNCHEN06', 'D  MUNCHEN07', 'D  MUNCHEN08', 'D  MUNCHEN10', 'D  MUNCHEN11', 'D  MUNCHEN12', 'D  MUNCHEN13', 'D  MUNSTER01', 'D  MUNSTER02', 'D  MUNSTER05', 'D  NEUBRAN02', 'D  NEUSS02', 'D  NIENBUR01', 'D  NORDHAU01', 'D  NURNBER01', 'D  NURNBER02', 'D  NURNBER03', 'D  NURNBER04', 'D  NURTING01', 'D  NURTING02', 'D  OESTRIC01', 'D  OFFENBA01', 'D  OFFENBU01', 'D  OLDENBU01', 'D  OSNABRU01', 'D  OSNABRU02', 'D  OTTERSB02', 'D  PADERBO01', 'D  PADERBO04', 'D  PADERBO05', 'D  PASSAU01', 'D  PFORZHE01', 'D  POTSDAM01', 'D  POTSDAM02', 'D  POTSDAM03', 'D  POTSDAM04', 'D  RAVENSB01', 'D  RAVENSB02', 'D  REGENSB01', 'D  REGENSB02', 'D  REGENSB03', 'D  REUTLIN02', 'D  REUTLIN03', 'D  RIEDLIN01', 'D  RIESA01', 'D  ROSENHE01', 'D  ROSTOCK01', 'D  ROSTOCK02', 'D  ROTTENB01', 'D  SAARBRU01', 'D  SAARBRU03', 'D  SAARBRU07', 'D  SAARBRU08', 'D  SCHMALK01', 'D  SCHWA-G02', 'D  SCHWAG01', 'D  SENFTEN01', 'D  SIEGEN01', 'D  SIGMARI01', 'D  SPEYER02', 'D  ST-AUGU02', 'D  STRALSU01', 'D  STUTTGA01', 'D  STUTTGA02', 'D  STUTTGA03', 'D  STUTTGA04', 'D  STUTTGA05', 'D  STUTTGA06', 'D  STUTTGA09', 'D  STUTTGA10', 'D  TRIER01', 'D  TRIER02', 'D  TRIER03', 'D  TROSSIN01', 'D  TUBINGE01', 'D  ULM01', 'D  ULM02', 'D  ULM03', 'D  VECHTA02', 'D  VILLING02', 'D  WEDEL01', 'D  WEIMAR01', 'D  WEIMAR02', 'D  WEINGAR01', 'D  WERNIGE01', 'D  WIESBAD01', 'D  WILDAU01', 'D  WILHELM02', 'D  WISMAR01', 'D  WITTEN02', 'D  WOLFENB01', 'D  WORMS01', 'D  WUPPERT01', 'D  WUPPERT02', 'D  WURZBUR01', 'D  WURZBUR02', 'D  WURZBUR03', 'D  ZITTAU01', 'D  ZWICKAU01', 'DK ALBORG01', 'DK ALBORG02', 'DK ALBORG03', 'DK ARHUS01', 'DK ARHUS04', 'DK ARHUS05', 'DK ARHUS10', 'DK ARHUS26', 'DK ARHUS27', 'DK ARHUS28', 'DK ESBJERG18', 'DK ESBJERG19', 'DK FREDERA02', 'DK FREDERI09', 'DK HERNING01', 'DK HERNING08', 'DK KOBENHA01', 'DK KOBENHA05', 'DK KOBENHA06', 'DK KOBENHA14', 'DK KOBENHA32', 'DK KOBENHA38', 'DK KOBENHA39', 'DK KOBENHA52', 'DK KOBENHA54', 'DK KOBENHA55', 'DK KOBENHA56', 'DK KOBENHA57', 'DK KOBENHA58', 'DK KOGE03', 'DK KOLDING07', 'DK KOLDING10', 'DK KOPENHA10', 'DK KOPENHA26', 'DK KOPENHA37', 'DK LYNGBY01', 'DK LYNGBY02', 'DK LYNGBY04', 'DK NUUK01', 'DK ODENSE01', 'DK ODENSE10', 'DK ODENSE16', 'DK ODENSE21', 'DK ODENSE22', 'DK RANDERS02', 'DK RISSKOV06', 'DK ROSKILD01', 'DK SORO02', 'DK SVENBO05', 'DK VEJLE06', 'E  ALBACET01', 'E  ALBACET02', 'E  ALBACET03', 'E  ALBACET04', 'E  ALBACET05', 'E  ALBACET06', 'E  ALBACET07', 'E  ALBACET08', 'E  ALBACET09', 'E  ALBACET10', 'E  ALBACET11', 'E  ALBACET12', 'E  ALBACET13', 'E  ALBACET14', 'E  ALCAL-H01', 'E  ALGECIR05', 'E  ALGECIR06', 'E  ALICANT01', 'E  ALICANT02', 'E  ALICANT03', 'E  ALICANT04', 'E  ALICANT05', 'E  ALICANT06', 'E  ALICANT07', 'E  ALICANT08', 'E  ALICANT09', 'E  ALICANT10', 'E  ALICANT11', 'E  ALICANT12', 'E  ALICANT13', 'E  ALICANT14', 'E  ALICANT15', 'E  ALICANT16', 'E  ALICANT17', 'E  ALICANT18', 'E  ALICANT19', 'E  ALICANT20', 'E  ALICANT21', 'E  ALICANT22', 'E  ALICANT23', 'E  ALICANT24', 'E  ALICANT25', 'E  ALICANT26', 'E  ALICANT27', 'E  ALICANT28', 'E  ALICANT29', 'E  ALICANT30', 'E  ALICANT31', 'E  ALICANT32', 'E  ALICANT33', 'E  ALICANT34', 'E  ALICANT35', 'E  ALICANT36', 'E  ALICANT37', 'E  ALICANT38', 'E  ALICANT39', 'E  ALMERIA01', 'E  ALMERIA03', 'E  ALMERIA04', 'E  ALMERIA05', 'E  ALMERIA06', 'E  ALMERIA07', 'E  ALMERIA08', 'E  ALMERIA09', 'E  ALMERIA10', 'E  ALMERIA11', 'E  ALMERIA12', 'E  ALMERIA13', 'E  ALMERIA14', 'E  AVILA01', 'E  AVILA02', 'E  AVILA04', 'E  AVILA05', 'E  AVILA06', 'E  AVILA07', 'E  AVILA08', 'E  AVILA09', 'E  AVILES01', 'E  AVILES02', 'E  AVILES03', 'E  BADAJOZ01', 'E  BADAJOZ02', 'E  BADAJOZ03', 'E  BADAJOZ04', 'E  BADAJOZ05', 'E  BADAJOZ06', 'E  BADAJOZ08', 'E  BADAJOZ09', 'E  BADAJOZ10', 'E  BADAJOZ11', 'E  BADAJOZ12', 'E  BADAJOZ13', 'E  BADAJOZ14', 'E  BADAJOZ15', 'E  BADAJOZ16', 'E  BADAJOZ17', 'E  BADAJOZ18', 'E  BADAJOZ19', 'E  BADAJOZ20', 'E  BADAJOZ21', 'E  BADAJOZ22', 'E  BADAJOZ23', 'E  BADAJOZ24', 'E  BADAJOZ25', 'E  BADAJOZ26', 'E  BADAJOZ27', 'E  BADAJOZ28', 'E  BADAJOZ29', 'E  BADAJOZ30', 'E  BARCELO01', 'E  BARCELO02', 'E  BARCELO03', 'E  BARCELO100', 'E  BARCELO101', 'E  BARCELO102', 'E  BARCELO103', 'E  BARCELO104', 'E  BARCELO105', 'E  BARCELO106', 'E  BARCELO107', 'E  BARCELO108', 'E  BARCELO109', 'E  BARCELO11', 'E  BARCELO110', 'E  BARCELO111', 'E  BARCELO112', 'E  BARCELO113', 'E  BARCELO114', 'E  BARCELO115', 'E  BARCELO15', 'E  BARCELO16', 'E  BARCELO22', 'E  BARCELO24', 'E  BARCELO29', 'E  BARCELO30', 'E  BARCELO31', 'E  BARCELO32', 'E  BARCELO33', 'E  BARCELO34', 'E  BARCELO35', 'E  BARCELO36', 'E  BARCELO37', 'E  BARCELO38', 'E  BARCELO39', 'E  BARCELO40', 'E  BARCELO42', 'E  BARCELO43', 'E  BARCELO44', 'E  BARCELO45', 'E  BARCELO46', 'E  BARCELO47', 'E  BARCELO48', 'E  BARCELO49', 'E  BARCELO50', 'E  BARCELO51', 'E  BARCELO52', 'E  BARCELO53', 'E  BARCELO54', 'E  BARCELO55', 'E  BARCELO56', 'E  BARCELO57', 'E  BARCELO58', 'E  BARCELO59', 'E  BARCELO60', 'E  BARCELO62', 'E  BARCELO63', 'E  BARCELO65', 'E  BARCELO66', 'E  BARCELO67', 'E  BARCELO68', 'E  BARCELO69', 'E  BARCELO70', 'E  BARCELO71', 'E  BARCELO73', 'E  BARCELO74', 'E  BARCELO77', 'E  BARCELO78', 'E  BARCELO79', 'E  BARCELO82', 'E  BARCELO84', 'E  BARCELO85', 'E  BARCELO86', 'E  BARCELO87', 'E  BARCELO88', 'E  BARCELO89', 'E  BARCELO90', 'E  BARCELO91', 'E  BARCELO94', 'E  BARCELO95', 'E  BARCELO96', 'E  BARCELO97', 'E  BARCELO98', 'E  BARCELO99', 'E  BENAVEN01', 'E  BENLAMA01', 'E  BILBAO01', 'E  BILBAO02', 'E  BILBAO09', 'E  BILBAO10', 'E  BILBAO12', 'E  BILBAO13', 'E  BILBAO14', 'E  BILBAO15', 'E  BILBAO16', 'E  BILBAO17', 'E  BILBAO18', 'E  BILBAO19', 'E  BILBAO20', 'E  BILBAO21', 'E  BILBAO22', 'E  BILBAO23', 'E  BILBAO24', 'E  BILBAO26', 'E  BILBAO27', 'E  BILBAO28', 'E  BILBAO29', 'E  BILBAO30', 'E  BILBAO31', 'E  BILBAO32', 'E  BILBAO33', 'E  BILBAO34', 'E  BILBAO35', 'E  BILBAO36', 'E  BILBAO37', 'E  BILBAO38', 'E  BILBAO39', 'E  BILBAO40', 'E  BILBAO41', 'E  BILBAO42', 'E  BILBAO43', 'E  BILBAO44', 'E  BILBAO45', 'E  BILBAO46', 'E  BILBAO47', 'E  BILBAO49', 'E  BILBAO50', 'E  BILBAO51', 'E  BILBAO53', 'E  BILBAO54', 'E  BILBAO55', 'E  BILBAO56', 'E  BILBAO57', 'E  BILBAO58', 'E  BILBAO59', 'E  BILBAO60', 'E  BILBAO61', 'E  BILBAO62', 'E  BURGOS01', 'E  BURGOS02', 'E  BURGOS03', 'E  BURGOS04', 'E  BURGOS05', 'E  BURGOS06', 'E  BURGOS08', 'E  BURGOS10', 'E  BURGOS11', 'E  BURGOS14', 'E  BURGOS15', 'E  BURGOS16', 'E  BURGOS17', 'E  BURGOS18', 'E  BURGOS19', 'E  CACERES01', 'E  CACERES02', 'E  CACERES03', 'E  CACERES04', 'E  CACERES05', 'E  CACERES06', 'E  CACERES07', 'E  CACERES08', 'E  CACERES09', 'E  CACERES10', 'E  CACERES11', 'E  CACERES12', 'E  CACERES13', 'E  CACERES14', 'E  CADIZ01', 'E  CADIZ02', 'E  CADIZ03', 'E  CADIZ05', 'E  CADIZ07', 'E  CADIZ08', 'E  CADIZ09', 'E  CADIZ10', 'E  CADIZ11', 'E  CADIZ12', 'E  CADIZ13', 'E  CADIZ14', 'E  CADIZ15', 'E  CADIZ16', 'E  CADIZ17', 'E  CADIZ18', 'E  CADIZ19', 'E  CADIZ20', 'E  CADIZ21', 'E  CADIZ22', 'E  CADIZ23', 'E  CADIZ24', 'E  CADIZ25', 'E  CADIZ26', 'E  CADIZ27', 'E  CARTAGE01', 'E  CASTELL01', 'E  CASTELL03', 'E  CASTELL04', 'E  CASTELL05', 'E  CASTELL06', 'E  CASTELL07', 'E  CASTELL08', 'E  CASTELL09', 'E  CASTELL10', 'E  CASTELL11', 'E  CASTELL12', 'E  CASTELL13', 'E  CASTELL14', 'E  CASTELL15', 'E  CASTELL16', 'E  CASTELL17', 'E  CASTELL18', 'E  CASTELL19', 'E  CASTELL20', 'E  CASTELL21', 'E  CASTELL22', 'E  CEUTA01', 'E  CEUTA02', 'E  CEUTA03', 'E  CEUTA04', 'E  CEUTA05', 'E  CEUTA06', 'E  CIUDA-R01', 'E  CIUDA-R02', 'E  CIUDA-R03', 'E  CIUDA-R04', 'E  CIUDA-R05', 'E  CIUDA-R06', 'E  CIUDA-R07', 'E  CIUDA-R08', 'E  CIUDA-R09', 'E  CIUDA-R10', 'E  CIUDA-R11', 'E  CIUDA-R12', 'E  CIUDA-R13', 'E  CIUDA-R14', 'E  CIUDA-R15', 'E  CIUDA-R16', 'E  CIUDA-R17', 'E  CORDOBA01', 'E  CORDOBA04', 'E  CORDOBA05', 'E  CORDOBA06', 'E  CORDOBA07', 'E  CORDOBA09', 'E  CORDOBA10', 'E  CORDOBA12', 'E  CORDOBA14', 'E  CORDOBA15', 'E  CORDOBA16', 'E  CORDOBA17', 'E  CORDOBA18', 'E  CORDOBA19', 'E  CORDOBA20', 'E  CORDOBA21', 'E  CORDOBA22', 'E  CORDOBA23', 'E  CUENCA01', 'E  CUENCA02', 'E  CUENCA03', 'E  CUENCA04', 'E  CUENCA06', 'E  CUENCA08', 'E  ELCHE01', 'E  ELCHE02', 'E  ELCHE04', 'E  ELCHE05', 'E  ESTELLA01', 'E  GIJON02', 'E  GIJON03', 'E  GIJON04', 'E  GIJON05', 'E  GIJON06', 'E  GIJON07', 'E  GIJON09', 'E  GIJON11', 'E  GIJON12', 'E  GIRONA02', 'E  GIRONA03', 'E  GIRONA04', 'E  GIRONA05', 'E  GIRONA06', 'E  GIRONA07', 'E  GIRONA08', 'E  GIRONA09', 'E  GIRONA10', 'E  GIRONA11', 'E  GIRONA12', 'E  GIRONA13', 'E  GIRONA14', 'E  GRANADA01', 'E  GRANADA04', 'E  GRANADA05', 'E  GRANADA06', 'E  GRANADA07', 'E  GRANADA08', 'E  GRANADA10', 'E  GRANADA11', 'E  GRANADA12', 'E  GRANADA13', 'E  GRANADA14', 'E  GRANADA15', 'E  GRANADA16', 'E  GRANADA17', 'E  GRANADA18', 'E  GRANADA19', 'E  GRANADA20', 'E  GRANADA21', 'E  GRANADA22', 'E  GRANADA23', 'E  GUADALA01', 'E  GUADALA02', 'E  GUADALA03', 'E  GUADALA04', 'E  GUADALA05', 'E  GUADALA06', 'E  GUADALA07', 'E  GUADALA08', 'E  GUADALA09', 'E  GUADALA10', 'E  HARO01', 'E  HUELVA01', 'E  HUELVA02', 'E  HUELVA03', 'E  HUELVA04', 'E  HUELVA05', 'E  HUELVA06', 'E  HUELVA09', 'E  HUELVA10', 'E  HUELVA11', 'E  HUELVA12', 'E  HUESCA01', 'E  HUESCA02', 'E  HUESCA03', 'E  HUESCA04', 'E  HUESCA05', 'E  HUESCA06', 'E  HUESCA07', 'E  HUESCA08', 'E  HUESCA09', 'E  HUESCA10', 'E  HUESCA11', 'E  HUESCA12', 'E  HUESCA13', 'E  HUESCA14', 'E  IBIZA01', 'E  IBIZA02', 'E  IBIZA03', 'E  IBIZA04', 'E  IBIZA05', 'E  IBIZA06', 'E  JAEN01', 'E  JAEN02', 'E  JAEN03', 'E  JAEN04', 'E  JAEN05', 'E  JAEN06', 'E  JAEN07', 'E  JAEN08', 'E  LA-CORU01', 'E  LA-CORU02', 'E  LA-CORU03', 'E  LA-CORU04', 'E  LA-CORU05', 'E  LA-CORU06', 'E  LA-CORU07', 'E  LA-CORU08', 'E  LA-CORU09', 'E  LA-CORU10', 'E  LA-CORU11', 'E  LA-CORU12', 'E  LA-CORU13', 'E  LA-CORU14', 'E  LA-CORU15', 'E  LA-CORU16', 'E  LA-CORU17', 'E  LA-CORU18', 'E  LA-CORU19', 'E  LA-CORU20', 'E  LA-CORU21', 'E  LA-CORU22', 'E  LA-CORU23', 'E  LA-CORU24', 'E  LAS-PAL01', 'E  LAS-PAL02', 'E  LAS-PAL03', 'E  LAS-PAL04', 'E  LAS-PAL05', 'E  LAS-PAL06', 'E  LAS-PAL07', 'E  LAS-PAL08', 'E  LAS-PAL09', 'E  LAS-PAL10', 'E  LAS-PAL11', 'E  LAS-PAL12', 'E  LAS-PAL13', 'E  LAS-PAL14', 'E  LAS-PAL15', 'E  LAS-PAL16', 'E  LAS-PAL17', 'E  LAS-PAL18', 'E  LAS-PAL19', 'E  LAS-PAL20', 'E  LAS-PAL21', 'E  LAS-PAL22', 'E  LAS-PAL23', 'E  LEON01', 'E  LEON03', 'E  LEON04', 'E  LEON05', 'E  LEON06', 'E  LEON07', 'E  LEON09', 'E  LEON11', 'E  LEON12', 'E  LEON13', 'E  LEON14', 'E  LEON15', 'E  LLEIDA01', 'E  LLEIDA02', 'E  LLEIDA03', 'E  LLEIDA04', 'E  LLEIDA05', 'E  LLEIDA06', 'E  LLEIDA07', 'E  LLEIDA08', 'E  LLEIDA09', 'E  LLEIDA10', 'E  LLEIDA11', 'E  LLEIDA12', 'E  LOGRONO01', 'E  LOGRONO02', 'E  LOGRONO03', 'E  LOGRONO06', 'E  LOGRONO07', 'E  LOGRONO08', 'E  LOGRONO09', 'E  LOGRONO10', 'E  LOGRONO11', 'E  LOGRONO12', 'E  LOGRONO13', 'E  LUGO01', 'E  LUGO02', 'E  LUGO03', 'E  LUGO04', 'E  LUGO05', 'E  LUGO06', 'E  LUGO07', 'E  LUGO08', 'E  LUGO09', 'E  MADRID01', 'E  MADRID02', 'E  MADRID03', 'E  MADRID04', 'E  MADRID05', 'E  MADRID09', 'E  MADRID100', 'E  MADRID101', 'E  MADRID102', 'E  MADRID103', 'E  MADRID104', 'E  MADRID105', 'E  MADRID106', 'E  MADRID107

In [130]:
print_unique_values(euc, 'country')

['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK']

In [131]:
print_unique_values(euc, 'city')

['(TURON) MIERES', '0107 OSLO', '08207 SEDAN CEDEX', '97157-POINTE- A -PITRE CEDEX', 'A CORUNA', 'A CORUÑA', 'A GUARDA', 'AACHEN', 'AALBORG', 'AALBORG Ø.', 'AALTO (TOWN, ESPOO)', 'AARHUS C', 'AAS', 'ABANTO-ZIERBENA', 'ABARÁN (MURCIA)', 'ABERYSTWYTH', 'ADANA', 'ADEJE- LOS OLIVOS', 'ADIYAMAN', 'ADRA (ALMERIA)', 'ADRA (ALMERÍA)', 'AFRAGOLA', 'AGEN CEDEX 9', 'AGEN CÉDEX 09', 'AGRINIO', 'AGUAS NUEVAS (ALBACETE)', 'AGUILAR DE CAMPOO - PALENCIA', 'AGÜIMES', 'AIX EN PROVENCE', 'AIX-LES-BAINS  CEDEX', 'AKSARAY', 'ALACANT', 'ALBACETE', 'ALBAL', 'ALBATERA  (ALICANTE)', 'ALBERIC', 'ALBERTVILLE', 'ALBI', 'ALBI CEDEX 09', 'ALBI CEDEX 9', 'ALBOX (ALMERÍA)', 'ALCALA DE HENARES', 'ALCALÁ DE GUADAIRA', 'ALCALÁ DE HENARES', 'ALCALÁ LA REAL. JAÉN', 'ALCANTARILLA (MURCIA)', 'ALCAUDETE - JAÉN', 'ALCAÑIZ (TERUEL)', 'ALCOBENDAS', 'ALCOBENDAS (MADRID)', 'ALCOI', 'ALCORA (CASTELLÓN)', 'ALCORCON (MADRID)', 'ALCORCÓN', 'ALCOY', 'ALCUDIA', 'ALCÁZAR DE SAN JUAN (CIUDAD REAL)', 'ALDAIA (VALENCIA)', 'ALENCON', 'ALES', 'ALES CEDEX', 'ALESSANDRIA', 'ALFARRÀS', 'ALFORTVILLE', 'ALGECIRAS', 'ALGECIRAS, CÁDIZ', 'ALGEMESI', 'ALHAMA DE MURCIA', 'ALICANTE', 'ALLARIZ - OURENSE', 'ALMADA', 'ALMAGRO', 'ALMANSA', 'ALMASSORA', 'ALMENDRALEJO (BADAJOZ)', 'ALMENDRALEJO- BADAJOZ', 'ALMERIA', 'ALMERÍA', 'ALMORADÍ( ALICANTE)', 'ALMUSSAFES', 'ALSANCAK , İZMİR', 'ALSASUA', 'ALTEA', 'ALZIRA', 'AMBERG', 'AMIENS', 'AMIENS CEDEX 1', 'AMIENS Cedex 2', 'AMOREBIETA', 'AMPOSTA', 'AMPUERO (CANTABRIA)', 'AMSTERDAM', 'AMURRIO', 'ANDOAIN', 'ANDORRA (TERUEL)', 'ANGERS', 'ANGERS CEDEX 01', 'ANGERS CEDEX 02', 'ANGERS CÉDEX 01', 'ANGLET', 'ANGOULEME CEDEX', 'ANGOULÈME', 'ANKARA', 'ANNECY', 'ANNEMASSE', 'ANTEQUERA', 'ANTIBES', 'ANTIBES CEDEX', 'ANTRIM', 'ANTWERPEN', 'AOSTA', 'ARAD', 'ARANDA DE DUERO', 'ARANJUEZ', 'ARANJUEZ, MADRID', 'ARCAVACATA DI RENDE (CS)', 'ARCHENA-MURCIA', 'ARDAHAN', 'ARENAS DE SAN PEDRO', 'ARETXABALETA (GUIPUZCOA)', 'AREVALO', 'ARGENTEUIL CEDEX', 'ARLES Cedex', 'ARMENTIERES', 'ARMILLA (GRANADA)', 'ARNHEM', 'ARRADON', 'ARRAS', 'ARRAS CEDEX', 'ARRASATE', 'ARRIGORRIAGA-BIZKAIA', 'ARROYO DE LA LUZ', 'ART-SUR-MEURTHE', 'ARTA', 'ARTEIXO', 'ARTVIN', 'ARUCAS', 'ARZÚA', 'ASCHAFFENBURG', 'ASHINGTON, NORTHUMBERLAND', 'ATARFE-GRANADA', 'ATHENS', 'AUBENAS', 'AUBERVILLIERS', 'AUBIERE CEDEX', 'AUBIERE Cedex', 'AUCH CEDEX 9', 'AULNAY SOUS BOIS CEDEX', 'AULNAY-SOUS-BOIS', 'AURILLAC', 'AVCILAR İSTANBUL', 'AVEIRO', 'AVIGNON', 'AVIGNON CEDEX 9', 'AVIGNON MONTFAVET', 'AVIGNON cedex 9', 'AVILA', 'AVILÉS', 'AVIOSO (S.PEDRO) MAIA', 'AVIZE', 'AVRILLE', 'AYDIN', 'AYR', 'AZKOITIA (GIPUZKOA) BASQUE COUNTRY', 'AZUAGA (BADAJOZ)', 'AZUQUECA DE HENARES', 'Aachen', 'Aalborg East', 'Aalen', 'Aalesund', 'Aarhus', 'Aarhus C', 'Aarhus N', 'Aberdeen', 'Adria', 'Aegaleo Athens', 'Afyonkarahisar', 'Aix-en-Provence', 'Akureyri', 'Alba Iulia', 'Albi Cedex 9', 'Alcorcon', 'Alfter', 'Alta', 'Alytus', 'Amiens Cedex 1', 'Amposta', 'Amsterdam', 'Ancona', 'Andoain (Gipuzkoa)', 'Angouleme', 'Ankara', 'Annecy', 'Ansbach', 'Antakya / Hatay', 'Antalya', 'Antwerpen', 'Aoste', 'Apeldoorn', 'Arnhem', 'Athens', 'Athlone', 'Augsburg', 'Avellino', 'Avignon cedex 1', 'Avon', 'BACAU', 'BAD HOMBURG', 'BAD SOODEN-ALLENDORF', 'BAD WILDBAD', 'BADAJOZ', 'BADAJOZ (ES, SPAIN)', 'BADALONA', 'BAENA (CORDOBA)', 'BAENA (CÓRDOBA)', 'BAEZA (JAÉN)', 'BAGNOLET', 'BAGNOLS SUR CEZE', 'BAKANLIKLAR - ANKARA', 'BANGOR', 'BANSKÁ BYSTRICA', 'BANSKÁ ŠTIAVNICA', 'BAR LE DUC CEDEX', 'BARAKALDO', 'BARBASTRO', 'BARCELONA', 'BARCELOS', 'BARI', 'BARTIN', 'BASAURI', 'BASEL', 'BATH', 'BATMAN', 'BAYBURT', 'BAYONNE', 'BAYONNE CEDEX', 'BAYREUTH', 'BAZA', 'BAZAS', 'BDN SAINT PAUL', 'BEAUVAIS CEDEX', 'BEGLES', 'BEJA', 'BELFAST', 'BELFORT', 'BELFORT CEDEX', 'BELLATERRA (CERDANYOLA DEL VALLES)', 'BELLIGNAT', 'BELLINZONA', 'BELLREGUARD', 'BEMBIBRE (LEÓN)', 'BENALMÁDENA', 'BENAVENTE', 'BENIARJÓ (VALÈNCIA)', 'BENICARLÓ', 'BENICÀSSIM', 'BENIDORM', 'BENIGANIM', 'BERGAMO', 'BERGARA', 'BERGARA-GIPUZKOA', 'BERGEN', 'BERGERAC', 'BERLIN', 'BERN', 'BESANCON', 'BESANCON CEDEX', 'BESANCON Cedex', 'BESANÇON', 'BESANÇON CEDEX', 'BETANZOS', 'BETANZOS, A CORUÑA', 'BETHENY', 'BEZIERS', 'BEZIERS CEDEX', 'BIALA PODLASKA', 'BIALYSTOK', 'BIARRITZ', 'BIAŁYTSOK', 'BIDART', 'BIELEFELD', 'BIELSKO-BIALA', 'BIELSKO-BIAŁA', 'BILBAO', 'BILBAO ( BIZKAIA )', 'BILBAO (BIZKAIA)', 'BILBAO (VIZCAYA)', 'BILECIK', 'BISHOP AUCKLAND', 'BITLIS', 'BITOLA', 'BIZKAIA', 'BLACKBURN', 'BLAGNAC CEDEX', 'BLAGOEVGRAD', 'BLANES GIRONA', 'BLANQUEFORT CEDEX', 'BLED', 'BLOIS', 'BLOIS Cedex', 'BLOIS cedex', 'BOADILLA DEL MONTE', 'BOCHUM', 'BODO', 'BOIS GUILLAUME', 'BOLOGNA', 'BOLU', 'BONDY', 'BONNEUIL /MARNE', 'BONNEVILLE', 'BORAS', 'BORDEAUX', 'BORDEAUX CEDEX', 'BORGARNES', 'BORGO', 'BORNOVA / IZMIR', 'BOTEVGRAD', 'BOULAZAC', 'BOULOGNE SUR MER', 'BOURG LÈS VALENCE', 'BOURG-EN-BRESSE', 'BOURGES', 'BOURGES CEDEX', 'BOURGOIN-JALLIEU', 'BOXLEY', 'BRADFORD', 'BRAGA', 'BRAGANÇA', 'BRASOV', 'BRATISLAVA', 'BREMERHAVEN', 'BRENES', 'BRENS', 'BRESCIA', 'BRESSUIRE CEDEX', 'BREST', 'BREST ARMEES', 'BREST CEDEX 2', 'BREST CEDEX 3', 'BREST Cedex 9', 'BREUKELEN', 'BREŽICE', 'BRIGHTON', 'BRISTOL', 'BRIVE', 'BRIVES-CHARENSAC', 'BRNO', 'BRON CEDEX', 'BRUAY LA BUISSIERE CEDEX', 'BRUGG', 'BRUGGE', 'BRUSSEL', 'BRUXELLES', 'BRUZ', 'BRUZ CEDEX', 'BRY-SUR-MARNE', 'BRÜHL', 'BUC', 'BUCAREST', 'BUCHAREST', 'BUCKINGHAM', 'BUCURESTI', 'BUDAPEST', 'BUEU. PONTEVEDRA', 'BUITRAGO DEL LOZOYA (MADRID)', 'BURDUR', 'BURELA -LUGO', 'BURGAS', 'BURGOS', 'BURJASSOT', 'BURLADA', 'BURRIANA', 'BURSA', 'BYDGOSZCZ', 'Bacau', 'Bad Honnef', 'Badajoz', 'Badalona', 'Baden', 'Baja', 'Balcova-Izmir', 'Balikesir', 'Ballerup', 'Bamberg', 'Bangor', 'Banska Bystrica', 'Barcarena', 'Barcelona', 'Bari', 'Bath', 'Bautzen', 'Belfast', 'Benevento', 'Bergen', 'Berlin', 'Bialystok', 'Biberach', 'Bielefeld', 'Bielsko-Biala', 'Bilbao', 'Bingen', 'Birmingham', 'Bizkaia', 'Blackpool', 'Blois', 'Bochum', 'Bologna', 'Bolton', 'Bolzano', 'Bonn', 'Bordeaux', 'Bordeaux cedex', 'Borgarnes', 'Boulogne-Billancourt', 'Bra', 'Brandenburg', 'Brasov', 'Bratislava', 'Bratislava 5', 'Braunschweig', 'Breda', 'Breitenbrunn', 'Bremen', 'Brescia', 'Brest', 'Brighton', 'Bristol', 'Brno', 'Bruehl', 'Brussels', 'Bruxelles', 'Bruz', 'Brzesko', 'Bucarest', 'Bucharest', 'Bucharest 3', 'Budapest', 'Buxtehude', 'Bydgoszcz', 'Bytom', 'CABEZÓN DE LA SAL', 'CABRA', 'CACERES', 'CACHAN', 'CACHAN CEDEX', 'CADIZ', 'CAEN', 'CAEN CEDEX 05', 'CAEN CEDEX 1', 'CAEN CEDEX 5', 'CAEN Cedex 04', 'CAEN Cedex 4', 'CAGLIARI', 'CAHORS', 'CALAHORRA', 'CALATAYUD (ZARAGOZA)', 'CALTANISSETTA', 'CALUIRE', 'CALVIA (MALLORCA)', 'CALW', 'CAMAS', 'CAMBRAI', 'CAMBRIDGE', 'CAMPOBASSO', 'CANAKKALE', 'CANGAS- PONTEVEDRA-', 'CANKIRI', 'CANNES', 'CANNES-LA BOCCA', 'CANTELEU', 'CANTERBURY', 'CAPARICA', 'CARAVACA DE LA CRUZ -MURCIA-', 'CARBALLO(A CORUÑA)', 'CARCASSONNE', 'CARIÑENA', 'CARLET', 'CARLISLE', 'CARMARTHEN', 'CARRARA', 'CARTAGENA', 'CASAMASSIMA', 'CASE-PILOTE', 'CASERTA', 'CASLAV', 'CASTANET-TOLOSAN', 'CASTAÑEDA, CANTABRIA', 'CASTELFRANCO VENETO', 'CASTELLANZA (VA)', 'CASTELLON', 'CASTELLON DE LA PLANA', 'CASTELLÓN', 'CASTELLÓN DE LA PLANA', 'CASTELLÓN DE LA PLANA. GRAO.', 'CASTELNAU-LE-LEZ', 'CASTRES CEDEX', 'CASTRO-URDIALES(CANTABRIA)', 'CATANIA', 'CATANZARO', 'CATARROJA', 'CATARROJA, VALENCIA', 'CAVAILLON', 'CAZALLA DE LA SIERRA (SEVILLA)', 'CELJE', 'CERDANYOLA DEL VALLÈS', 'CERGY', 'CERGY CEDEX', 'CERGY PONTOISE', 'CERGY PONTOISE CEDEX', 'CERGY-PONTOISE', 'CERGY-PONTOISE CEDEX', 'CESENA', 'CESKE BUDEJOVICE', 'CEUTA', 'CEUTI - MURCIA -', 'CHALLANS', 'CHALON SUR SAONE', 'CHALON SUR SAÔNE', 'CHALON-SUR-SAÔNE', 'CHALONS EN CHAMPAGNE', 'CHALONS EN CHAMPAGNE CEDEX', 'CHALONS-EN-CHAMPAGNE cedex', 'CHAMBERY', 'CHAMBERY CEDEX', 'CHAMPS SUR MARNE', 'CHAMPS-SUR-MARNE', 'CHANIA', 'CHARLEVILLE- MEZIERES', 'CHARLEVILLE-MEZIERES', 'CHARLEVILLE-MEZIERES CEDEX', 'CHATEAU-CHINON', 'CHATEAUNEUF DE GALAURE', 'CHATEAUROUX Cedex', 'CHATENAY MALABRY', 'CHAUMONT CEDEX 09', 'CHAUMONT CEDEX9', 'CHAUVIGNY', 'CHAVES', 'CHELLES', 'CHELMSFORD', 'CHEMNITZ', 'CHENOVE', 'CHERBOURG-OCTEVILLE', 'CHERVES RICHEMONT', 'CHESTE', 'CHESTERFIELD', 'CHEŁM', 'CHISLEHURST', 'CHOLET', 'CHOLET CEDEX', 'CHORZOW', 'CHUR', 'CHURRIANA DE LA VEGA (GRANADA)', 'CHURRIANA-MALAGA', 'CHÂTEAUBRIANT', 'CIECHANÓW', 'CIEZA', 'CIUDAD REAL', 'CIUDAD RODRIGO (SALAMANCA)', 'CIUTADELLA DE MENORCA', 'CLERMONT FD CÉDEX 01', 'CLERMONT FERRAND CEDEX 1', "CLERMONT L'HERAULT", 'CLERMONT-FERRAND', 'CLERMONT-FERRAND CEDEX 02', 'CLERMONT-FERRAND CEDEX 1', 'CLICHY', 'CLISSON Cedex', 'CLUJ NAPOCA', 'CLUJ-NAPOCA', 'CLYDEBANK', 'CO. KILDARE', 'COGNAC', 'COIMBRA', 'COLCHESTER', 'COLERAINE', 'COLLADO VILLALBA', 'COLLADO VILLALBA / MADRID', 'COLMAR', 'COLMENAR VIEJO', 'COMO', 'COMPIEGNE CEDEX', 'COMPIÈGNE', 'CONSTANTA', 'COPENHAGEN', 'COPENHAGEN K', 'COPENHAGEN N', 'COPENHAGEN S.', 'CORBEIL ESSONNES', 'CORDOBA', 'CORFU', 'CORTE', 'COSENZA', 'COSLADA', 'COSLADA - MADRID', 'COSLADA, MADRID', 'COULOUNIEIX-CHAMIERS', 'COURBEVOIE CEDEX', 'COVENTRY', 'COÍN-MÁLAGA', 'CREMIEU/VILLEMOIRIEU', 'CRETEIL CEDEX', 'CREVILLENT', 'CREVILLENTE (ALICANTE)', 'CUENCA', 'CULLERA-VALENCIA', 'CULLEREDO', 'CUNEO', 'CUPAR', 'CUSSET', 'CZESTOCHOWA', 'Cadiz', 'Cagliari', 'Cambrils', 'Camerino (Macerata)', 'Campobasso', 'Cantabria', 'Canterbury', 'Cardiff', 'Carlow', 'Carquefou', 'Cartagena', 'Cassino', 'Castelldefels', 'Castellon de la Plana', 'Castelo Branco', 'Castro Urdiales (Cantabria)', 'Catania', 'Catarroja', 'Cergy-Pontoise Cedex', 'Cervera', 'Ceske Budejovice', 'Cesson -Sevigne  Cedex', 'Chamalieres', 'Chambery Cedex', 'Chatenay-Malabry', 'Chelm', 'Chelmsford', 'Cheltenham', 'Chemnitz', 'Chester', 'Chichester', 'Chieti Scalo', 'Chorzow', 'Cirencester', 'Clausthal-Zellerfeld', 'Clermont-Ferrand', 'Cluj-Napoca', 'Co Tipperary', 'Coatbridge', 'Coburg', 'Coimbra', 'Colchester', 'Constanta', 'Constantza', 'Copehagen K', 'Copenhagen', 'Copenhagen K', 'Copenhagen O', 'Copenhagen S', 'Cordoba', 'Cork', 'Cornella de Llobregat', 'Cottbus', 'Coventry', 'Covilha', 'Cracow', 'Craiova', 'Cranfield', 'Cuenca', 'Cumbernauld, North Lanarkshire', 'CÁCERES', 'CÁDIZ', 'CÓRDOBA', 'DABROWA GORNICZA', 'DARDILLY', 'DARMSTADT', 'DARNETAL', 'DAUGAVPILS', 'DAX CEDEX', 'DECAZEVILLE', 'DECHY', 'DELFT', 'DELÉMONT', 'DEN HAAG', 'DENAIN', 'DERIO BIZKAIA', 'DERVAL', 'DEVILLE LES ROUEN', 'DIEPENBEEK', 'DIJON', 'DINAN CEDEX', 'DINARD', 'DIYARBAKIR', 'DOBRICH', 'DOL-DE-BRETAGNE', 'DOLE', 'DON BENITO', 'DON BENITO (BADAJOZ)', 'DONCASTER', 'DONOSTIA-SAN SEBASTIAN', 'DORTMUND', 'DOS HERMANAS', 'DOUAI', 'DOUAI Cedex', 'DRANCY', 'DRESDEN', 'DRONTEN', 'DUBLIN', 'DUBNICA NAD VÁHOM', 'DUBROVNIK', 'DUBÍ III -  POZORKA', 'DUCOS', 'DUDLEY', 'DUGNY', 'DUNDEE', 'DUNKERQUE', 'DUNKERQUE CEDEX 2', 'DURANGO', 'DUTOVLJE', 'DUZCE', 'Dannemarie sur Crete', 'Darmstadt', 'Daugavpils', 'Debrecen', 'Deggendorf', 'Delft', 'Denizli', 'Derby', 'Detmold', 'Diepenbeek', 'Dijon', 'Doetinchem', 'Donostia-san Sebastian', 'Dornbirn', 'Dortmund', 'Dresden', 'Dronten', 'Dublin', 'Dublin 15', 'Dublin 24', 'Duesseldorf', 'Dunaujvaros', 'Dundalk, Co. Louth', 'Dundee', 'Dunkerque', 'Durham', 'DÉNIA, ALACANT', 'DĄBROWA GÓRNICZA', 'EASTHAM, WIRRAL.', 'ECULLY FRANCE', 'EDINBURGH', 'EDIRNE', 'EGALEO', 'EIBAR', 'EICHSTAETT', 'EINDHOVEN', 'EIVISSA', 'EL BURGO DE OSMA', 'EL CASAR-GUADALAJARA', 'EL EJIDO (ALMERIA)', 'EL PALMAR (MURCIA)', 'EL PRAT DE LLOBREGAT', 'EL PUERTO DE SANTA MARIA', 'EL PUERTO DE SANTA MARIA (CÁDIZ)', 'EL PUERTO DE SANTA MARÍA (CADIZ)', 'ELAZIG', 'ELBLAG', 'ELCHE', 'ELDA', 'ELDA (ALICANTE)', 'ELIZONDO (NAVARRA)', 'EMBRUN', 'EMDEN', 'ENNA', 'EPINAL', 'EPINAL CEDEX', 'EPINAY SUR SEINE', 'EPRON', 'ERANDIO(BIZKAIA)', 'ERFURT', 'ERRENTERIA', 'ERRENTERIA GIPUZKOA', 'ERZINCAN', 'ERZURUM', 'ESBJERG', 'ESKISEHIR', 'ESPINARDO, MURCIA', 'ESPINHO', 'ESPLUGUES LLOBREGAT', 'ESSEN', 'ESTELLA', 'ESTEPONA', 'ESTORIL', 'EUPEN', 'EVIA', 'EVORA', 'EVREUX', 'EVRY', 'EVRY CEDEX', 'EVRY cedex', 'EXETER', 'Eberswalde', 'Ecully Cedex', 'Ede', 'Edinburgh', 'Eger', 'Egham', 'Eindhoven', 'Eisenstadt', 'Eivissa (Ibiza)', 'El Escorial (Madrid)', 'Elblag', 'Elgin', 'Elgoibar', 'Elgoibar, Gipuzkoa', 'Elmshorn', 'Elverum', 'Enschede', 'Erding', 'Erfurt', 'Erlangen', 'Essen', 'Esslingen', 'Estoril', 'FAFE', 'FALKIRK', 'FALMOUTH', 'FAMAGUSTA', 'FARNHAM', 'FATIH-ISTANBUL', 'FATIH/ISTANBUL', 'FAUVERNEY', 'FELANITX', 'FELLETIN', 'FERMO', 'FERRARA', 'FERROL', 'FIGEAC', 'FIGUERES', 'FINDIKLI-ISTANBUL', 'FIRENZE', 'FIRMINY', 'FLORENCE', 'FOGGIA', 'FOIX CEDEX', 'FONDETTES', 'FONTAINES', 'FORBACH CEDEX', 'FORT DE FRANCE', 'FORT DE FRANCE CEDEX', 'FORT-DE-FRANCE', 'FORT-DE-FRANCE, MARTINIQUE', 'FOZ.LUGO', 'FR- FRANCE', 'FRAGA', 'FRANKFURT AM MAIN', 'FREDERICIA', 'FREDERIKSBERG', 'FREDERIKSHAVN', 'FREGENAL DE LA SIERRA', 'FREIBURG', 'FRIBOURG', 'FRIEDRICHSHAFEN', 'FUENGIROLA', 'FUENGIROLA (MALAGA)', 'FUENLABRADA', 'FULDA', 'FUNCHAL', 'FUTUROSCOPE CHASSENEUIL', 'FUTUROSCOPE CHASSENEUIL CEDEX', 'Faenza', 'Falset', 'Falun', 'Faro', 'Feldkirch', 'Firenze', 'Fisciano (SALERNO)', 'Flensburg', 'Foggia', 'Fontenay-le-Comte', 'Fort-de-France - MARTINIQUE', 'Frankfurt', 'Frankfurt (Oder)', 'Frankfurt am Main', 'Freiberg', 'Freiburg', 'Freiburg im Breisgau', 'Freising', 'Frosinone', 'Fulda', 'Funchal', 'Furtwangen', 'Fyllingsdalen', 'GABROVO', 'GAILLON', 'GALDAKAO', 'GALDAKAO (BIZKAIA)', 'GALWAY', 'GANDIA', 'GANDIA GRAU', 'GARDANNE CEDEX', 'GAVÀ', 'GAZIANTEP', 'GDANSK', 'GDAŃSK', 'GDYNIA', 'GEEL', 'GELSENKIRCHEN', 'GENNEVILLIERS', 'GENOVA', 'GENT', 'GENÈVE', 'GERA', 'GERARDMER', 'GERNIKA-LUMO (BIZKAIA, BASQUE COUNTRY)', 'GETAFE', 'GETAFE (MADRID)', 'GETXO', 'GIF-SUR-YVETTE', 'GIF-SUR-YVETTE CEDEX', 'GIJON - ASTURIAS', 'GIJÓN', 'GINES (SEVILLE)', 'GIRONA', 'GJØVIK', 'GLASGOW', 'GLAUCHAU', 'GLIWICE', 'GLOGOW', 'GLOUCESTER', 'GODELLA-VALENCIA', 'GORZÓW WIELKOPOLSKI', 'GOUDA', 'GOUESNOU', 'GRADIGNAN CEDEX', 'GRANADA', 'GRAND LYON (VAULX EN VELIN) CEDEX', 'GRANDE SYNTHE', 'GRANOLLERS', 'GRANOLLERS (BARCELONA)', 'GRANTHAM', 'GRASSE', 'GRAZ', 'GREENOCK', 'GRENOBLE', 'GRENOBLE CEDEX 01', 'GRENOBLE CEDEX 09', 'GRENOBLE CEDEX 1', 'GRENOBLE CEDEX 2', 'GRENOBLE CEDEX 9', 'GRIMSBY', 'GRONINGEN', 'GUADALAJARA', 'GUARNIZO (CANTABRIA', 'GUER', 'GUER CEDEX', 'GUILDFORD', 'GUIMARÃES', 'GUINGAMP', 'GUMUSHANE', 'GUYANCOURT', 'GYOR', 'GYÖNGYÖS', 'Galati', 'Galway', 'Gandra PRD', 'Gdansk', 'Gdańsk', 'Gdynia', 'Gebze / KOCAELI', 'Gelsenkirchen', 'Genova', 'Gent', 'Getafe (Madrid)', 'Getafe, Madrid', 'Giessen', 'Giresun', 'Girona', 'Gizycko', 'Glasgow', 'Gliwice', 'Gniezno', 'Godollo', 'Goettingen', 'Gorzow Wielkopolski', 'Gorzow Wlkp.', 'Granada', 'Graz', 'Greenwich, London', 'Greifswald', 'Grenoble', 'Grenoble Cedex 9', 'Grenoble cedex 9', 'Groningen', 'Guarda', 'Guildford, Surrey', 'Guingamp', 'GÁLDAR', 'GÄVLE', 'GÖLBASI/ANKARA', 'GÖTEBORG', 'GÖTTINGEN', 'HAGUENAU', 'HALDEN', 'HALL', 'HAMBURG', 'HAMM', 'HANNOVER', 'HARTLEPOOL', 'HASSELT', 'HAUBOURDIN CEDEX', 'HEERLEN', 'HEILBRONN', 'HELLIN (ALBACETE)', 'HELLÍN (ALBACETE)', 'HELSINKI', 'HENGELO (OV)', 'HERAKLION, CRETE', 'HERAS - CANTABRIA', 'HERNANI', 'HERNING', 'HEUGAS', 'HEVERLEE (LEUVEN)', 'HORNCHURCH', 'HRADEC KRÁLOVÉ', 'HUDDINGE', 'HUELVA', 'HUESCA', 'HULL', 'HYERES CEDEX', 'Hagen', 'Halle (Saale)', 'Halmstad', 'Hamburg', 'Hameenlinna', 'Hannover', 'Haro (La Rioja)', 'Harstad', 'Hatfield', 'Heide', 'Heidelberg', 'Heidenheim', 'Heilbronn', 'Helmond', 'Helsinki', 'Hengelo', 'High Wycombe', 'Hildesheim', 'Hof / Saale', 'Huddersfield', 'Huesca', 'HÉROUVILLE SAINT-CLAIR CEDEX', 'IASI', 'IBIZA', 'IGDIR', 'ILLKIRCH-GRAFFENSTADEN', 'ILLZACH', 'IMARCOAIN-NAVARRA', 'INCIVEZ / ZONGULDAK', 'INGERSHEIM', 'INNSBRUCK', 'INVERNESS', 'IRUN', 'ISLE', 'ISNY', 'ISSY LES MOULINEAUX', 'ISTANBUL', 'ISTRES', 'IURRETA', 'IVRY SUR SEINE', 'IZMIR', 'Iasi', 'Idstein', 'Ilmenau', 'Inca', 'Ingolstadt', 'Innsbruck', 'Ioannina', 'Ipswich', 'Irun', 'Iserlohn', 'Isparta', 'Istanbul', 'Izmir', 'Izmit', 'JAEN', 'JAVEA(ALICANTE)', 'JAÉN', 'JELGAVA', 'JEMEPPE', 'JEREZ DE LA FRONTERA', 'JESENICE', 'JIHLAVA', 'JIMENA DE LA FRONTERA', 'JOUY-EN-JOSAS', 'JOUY-EN-JOSAS CEDEX', 'JUMILLA', 'JURMALA', 'JYVÄSKYLÄ', 'Jaroslaw', 'Jelenia Gora', 'Jena', 'Joensuu', 'Jozefow', 'Jurmala', 'JÖNKÖPING', 'KADIKOY - ISTANBUL', 'KALAMATA MESSINIA', 'KALISZ', 'KALLITHEA', 'KALLITHEA ATTIKIS', 'KALOCSA', 'KAMPEN', 'KAPOSVAR', 'KARABÜK', 'KARAMAN', 'KARLOVAC', 'KARLOVY VARY', 'KARLSRUHE', 'KARLSTAD', 'KARS', 'KASTAMONU', 'KATOWICE', 'KAUNAS', 'KAVALA', 'KAYSERI', 'KECSKEMÉT', 'KEHL', 'KEMI', 'KEMPTEN', 'KGS.LYNGBY', 'KIEL', 'KIELCE', 'KILIS', 'KINCARDINE ON FORTH', 'KIRIKKALE', 'KIRKCALDY', 'KIRKLARELİ', 'KIRŞEHIR', 'KLAGENFURT', 'KLAIPEDA', 'KLEVE', 'KNIN', 'KOKKOLA', 'KOLDING', 'KOLÍN', 'KOMÁRNO', 'KONAK,IZMIR', 'KONGSBERG', 'KONIN', 'KONYA', 'KORTRIJK', 'KOSICE', 'KOSZALIN', 'KOZANI', 'KOŠICE', 'KRAKOW', 'KRAKÓW', 'KRANJ', 'KREUZLINGEN 2', 'KRISTIANSAND', 'KRISTIANSTAD', 'KRIŽEVCI', 'KUNOVICE', 'KUOPIO', 'KUTAHYA', 'KUTNO', 'Kahramanmaras', 'Kaiserslautern', 'Kajaani', 'Kampen', 'Karlskrona', 'Karlsruhe', 'Kassel', 'Katowice', 'Kaunas', 'Kaunas district', 'Kauno raj.', 'Kautokeino', 'Kayseri', 'Kempten', 'Kiel', 'Kielce', 'Kingston upon Thames', 'Kirkwall', 'Kladno', 'Klagenfurt', 'Klaipeda', 'Koblenz', 'Koeln', 'Kolding', 'Komotini', 'Konstanz', 'Konya', 'Koper', 'Kortrijk', 'Kosice', 'Kotka', 'Kozani', 'Krakow', 'Krefeld', 'Krems', 'Kristiansand', 'Krosno', 'Kufstein', 'Kuopio', 'Kwidzyn', 'KÖLN', 'KÖTHEN', 'KØBENHAVN K', 'KØGE', "L'AQUILA", "L'Aquila", "L'ELIANA (VALENCIA)", "L'HOSPITALET DE LLOBREGAT", "L'HOSPITALET DE LLOBREGAT (BARCELONA)", "L'Hospitalet de LLobregat", "L'ISLE D'ESPAGNAC", 'LA ALMUNIA DE DOÑA GODINA', 'LA CANOURGUE', 'LA CAÑADA DE SAN URBANO.-ALMERÍA', 'LA COURONNE', 'LA CUESTA-LA LAGUNA', 'LA CÔTE SAINT ANDRE', 'LA FERRIERE', 'LA FLECHE CEDEX', 'LA GARDE', 'LA GUANCHA', 'LA LAGUNA', 'LA LAGUNA - SANTA CRUZ DE TENERIFE', 'LA LAGUNA, S/C DE TENERIFE, ISLAS CANARIAS', 'LA LINEA CONCEPCION', 'LA MOTTE SERVOLEX', 'LA POBLA DE FARNALS', 'LA ROCHE SUR FORON', 'LA ROCHE SUR YON', 'LA ROCHE SUR YON CEDEX', 'LA ROCHE SUR YON Cedex', 'LA ROCHELLE', 'LA ROCHELLE CEDEX 1', 'LA ROCHELLE cedex 1', 'LA SENIA', 'LA SPEZIA', 'LA TRONCHE', 'LA UNIÓN', "LA VALL D'UIXÓ", 'LA ZUBIA, GRANADA', 'LABEGE', 'LABEGE -INNOPÔLE', 'LABEGE CEDEX', 'LAGUNA DE DUERO (VALLADOLID)', 'LAHR', 'LAMIA', 'LANCASTER', 'LANGREO', 'LANGREO (ASTURIAS)', 'LANGUEUX', 'LANNION', 'LARISSA', 'LAS GALLETAS, ARONA.SANTA CURZ DE TENERIFE', 'LAS LAGUNAS- MIJAS-MÁLAGA', 'LAS PALMAS', 'LAS PALMAS DE G.C.', 'LAS PALMAS DE GRAN CANARIA', 'LAS PALMAS DE GRAN CANARIA. LAS PALMAS.', 'LAS REMUDAS TELDE', 'LAS ROZAS', 'LAS ROZAS (MADRID)', 'LASBORDES', 'LATINA', 'LAUSANNE', 'LAVAL', 'LAXOU', 'LAXOU CEDEX', 'LE BOURGET DU LAC CEDEX', 'LE BREUIL SUR COUZE', 'LE COTEAU', 'LE GRAND QUEVILLY', 'LE HAVRE', 'LE HAVRE CEDEX', "LE HOMMET D'ARTHENAY", 'LE KREMLIN BICETRE', 'LE LAMENTIN MARTINIQUE', 'LE LANDREAU', 'LE LORRAIN', 'LE MANS', 'LE MANS CEDEX 1', 'LE MANS CEDEX 9', 'LE MAYET DE MONTAGNE', 'LE MESNIL ESNARD', 'LE PERREUX SUR MARNE', 'LE PORT CEDEX', 'LE PUY-EN-VELAY', 'LE RAINCY', 'LE RHEU', 'LE SOLER', 'LE TAMPON', 'LECCE', 'LEEDS', 'LEFKOSIA', 'LEGANES (MADRID)', 'LEGANÉS', 'LEGANÉS -MADRID-', 'LEGNICA', 'LEICESTER', 'LEIOA', 'LEIPZIG', 'LEMGO', 'LENS', 'LEON', 'LERWICK', 'LES PONTS DE CÉ (ANGERS)', 'LES PONTS DE CÉ CEDEX', 'LESCAR', 'LESZNO', 'LETTERKENNY', 'LEUVEN', 'LEVALLOIS- PERRET', 'LEVALLOIS-PERRET', 'LEVALLOIS-PERRET CEDEX', 'LEÓN', 'LIBEREC', 'LIBOURNE', 'LIBRAMONT', 'LIEGE', 'LILLE', 'LILLE CEDEX', 'LILLERS', 'LIMASSOL', 'LIMERICK', 'LIMOGES', 'LIMOGES CEDEX', 'LIMONEST', 'LIMONEST CEDEX', 'LINARES', 'LINCOLN', 'LINKÖPING', 'LINZ', 'LIPTOVSKÝ MIKULÁŠ', 'LISBOA', 'LISBON', 'LIVINGSTON', 'LIVORNO', 'LIÈGE', 'LJUBLJANA', 'LLEIDA', 'LLERENA', 'LLOMBAI. VALENCIA.', 'LLUCMAJOR', 'LN1 3DY', 'LODZ', 'LOGRONO', 'LOGROÑO', 'LOGROÑO (LA RIOJA)', 'LOGROÑO, LA RIOJA', 'LOMZA', 'LONDON', 'LONDONDERRY', 'LONGUENESSE CEDEX', 'LONGWY', 'LOOS', 'LOPEREC', 'LORA DEL RÍO (SEVILLA)', 'LORCA', 'LORCA (MURCIA)', 'LORCA - MURCIA', 'LORIENT', 'LORIENT CEDEX', 'LOS BARRIOS', 'LOS CAMPOS ( CORVERA) ASTURIAS', 'LOS

In [132]:
print_unique_values(euc, 'code')

['EUC', 'EUCP', 'EUCX']

### Clean data
Make sure to consistently use Upper case for institutional code and citites.

In [133]:
euc.institutional_code = euc.institutional_code.str.upper()
euc.city = euc.city.str.upper()

### Save cleaned data as JSON file

In [134]:
euc.to_json('cleaned_data/euc.json')